 /*===================================
author:	lou xiao jian
email:  jxsr_lxj@163.com
====================================*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
body{font:12px/22px Tahoma,"宋体";word-break:break-all;text-align:center; padding-bottom:15px;color:#383838}
fieldset,img{border:none 0;} 
table {border-collapse:collapse;border-spacing:0;} 
ol,li,ul{list-style:none;} 
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;}
caption,th{text-align:left;} 
h1,h2,h3,h4,h5,h6{font-size:100%;} 
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
input,select,textarea{font:normal normal 12px "Verdana";outline:none}
input,textarea,select{*font-size:100%;}
/* 字体属性 [定义规则，小写f加属性名称] */
.fB{font-weight:bold;}
.fI{font-style:italic;}
/* 字体大小*/
.fs12{font-size:12px;}
.fs14{font-size:14px;}
/* 浮动*/
.fl{float:left;}
.fr{float:right}
/* 其它属性*/
.hide{display:none}
/*textList*/
.tList a{text-decoration:none}
.tList li{padding-left:8px;overflow:hidden;}
/*lrBx*/
.lrBx,.lrBx .rbx{overflow:hidden;zoom:1}
.lrBx .lbx{float:left;_margin-right:-3px}
.lrBx .lbx img{vertical-align:top}
/*.lrBx .rbx{padding-left:10px}*/
/*==clear==*/
.clear{overflow:hidden;zoom:1}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
* html>body .clearfix {display: inline-block;width:100%;}
* html .clearfix{/* Hides from IE-mac \*/height: 1%;/* End hide from IE-mac */}
/* ie7 hack*/
*+html .clearfix {min-height:1%;}
.pitch{margin-bottom:15px}/*间距*/
a{color:#2e6fb3;text-decoration:none;outline:none}
a:hover{color:#fa8c00;text-decoration:underline}
.r-zf-but,.r-kszc-but,.r-dlzf-but,.r-mvideo-but{background-image:url(../img/reprint_but.png);background-repeat:no-repeat;width:123px;height:39px;border:0;cursor:pointer;display:block;text-indent:-9999px}
.r-zf-but{width:83px;background-position:0 -117px}
.r-kszc-but{background-position:0 0}
.r-dlzf-but{background-position:0 -39px}
.r-mvideo-but{background-position:0 -78px}
/*============================================header===================================================*/
#header,#content,#footer{width:574px;margin:0 auto;text-align:left}

#header{padding-top:6px;overflow:hidden;}
#logo{width:180px;background:url(../img/reprint_logo.png) no-repeat;float:left}
	#logo a{display:block;height:51px;text-indent:-9999px}
#login-info{float:right;padding-top:29px}
#login-info .user-name{margin:0 5px}

.p-list{overflow:hidden;zoom:1;line-height:18px;text-align:center}
	.p-list li{float:left;display:inline;padding-bottom:6px}
	.p-item{position:relative}
	.p-list li img,.p-item img{vertical-align:top;padding:2px;background:#fff}
	.p-list .t,.p-list .gz,.p-item .t,.p-item .gz{height:18px;overflow:hidden}
	.p-list .gz a{color:#6eafd5}
	.p-list li .bf{display:none}
	.p-list .canplay .bf,.canplay .bf{width:44px;height:33px;display:block;position:absolute;background:url(../img/but_player.png) no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src="http://image1.webscache.com/kan/style_v9/img/ico_player.png?v=20100705");text-indent:-9999px;cursor:pointer}
	.p-list-a li{width:106px;margin-right:10px;position:relative}
	.p-list-a li img{width:100px;height:75px;border:1px solid #ccc}
	.p-list-a li .bf,.p-item .bf{top:24px;left:31px}
.reprint-act{overflow:hidden;zoom:1}
.reprint{margin:0 auto}
.publish-form{padding-top:20px;zoom:1}
	  .publish-form .hd{overflow:hidden;zoom:1;margin-bottom:5px;}
	  .publish-form .hd h2{height:19px;overflow:hidden;float:left;padding-left:24px;font-weight:normal}
	  .publish-form .hd .zs-tip{float:right;height:22px}
	  .publish-form .hd .zs-tip span{font-family:Georgia,Tahoma,Arial;font-size:20px;color:#2e6fb3;}
	  .publish-form .form-item{overflow:hidden;zoom:1;padding:0 3px}
	  .publish-form .textarea{float:left;margin-top:4px;overflow:auto;border:0}

.reprint-info .hd{background-color:#deedf9;border:1px solid #aac8e4;line-height:25px}
      .reprint-info .bd{background-color:#e6f8f9;border:1px solid #aac8e4;border-top:0;padding:10px 0}
      .reprint-info h2{padding-left:24px;font-weight:normal}
	  .reprint-info .p-item{width:106px;margin:0 auto}
	  .reprint-info .p-item img{width:100px;height:75px;border:1px solid #ccc}
	  .reprint-info .reprint-act{margin-top:10px}
	  .reprint-info .reprint-act .r-zf-but{float:right}

.p-cols{zoom:1}
	.p-cols:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
	.p-cols .p-col1{width:100%;float:left}
	.p-cols .p-col2{float:left}
	.new-p-cols2 .p-col1-1{margin-left:167px;padding:0 27px 0 20px}
	.new-p-cols2 .p-col2{width:167px;margin-left:-100%;}
	
/*已登录用户转发页面*/
#reprint{margin:0 4px 0 3px}
  #reprint-bd{background:#c4eef4 url(../img/reprint_bd.png) repeat-x}
  #reprint,#reprint .reprint-info h2{background:url(../img/reprint.png) no-repeat;}
  #reprint{height:324px}
  #reprint .bx{padding-left:23px;padding-right:24px}
  #reprint .reprint-info h2{background-position:-23px -123px}
  #reprint .publish-form{padding-bottom:2px}
  #reprint .publish-form .textarea{width:510px;height:70px}
/*已登录用户转发页面*/

/*转发成功页面*/
#reprint-ok{margin:0 4px 0 3px}
#reprint-ok-bd{background:#c4eef4 url(../img/reprint_ok_bd.png) repeat-x}
#reprint-ok{height:216px;background:url(../img/reprint_ok.png) no-repeat}
	#reprint-ok .bd{ padding:20px; text-align:center}
	#reprint-ok .reprint-act{margin-top:15px}
	#reprint-ok .reprint-act .r-mvideo-but{margin:0 auto}
	#reprint-ok .reprint-ok-tip{font-size:18px;font-family:"Microsoft Yahei"; font-weight:bold; margin:25px 0 10px 0}
/*转发成功页面*/

/*未登录用户转发页面*/
#reprint-nologin,#reprint-nologin .reprint-info h2{background:url(../img/reprint_nologin.png) no-repeat;}
  #reprint-nologin{height:402px}
  #reprint-nologin-bd{background:#c4eef4 url(../img/reprint_nologin_bd.png) repeat-x}
  #reprint-nologin .reprint-info h2{background-position:-187px -122px}
  #reprint-nologin .publish-form{padding-bottom:1px}
  #reprint-nologin .publish-form .textarea{width:354px;height:70px}
  .reg-info{padding:63px 0 0 25px}
  .reg-info .r-kszc-but{vertical-align:top}
  .reg-info p{color:#f00}

.form-field .form-item{overflow:hidden;zoom:1;line-height:23px;vertical-align:top}
	.form-field .form-item label,.form-field .form-item span,.form-field .form-item input,.form-field .form-item img{float:left;margin-right:5px}
	.form-field .form-item label{margin-right:0}
	.form-field .form-item .input,.form-field .form-item .input2{border-left:1px solid #d3d6cb;border-top:1px solid #d3d6cb;border-right:1px solid #f2f2f2;border-bottom:1px solid #f2f2f2;height:21px;padding:2px 0 0 3px}
	.form-field .form-act .dl-but{margin-right:15px; display:block}

#login-form{text-align:left;zoom:1;position:relative;margin-top:20px}
	#login-form .form-item{margin-bottom:10px}
	#login-form .form-item label{width:50px}
	#login-form .form-item .input{width:118px}
	#login-form .form-item .input2{width:35px}
	#login-form .form-act{position:absolute; top:0; left:240px}
/*/未登录用户转发页面*/