 /*===================================
author:	lou xiao jian
email:  jxsr_lxj@163.com
====================================*/
#square-nav .square-nav-list,#square-nav .s-nav-item,#square-nav .s-nav-item a,#square-nav .s-nav-item a b,.square #user-info .lbx,.a-bx .a-tp,.a-bx .a-ft,.a-bx .a-tp b,.a-bx .a-tp s,.a-bx .a-ft b,.a-bx .a-ft s,.p-title-a,.c-but,#square-search .square-hot-word span,.bx2 .hd,.ctj-previous,.ctj-next,.sq-tab,.sq-tab .sq-tab-item,.sq-tab .sq-tab-item span,.hot-data,.date-select,.tlist2 li,.top-nav li,.r-nub,.r-nub2{background-image:url(../img/square.png);background-repeat:no-repeat}

.table ul{overflow:hidden;zoom:1}
.table li{float:left}

.square #content{background:#fff;position:relative;z-index:2}
	.square #user-info{border-bottom:1px solid #f1f1f1;margin-left:-13px;margin-right:-13px;position:relative;zoom:1}
	.square #user-info .lbx{background-position:0 -283px}
	.square .user-t-info li{border-left:1px solid #e5e5e5}

.crumb{margin:15px 10px 15px 20px}
.r-nub,.r-nub2{width:19px;height:13px;line-height:13px;overflow:hidden;text-align:center;display:inline-block;color:#fff;font-size:10px;font-family:Arial, Helvetica, sans-serif}
.r-nub{background-position:-128px -310px}
.r-nub2{background-position:-128px -323px}
.r-nub3{font-size:11px;font-weight:bold;font-family:Arial, Helvetica, sans-serif}

.date-select{width:129px;height:23px;line-height:23px;background-position:0 -372px;text-indent:10px;cursor:pointer;font-size:11px;color:#383838}
.tlist2 li{background-position:-157px -320px;padding-left:8px}
.hot-data{width:66px;height:54px;background-position:-62px -283px;text-align:center}
    .hot-data span{overflow:hidden;display:block}
	.hot-data-count{font-size:14px;font-weight:bold;line-height:32px;height:32px}
	.hot-data-text{line-height:19px}

.a-bx .a-tp,.a-bx .a-ft{height:5px;line-height:5px;overflow:hidden;background-repeat:repeat-x;background-color:#e3efff}
    .a-bx{background:url(../img/a_bx_l.png) left repeat-y}
	.a-bx .a-tp{background-position:0 -172px}
	.a-bx .a-tp b,.a-bx .a-tp s,.a-bx .a-ft b,.a-bx .a-ft s{width:5px;height:5px;overflow:hidden}
	.a-bx .a-tp b{float:left;background-position:-148px -189px}
	.a-bx .a-tp s{float:right;background-position:-153px -189px}
	.a-bx .a-ft{background-position:0 -178px}
	.a-bx .a-ft b{float:left;background-position:-148px -194px}
	.a-bx .a-ft s{float:right;background-position:-153px -194px}
	.a-bx .a-bd{background:url(../img/a_bx_r.png) right repeat-y;padding:0 5px}


.bx2 .hd{height:32px;line-height:32px;border:1px solid #f2f2f2;background-position:0 -140px;background-repeat:repeat-x;padding-left:10px;overflow:hidden}
	.bx2 .hd .p-title-a{margin-top:9px}
	.bx2 .bd{padding-top:10px}
	.bx2 .act{top:5px}
	
.bx3 .hd{padding-bottom:10px;border-bottom:1px solid #cccccc;zoom:1; overflow:hidden; line-height:14px}
	.bx3 .hd h2{float:left}
	.bx3 .hd .fans-nub{float:right;color:#909090}
	.bx3 .bd{border-top:4px solid #f4f4f4;zoom:1;padding-top:5px}

.p-title-a{height:14px;text-indent:-9999px;overflow:hidden}

.square-sub-nav{position:absolute;background:#fff;z-index:990;border:1px solid #c3cbd4;text-align:center;line-height:27px;padding:4px 0;visibility:hidden}
	.square-sub-nav li{padding:0 2px}
	.square-sub-nav a{font-weight:normal;color:#2e6fb3;background:#fff;display:block;zoom:1}
	.square-sub-nav a:hover{background:#eeeff5;color:#2e6fb3;text-decoration:none}
	
#square-nav{border-left:1px solid #fff;border-top:1px solid #fff}
	#square-nav .square-nav-list{zoom:1;background-repeat:repeat-x}
	#square-nav .square-nav-list:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
	#square-nav .s-nav-item{float:left;height:36px;line-height:36px;background-position:right -283px;font-size:14px;padding-right:2px;position:relative;z-index:990}
	#square-nav .s-nav-item a{display:block;padding:0 14px 0 16px;position:relative;float:left}
	#square-nav .s-nav-item a b{width:9px;height:5px;overflow:hidden;position:absolute;right:10px;top:50%;margin-top:-2px;background-position:-148px -199px}
	#square-nav .s-nav-item a:hover{text-decoration:none;color:#009900}
	#square-nav .s-nav-item a:hover b,#square-nav .select a b{background-position:-148px -204px}
	#square-nav .select a{background-position:0 -36px;color:#009900;}
	#square-nav .square-sub-drop a{width:68px;padding:0 10px}
	#square-nav .square-sub-nav{width:89px;top:35px;left:-2px;}
	#square-nav .square-sub-nav a{width:auto;padding:0;float:none;background:#fff;color:#2e6fb3}
	#square-nav .square-sub-nav a:hover{background:#eeeff5;color:#2e6fb3;text-decoration:none}

.h-slider{position:relative;overflow:hidden}
    .h-slider .h-slider-h{position:absolute}
	
#hot-tags .bx{padding:5px 5px 1px;position:relative;zoom:1;background:url(../img/hot_tags.jpg) top no-repeat}
	#hot-tags .bx .also-say{position:absolute;top:0;right:15px}
	#hot-tags .hd{border-bottom:1px solid #eaedf2;height:22px;margin-bottom:15px}
	#hot-tags .bd{padding-bottom:15px}
	#hot-tags h3{width:362px;position:absolute;top:1px;left:68px;font-size:14px;height:22px;overflow:hidden;font-weight:normal}
	#hot-tags .tk-item{border-top:0;padding:0;margin-top:0}
	#hot-tags .tk-item .gz-but2,#hot-tags .tk-item .ygz-but2{margin-top:5px}
	#hot-tags .rbx{padding-left:10px}
	#hot-tags .tk-topic{height:44px;overflow:hidden}
	#hot-tags h2{width:60px;background-position:-64px -197px}
	#hot-tags .h-slider{height:81px}
	#hot-tags .h-slider .h-slider-h{width:520px}

#square-search{zoom:1;line-height:27px}
    #square-search .form-item label,#square-search .form-item input{float:left;margin-right:10px}
	#square-search .form-item label{font-size:14px}
	#square-search .d-input{border:1px solid #dfdfdf;width:278px;height:20px;padding-top:5px;font-size:14px;text-indent:4px}
	#square-search .c-but{width:64px;height:27px;border:0;background-position:0 -183px;cursor:pointer;color:#fff;line-height:27px;padding-bottom:2px}
	#square-search .square-hot-word{padding-left:104px;height:27px}
	#square-search .square-hot-word span{width:24px;height:14px;overflow:hidden;display:block;background-position:-124px -197px;text-indent:-9999px; position:absolute;top:50%;margin-top:-7px;left:80px}
	#square-search .square-hot-word a{margin:0 5px}
	
#celebrity-tj .p-title-a{width:56px;background-position:0 -126px}
	#celebrity-tj .user-name{font-size:14px}
	#celebrity-tj .tk-list{width:495px;height:56px;overflow:hidden;margin:0 auto}
	#celebrity-tj .tk-item{width:155px;float:left;border:0;padding:0;margin:0 5px;display:inline}
	#celebrity-tj .rbx{padding-left:10px;height:56px;overflow:hidden}
	#celebrity-tj .tk-nr{overflow:hidden;margin:0 0 16px 0;line-height:16px}
	#celebrity-tj .tk-intr{height:36px;overflow:hidden;line-height:18px;color:#909090}
	#celebrity-tj .sliding-handle{position:absolute;top:0;left:0}
	.ctj-previous,.ctj-next{width:15px;height:27px;position:absolute;text-indent:-9999px;cursor:pointer;top:60px}
	.ctj-previous{background-position:-128px -283px;left:0}
	.ctj-next{background-position:-143px -283px;right:0}

.p-list-c{padding-left:7px}
    .p-list-c .p-item{width:56px;margin:0 13px;padding-bottom:0}
	.p-list-c .gz-but2,.p-list-c .ygz-but2{text-align:left; margin-top:3px}

.sq-tab{background-position:0 -345px;background-repeat:repeat-x;line-height:27px;overflow:hidden;height:27px} 
	.sq-tab a:hover{text-decoration:none}
	.sq-tab .sq-tab-item,.sq-tab .sq-tab-item span{display:block;float:left}
	.sq-tab .sq-tab-item{background-position:left -72px;padding-left:3px;margin-right:5px}
	.sq-tab .sq-tab-item span{background-position:right -72px;cursor:pointer}
	.sq-tab .select{background-position:left -99px;color:#383838}
	.sq-tab .select span{background-position:right -99px;}

#brand-library .p-title-a{width:41px;background-position:-112px -126px}
#game .p-title-a{width:56px;background-position:-56px -126px}

.sq-cols{overflow:hidden;zoom:1;margin-bottom:30px}
	.sq-cols #brand-library{width:260px;float:left}
	.sq-cols #game{width:260px;float:right}
	
#sq-index-hot .sq-tab{padding-left:10px}
	#sq-index-hot .sq-tab span{padding:0 27px 0 24px;font-size:14px}
	

/*===人气热榜首页===*/
#top-cat{padding:20px 0;margin:0 20px;overflow:hidden;zoom:1}
	#top-cat .bx3{float:left;border-left:1px solid #e5e5e5;display:inline;margin-left:-1px;height:1745px}
	#top-cat .bx3 .act{text-align:right}

#star-top{width:215px;margin-right:29px}
#star-top .p-title-a{width:69px;background-position:0 -395px}
#neirong-top .p-title-a{width:69px;background-position:-69px -395px}
#userrq-top .p-title-a{width:70px;background-position:0 -409px}
#neirong-top{width:272px}
#neirong-top .hd,#neirong-top .bd{margin:0 29px}
#userrq-top{width:244px}
#userrq-top .hd,#userrq-top .bd{margin-left:29px}

.top-list2,.top-list2 li{overflow:hidden;zoom:1}
	.top-list2 li{vertical-align:top;border-top:1px dashed #cccccc;margin-top:-1px;line-height:33px;height:33px}
	.top-list2 .avatar30{height:30px}
	.top-list2 .qs{height:46px;line-height:46px}
	.top-list2 .qs .a-avatar{margin-top:5px}
	.top-list2 .r-nub,.top-list2 .r-nub2,.top-list2 .a-avatar,.top-list2 .user-name{float:left;margin-right:10px}
	.top-list2 .r-nub,.top-list2 .r-nub2{position:relative;top:50%;margin-top:-7px}
	.top-list2 .gz-nub{float:right; font-size:11px}

	
.user-info-tip{padding:0 4px 10px;width:223px;border:1px solid #d7d7d7;position:absolute;background:#fff;z-index:99999;text-align:left}
    .user-info-tip .u-tt{margin-right:15px;overflow:hidden;line-height:18px;zoom:1}
	.user-info-tip .u-tt .user{color:#2e6fb3}
	.user-info-tip .u-tt .user strong{font-weight:normal}
	.user-info-tip .u-tt .user{float:left;padding-right:22px;font-size:14px}
	.user-info-tip .u-tt .gold,.user-info-tip .u-tt .silver,.user-info-tip .u-tt .cert{float:left;margin:3px 0 0 -20px}
	.user-info-tip .u-tt .cert{margin-top:4px}
	.user-info-tip .rz-icon2-tt .user{padding-right:42px}
	.user-info-tip .rz-icon2{width:40px;float:left;margin-left:-40px;}
	.user-info-tip .rz-icon2 .gold,.user-info-tip .rz-icon2 .silver,.user-info-tip .rz-icon2 .cert{margin-left:2px; display:inline}
	.user-info-tip .lbx{width:62px;height:62px}
	.user-info-tip .lbx .avatar{border:1px solid #ccc;margin-bottom:5px;margin-top:4px}
	.user-info-tip .rbx{padding:5px 0 0 4px}
	.user-info-tip .user-t-info{margin-left:-8px; margin-bottom:5px}
	.user-info-tip .user-t-info li{width:47px;}
	.user-info-tip .user-t-info li em{font-size:12px}
	.user-info-tip .user-js{border-top:1px dashed #ccc;color:#909090;padding-top:2px}
	.user-info-tip-close{width:12px;height:12px;overflow:hidden;line-height:12px;position:absolute;top:5px;right:0}
/*===人气热榜首页===*/


/*===人气热榜列表页===*/
#top-list-rank{zoom:1;margin:0 20px; padding-bottom:20px}
.top-list{margin-bottom:20px}
    .top-list .avatar30{height:30px}
    .top-list ul{border-bottom:1px dashed #cccccc}
	.top-list li{line-height:56px;height:56px;overflow:hidden}
	.top-list .head{background:#f4f4f4;color:#909090;border-bottom:1px solid #ccc}
	.top-list .head li{color:#909090;line-height:30px;height:30px}
	.top-list .head .t1{font-size:12px}
	.top-list .r-nub,.top-list .r-nub2,.top-list .gz-but2,.top-list .ygz-but2,.top-list .t2 a{display:block;margin:0 auto;position:relative;top:50%}
	.top-list .r-nub,.top-list .r-nub2{margin-top:-7px}
	.top-list .gz-but2,.top-list .ygz-but2{margin-top:-9px}
	.top-list .t1{width:5%;text-align:center}
	.top-list .t2{width:7%;text-align:center}
	.top-list .t2 a{margin-top:-18px}
	.top-list .t3{width:18%;text-indent:15px}
	.top-list .t4{width:38%;color:#909090}
	.top-list .t5{width:8%}
	.top-list .t6,.top-list .t5{text-align:center;text-indent:10px}
	.top-list .t6{width:14%}
	.top-list .t7{width:9%}
.all-top-drop{display:inline-block;position:relative;padding-right:14px}
	.all-top-drop b{position:absolute;top:50%;right:2px;border-bottom:5px solid #fff;border-top:5px solid #2e6fb3;border-left:4px solid #fff;border-right:5px solid #fff;width:0; height:0; overflow:hidden;cursor:pointer}
	#all-top-drop-nav{width:80px; top:75px; left:20px}
/*===/人气热榜列表页===*/

/*===热门标签页===*/
#hot-tags-single .hts-hd{padding:10px 0;border-bottom:1px solid #e5e5e5;margin:0 10px 10px}
    #hot-tags-single .p-title-a{width:84px;background-position:-64px -183px}
	#hot-tags-single .hd h3{float:left;_margin-right:-3px}
	#hot-tags-single .hd .tag-cz{color:#909090;margin-left:10px}
	#hot-tags-single .hd .tag-cz a{margin:0 10px}
/*===/热门标签页===*/

/*===随便看看===*/
.wb-filter{overflow:hidden;zoom:1;background:#f0eef0;height:32px;line-height:32px;*line-height:35px;_line-height:32px;line-height:35px\0;padding:0 10px}
	.wb-filter label,.wb-filter .tx,.wb-filter .fg,.wb-filter .but{float:left;margin-right:10px}
	.wb-filter .but{line-height:23px;margin-top:5px}
	.wb-filter .tx{color:#909090}
	.wb-filter label{cursor:pointer}
	.wb-filter .rck{margin-top:10px}
	.wb-filter .fg{color:#909090;height:12px;overflow:hidden;line-height:12px;margin:10px 12px 0 0}

#weiboing{position:relative;zoom:1}
	#weiboing .hd{font-size:14px}
	#weiboing .bd{padding-top:10px}
	#weiboing .also-say{position:absolute; top:0;right:0}
/*===/随便看看===*/

/*===1小时标签排行页===*/
#hour-tags-bd .date-select{position:absolute;right:20px;top:50px}

#hour-tag-tab{margin:0 10px 0 20px;padding-left:20px}
	#hour-tag-tab span{padding:0 10px 0 7px;color:#2e6fb3}

.per-heat{height:6px;overflow:hidden;background:#e9e9e9;position:relative;top:50%;margin-top:-3px}
.per-heat span{float:left;height:6px;background:#ff9a4c}

#tags-list-rank ul{border-bottom:1px dashed #cccccc}
	#tags-list-rank li{line-height:34px;height:34px;overflow:hidden}
    #tags-list-rank .icon-rise,#tags-list-rank .icon-smooth,#tags-list-rank .icon-drop{position:relative;display:block;top:50%;margin:-5px auto 0}
	#tags-list-rank .head{color:#909090;text-align:center}
	#tags-list-rank .head .t1{font-size:12px}
	#tags-list-rank .t1{width:32%;font-size:14px;position:relative; text-indent:42px}
	#tags-list-rank .t1 em{width:24px;position:absolute;left:12px;top:0;text-indent:0;font-size:10px;font-family:Arial;color:#ff7e52;display:inline-block;text-align:left;}
	#tags-list-rank .t2{width:30%}
	#tags-list-rank .t2 .per-heat{width:110px;margin:0 auto}
	#tags-list-rank .t3{width:32%;text-align:center}
	#tags-list-rank .t4{width:5%}
#thermal-event h2{font-size:14px; font-weight:normal}
    .event-list{overflow:hidden;zoom:1}
    .event-item{border-top:1px dashed #ccc;padding:10px 0; margin-top:-1px}
	.event-item .title,.event-item .xg-tag{font-weight:normal;height:22px;overflow:hidden}
	.event-item .xg-tag{color:#909090}
	.event-item .xg-tag a{margin-right:8px}
/*===/1小时标签排行页===*/


/*===热门转发和评论页===*/
.top-nav{line-height:36px;font-size:14px}
	.top-nav li{background-position:0 -211px;padding-left:30px; margin-bottom:8px}
	.top-nav .select{background-position:0 -247px;font-weight:bold}
	.top-nav .select a{color:#2E6FB3; text-decoration:none}
.top-hd{font-size:14px;color:#909090; position:relative}
	.top-hd .date-select{position:absolute;right:6px;top:50%;margin-top:-11px}
	.top-hd .top-lx{margin-left:-11px}
	.top-hd .top-lx a{margin:0 11px;zoom:1}
	.top-hd .top-lx .select{color:#383838;cursor:default}
	.top-hd .top-lx .select:hover{color:#383838;text-decoration:none}
/*===热门转发和评论页===*/