.focus{width:570px;overflow:hidden;position:relative;margin-bottom:10px}
	.focus-m{height:300px;overflow:hidden;float:left;width:100%;position:relative;z-index:10}
	.focus-m ul{margin-right:230px;position:absolute}
	.focus-m li{height:300px}
	.focus-m li img{width:480px;height:300px;vertical-align:top}
	.focus-n{float:left;width:95px;margin-left:-100px;}
	.focus-n ul{padding-top:1px;zoom:1}
	.focus-n li{height:61px;cursor:pointer;background-color:#f3f3f3;color:#2b6bad;position:relative;z-index:20;background:url(../img/focus.png)  left -61px no-repeat;margin-top:-1px; vertical-align:top}
	.focus-n li a{zoom:1;cursor:pointer;display:block}
	.focus-n li a:hover{text-decoration:none;color:#2B6BAD}
	.focus-n li img{width:80px;height:50px;margin:5px 0 0 10px;vertical-align:top}
	.focus-n .select{background-position:left 0;color:#000000;z-index:25}
	.focus-n .select a,.focus-n .select a:hover{color:#000}