#lights{background:#000000;color:#9e9e9e}
#lights .hd{background:#1c1c1c; border-color:#5d5d5d; color:#9e9e9e}
#lights .bd{border-color:#5d5d5d}
#lights #header{background:none}
#lights #header .bl,#lights #header .br{background-color:#5d5d5d}
#lights .mv-item .imgs{border:1px solid #2c2c2c}
#lights .mv-item .info-list2 .js .more{background-color:#000000}
#lights .EsHandle b{width:7px;height:4px;background-position:-30px -72px;margin-top:-16px;zoom:1}
#lights div.Shrink b{background-position:-37px -72px;}
#lights .p-tip{border-color:#5d5d5d;background:#0f0f0f;color:#9e9e9e}
#lights #video-hd .vi-behavior a{border:1px solid #5d5d5d;background:#1c1c1c}
#lights .motif-item .drop-wrap .drop-handle{border-color:#5d5d5d;background:#9e9e9e;color:#fff}
#lights #play-bt,#lights #tool-bar li{border-color:#5d5d5d;}
#lights #tool-bar{background:#1c1c1c;border-color:#5d5d5d;}
#lights #footer{background:#353535}
#lights #footer .ft-txt{border:0}
#lights #footer .ft-list{background:#262626;}
#lights .comment_lei{background:none}
#lights .c_fb,#lights .r_fb{border:1px solid #5d5d5d;background:#262626}
#lights .c_bx,#lights .r_bx,#lights .r_fb{background:none}
#lights .c_bx,#lights .r_bx{border-color:#262626;}
#lights .c_tp,#lights .c_bt,
#lights .r_tp,#lights .r_bt,#lights .r_san{display:none}
#lights p.viewAllComments{background:none;border-top:1px dashed #5d5d5d;}
#lights form.postcomment input, #lights form.postcomment textarea{border:1px solid #5d5d5d;background:#1c1c1c}
#lights .pagenav a,.pagenav span{border:1px solid #5d5d5d;color:#2b6bad;background:#1c1c1c}
#lights .pagenav .on{background:#9e9e9e;border:1px solid #9e9e9e;}
#lights .p-tip .p-close{background-position:-71px -73px}