.p-tip .p-close,.js-list li a{background-image:url(img/pps.png);background-repeat:no-repeat}
h1{font:22px/1.5 Microsoft Yahei;color:#383838;margin-bottom:10px}
	h1 a{color:#383838}
	h1 a:hover{color:#fa8c00;text-decoration:underline}
#content{position:relative}
#news-tip{position:absolute;right:0;top:7px}
#news-tip a{margin-left:10px}
#t-banner{margin-bottom:20px}
	#t-banner img{width:960px;vertical-align:top}
	
/*==for all website==*/
.p-tip{height:19px;border:1px solid #ffd667;background:#fffcc9;line-height:19px;display:inline-block;*display:inline;*zoom:1;padding:0 16px 0 8px;position:relative}
	.p-tip .p-close{position:relative;width:8px;height:7px;display:inline-block;overflow:hidden;text-indent:-9999px;background-position:-71px -80px;margin-left:5px;position:absolute;right:4px;top:6px}
/*==/for all website==*/

.dra-version{position:relative;zoom:1}
	.dra-version .p-tip{position:absolute}
	.dra-version .p-tip a{font-weight:bold}
	
/*==for all website==*/
.js-list,.js-list2{overflow:hidden;zoom:1}
	.js-list li{float:left;width:55px;line-height:20px;margin:10px 10px 0 0;display:inline;text-align:center}
	.js-list li a{height:20px;display:block;border:1px solid #e7e7e7;background-position:0 -31px;background-repeat:repeat-x}
	.js-list li a:hover{background-position:0 -52px;border:1px solid #ff6306; color:#fff;text-decoration:none}
.js-list2 li{width:270px;float:left;background-position:-124px -75px;height:22px;margin-right:20px;display:inline}

/*==/for all website==*/	
#episode-list .bd{overflow:hidden;zoom:1;position:relative; z-index:999}
    #episode-list #dra-version-name{position:absolute;top:4px;right:5px;color:#b0b0b0}
	#episode-list #dra-version-name a{margin:0 10px;font-weight:bold}
	#episode-list .dra-version{border-top:1px dashed #cccccc;margin-top:-1px;padding:10px 0 15px 0;overflow:hidden;position:relative}
	#episode-list .dra-version .js-list{height:96px}
	#episode-list .dra-version .dra-esHandle{position:absolute;right:3px;bottom:15px}
	#episode-list .dra-version .js-list,#episode-list .dra-version .js-list2{margin-right:-30px}
	#episode-list .dra-version .p-tip{top:11px;right:3px;}
	
/*==for all website==*/		
#comment{position:relative;zoom:1}
    #comment #comment-bd{zoom:1}
	#comment #newCommentspan{display:none}
	#comment .ctitle{background:none;position:absolute;right:0;top:0;border:0}
	#comment .popo .pagenav {float:right; margin-top:10px}
	#comment form.postcomment .impression{width:85%;}
    #comment form.postcomment label{width:10%;}
    #comment form.postcomment textarea{display:block;height:132px;width:75%}
	#comment form.postcomment .submit,#comment form.postcomment div.attention{margin-left:10%}
/*==/for all website==*/	

/*=================================for module-p-col2.html============================================*/
#video-info .bd{padding-top:10px;padding-bottom:10px}
/*==recom==*/
.recom dl{position:relative;padding:5px 90px 0 0;zoom:1;border-bottom:1px dashed #b5b5b5;height:auto!important;height:45px;min-height:45px}
	.recom dl dt,.recom dl dd{overflow:hidden;zoom:1;}
	.recom dl dt{line-height:16px;margin-bottom:5px;height:16px;overflow:hidden; font-weight:bold}
	.recom dl dt .score{ margin-left:8px;font-size:12px}
	.recom dl dd{line-height:20px;height:20px;overflow:hidden;padding-left:10px}
	.recom dl dd a img{width:20px;height:20px;margin-right:3px;vertical-align:middle}
	.recom dl dd .tj{color:#5f5f5f; margin-left:5px}
	.recom .recom_digger{width:90px;height:40px;overflow:hidden;position:absolute;top:5px;right:0;color:#2e6fb3}
	.recom .recom_digger li{margin-left:15px;font-family:"ו";line-height:18px;height:18px;overflow:hidden;cursor:pointer}
	.recom .recom_digger .zc{margin-top:3px}
#recom{position:relative;zoom:1}
	#recom .recom_act{padding:5px 0 10px 5px;text-align:right}
	#recom .recom_act .but{vertical-align:top}	
/*==/recom==*/
/*==/fowr all website==*/	
#motif-info{color:#383838}
    #motif-info .bd{padding-top:5px; padding-bottom:5px}
	#motif-info .m-tags a{margin-right:10px}
	#motif-info .m-yx{line-height:1.5}
	#motif-info .m-yx a{margin:0 10px;white-space:nowrap;display:inline-block}
	#motif-info .m-yx .but{vertical-align:middle}
	#motif-info .per-rise,#motif-info .per-drop,#motif-info .per-smooth{margin-left:15px}
	.motif-item em{color:#999}
	.motif-item .drop-wrap{display:inline-block;*display:inline;*zoom:1;vertical-align:middle}
	.motif-item .drop-wrap .drop-handle{height:16px;border:1px solid #d6d8d8;line-height:16px;padding:0 15px 0 5px;margin:0 5px}
	.motif-item .drop-wrap .drop-handle b{right:5px;top:7px}
/*==/fowr all website==*/	
#v-vote .bd{zoom:1}
	#v-vote ul{overflow:hidden;padding-bottom:5px;zoom:1;position:relative}
	#v-vote li{border-top:1px dashed #c9c9c9;line-height:27px;height:27px;overflow:hidden;position:relative;padding-right:70px;margin-top:-1px}
	#v-vote li span{color:#f56b06;position:absolute;top:0;right:0; font-family:"ו"}
	#v-vote .v-vote-act{text-align:right; padding-bottom:10px}
	#v-vote .v-vote-act .but{vertical-align:top}
/*=================================for module-p-col2.html============================================*/