body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, iframe { padding:0; margin:0; }
body { font:12px/22px  Verdana,"宋体";word-break:break-all;color:#444;background:#D1DDED}
table td{ font-size:12px;}
ul, li { list-style:none; }
cite, em, address { font-style:normal; }
input, select, textarea { font:normal normal 13px "Verdana"; color:#333;}
h1, h2, h3, h4, h5, h6 { font-size:14px; }
img { border:0; }fieldset { border:none; }
.blod a, .blod { font-weight:bold; }
.blue a, .blue { color:#06c; }
.red a, .red { color:#f03; }
.or a, .or { color:#f60; }
.green a, .green { color:#390; }
a.blod, a.blod:link, a.blod:visited { font-weight:bold; }
a.red, a.red:link, a.red:visited { color:#f03; }
a.blue, a.blue:link, a.blue:visited { color:#06c;text-decoration:underline}
a.or, a.or:link, a.or:visited { color:#f60; }
a.green, a.green:link, a.green:visited { color:#390; }
.gray,a.gray,a.gray:visited,a.gray:hover{ color:#999}
.fB { font-weight:bold; }
.fI { font-style:italic; }
.f12px { font-size:12px; }
.f14px { font-size:14px; }
.fl { float:left; }
.fr { float:right; }
.center { text-align:center; }
.mid { vertical-align:middle; }
.fwn { font-weight:normal; }
.hidden { display:none; }
.submit { cursor:pointer; border:0; }
.noText { display:block; height:0; width:0; line-height:0; overflow:hidden; }
.textList a { text-decoration:none; }
.textList li { padding-left:15px; line-height:24px; height:24px; overflow:hidden; }
.clear { clear:both; font-size:0; width:0; height:0; visibility:hidden; line-height:0; }
.clearfix:after { content:""; display:block; height:0; clear:both; visibility:hidden; }
* html>body .clearfix { display:inline-block; width:100%; }
* html .clearfix {/* Hides from IE-mac \*/ height:1%;/* End hide from IE-mac */ ; }
*+html .clearfix { min-height:1%; }
.table li { float:left; overflow:hidden; }
.table li em { margin-left:10px; }
.table ul { overflow:hidden; zoom:1; }
.table .head { font-weight:bold; }
.clear { overflow:hidden; _zoom:1; }
.main { float:left; width:100%; }
.rBar { float:left; }
.lBar { float:left; margin-left:-100%; }
.pltr { overflow:hidden; zoom:1; }
.pltr .img { float:left; _margin-right:-3px; }
.pltr .img img { vertical-align:top; }
.pltr .tr { zoom:1; }
.zy { zoom:1; overflow:hidden; }
.zy dt, .zy dd { float:left; }
.zy dt img{ vertical-align:top;}
.hide{ display:none;}

a{color:#17365a;text-decoration:none;outline:none}
a:hover{text-decoration:none}
.i-cols{position:relative;zoom:1}
	.i-cols:after {content:"";display:block;height:0;clear:both;visibility:hidden;}
	.i-cols .i-col1{width:100%;float:left}
	.i-cols .i-col2{float:left;margin-left:-100%}
	.new-i-cols .i-col1-1{margin-left:205px;border-top:1px solid #b6c9df;border-left:1px solid #b6c9df;background:#ffffff;padding:0 25px;position:relative;zoom:1}
	.new-i-cols .i-col2{width:201px;}
	.new-i-cols .screenControl{background:#ebf0f6;border-top:1px solid #b6c9df;border-right:1px solid #b6c9df;position:relative;left:0;zoom:1}
/*background*/
#logo a,.jk-menu .jk-menu-item,.adminBx b,.adminBx s,.jk-menu .ms ul li b,.jk-menu .jk-menu-item b,.ic,.ic2,.ic3,.ic4,.ic5,.crumb,.screen-shrinking,.screen-shrinking-b,
.cbtn,.ibtn,.dbtn,.mnav li,.mnav .cur,.page .pre,.page .next,.page .go,.tabc .up b,.tabc .down b,.dialog-hd,.rank b,.editTime em{background-image:url(../img/inspect.png);background-repeat:no-repeat}
#wrapper{width:expression((documentElement.clientWidth < 1000) ? "1000px" : "auto" );min-width:1000px}
#header{position:relative; height:82px;background:#536E8E;border:1px solid #B6C9DF;margin-bottom:5px; padding-left:286px}
#logo{width:270px;height:63px;position:absolute; top:11px;left:14px}
#logo a{display:block; height:63px; text-indent:-9999px}

.admin-user{color:#ff0000; display:inline-block; width:60px; text-align:center; height:22px; vertical-align:middle; overflow:hidden;}
.adminBx{width:246px;height:32px;position:relative;zoom:1;background:#b1c1d5;border:1px solid #9db2cb;top:-1px;color:#17365a;float:right;margin-right:25px;display:inline;}
	.adminBx b,.adminBx s{position:absolute;width:6px;height:6px;overflow:hidden;bottom:-1px}
	.adminBx b{background-position:-155px -205px;left:-1px}
	.adminBx s{background-position:-155px -211px;right:-1px}
	.adminBx .adminUserInfo{;padding:6px 70px 0 14px;  height:22px;}
	.adminBx .loginout{position:absolute;top:5px; right:14px}
	.adminBx .loginout,.adminBx .loginout a{color:#0000ff}
	.adminBx .loginout a{margin:0 3px}
.crumb{ height:31px;line-height:31px;overflow:hidden;border-bottom:1px solid #e9eff7; background-position:0 -125px;background-repeat:repeat-x;margin:0 -25px;position:relative; padding-left:25px}
.screen-shrinking,.screen-shrinking-b{width:7px;height:35px;overflow:hidden;position:absolute;top:180px;left:-1px;text-indent:-9999px;cursor:pointer}
	.screen-shrinking{background-position:-263px -205px}
	.screen-shrinking-b{background-position:-256px -205px}
	
.ic,.ic2,.ic3,.ic4,.ic5{width:16px;height:16px;overflow:hidden;display:inline-block}
	.ic{background-position:-80px -205px}
	.ic2{background-position:-64px -205px}
	.ic3{background-position:-48px -205px}
	.ic4{background-position:-16px -205px}
	.ic5{background-position:0 -205px}

.jk-menu{margin:0 10px;padding-top:10px}
	.jk-menu .jk-menu-item{font-size:14px;padding:0 20px 0 36px;border:1px solid #9fb5cf;display:block;height:30px;line-height:30px;overflow:hidden;font-weight:bold; cursor:pointer;background-position:0 -95px; background-repeat:repeat-x; position:relative}
	.jk-menu .jk-menu-item b{width:9px; height:12px;overflow:hidden;position:absolute;right:11px;top:50%;margin-top:-6px;background-position:-146px -205px}
	.jk-menu .jk-menu-item s{left:9px;top:50%;margin-top:-8px;position:absolute}
	.jk-menu .jk-menu-item:hover{text-decoration:none}
	.jk-menu .select .jk-menu-item b{background-position:-137px -205px}
	.jk-menu .ms{margin-bottom:5px;vertical-align:top;zoom:1}
	.jk-menu .ms ul{padding-top:3px}
	.jk-menu .ms ul li{padding-left:45px;position:relative;zoom:1}
	.jk-menu .ms ul li b{width:15px;height:13px;overflow:hidden;position:absolute;top:50%;margin-top:-7px;*margin-top:-8px;left:20px;background-position:-122px -205px}
	.jk-menu .ms ul li a:hover{color:#ff0000; text-decoration:underline}
	.jk-menu .ms ul .cur{background:#d9e3ee; font-weight:700}
	.jk-menu .ms ul .cur b{background-position:0 -221px; width:12px; height:9px; margin-top:-5px; left:23px}

/*-----------------------author:zhangxiaoling---------------*/
.tHd,.tBd,.tBt{overflow:hidden;zoom:1;}

/*searchBx*/
.searchBx{ padding-top:7px; margin-bottom:10px;}
	.searchBx .sd{ padding-bottom:7px;zoom:1; overflow:hidden; position:relative}
	.searchBx  select,.searchBx  span,.searchBx input{ float:left; margin-right:5px;}
	.searchBx  select{ width:100px;}
	/*/searchBx*/
	.searchBx .sTip{ color:#d8d8d8}
	.searchBx .sTip a{ margin-left:5px; display:inline-block}.searchBx .sTip span{ margin-right:5px; display:inline-block; float:none;}
/*input*/
	.inpc,.inps,.inpm{ border:1px solid #c4c7bd; border-color:#c4c7bd #efefef #efefef #c4c7bd; height:18px; padding:1px 2px 0}
	.inpc{ width:270px;}
	.inps{ width:55px;}
	.inpm{ width:80px;}
	/*/input*/

/*mnav*/
.mnav{ height:33px; overflow:hidden; padding-left:10px;}
	.mnav li{ float:left; margin:6px 10px 0 0;background-repeat:repeat-x; height:26px; border:1px solid #cdcdcd; border-bottom:none;background-position:0 -157px; line-height:26px; padding:0 10px; color:#17365a;}
	.mnav .cur{ background-position:0 -63px; margin-top:0; border:1px solid #9fb5cf; border-bottom:none; height:32px; line-height:32px; font-size:14px; font-weight:700;}/*/mnav*/

/*btn*/
.cbtn,.ibtn,.dbtn{ background-position:0 -184px;  padding:0 10px;height:21px;line-height:21px; display:inline-block; border:1px solid #9fb5cf; overflow:hidden; cursor:pointer;}
	a.cbtn,a.cbtn:visited,a.cbtn:hover{ color:#17365a; text-decoration:none}
	.ibtn{padding:0 10px;*padding:0; }
	.dbtn{ background-position:0 -240px; border-color:#cecece;}
	a.dbtn,a.dbtn:visited,a.dbtn:hover{ color:#383838}/*/btn*/
/*tabc*/
.tabc{border-spacing:0; border-collapse: collapse; line-height:18px;}
	.tabc th{ background:#d2deec;padding:2px 5px; font-weight:400; text-align:center;border:1px solid #d2deec;}
	.tabc .up b,.tabc .down b{ display:inline-block; width:13px; height:13px; vertical-align:middle; margin-left:2px; cursor:pointer}
	.tabc .up b{ background-position:-96px -205px;}.tabc .down b{ background-position:-109px -205px;}
	.tabc td{ border:1px solid #d2deec; padding:2px 5px; background:#fff;text-align:center}
	.tabc .l{ text-align: left}
	.tabc .cur td{ background:#f1f4f8;}
	.tabc .inpc{ background:#fffcdb; height:19px; padding:2px 2px 0; border:1px solid #fff; border-color:#c4c5a2 #f2efd0 #f2efd0 #d2d2ad; width:98%; padding:0 2px;}
	.tabc select{ width:100px;}
	.tabc a.red,.tabc a.red:hover{ text-decoration:underline}
	/*/tabc*/
/*page*/
.page { font-size:0; line-height:0; color:#333; overflow:hidden; zoom:1;}
	.page a,.page span,.page input{ vertical-align:text-top; overflow:hidden}
	.page a,.page span { font-size:12px; display:inline-block;  margin:0 2px;  vertical-align:top; height:21px; line-height:21px; padding:0 5px;}
	.page .pre,.page .next{ background-position:-165px -205px; width:59px; height:21px; line-height:21px; text-align:center; padding: 0}
	.page .go{background-position:-224px -205px; width:24px; height:21px; line-height:21px; text-align:center;padding: 0; margin-left:5px;}
	.page input{ height:18px; width:38px; border:1px solid #c4c7bd;border-right:1px solid #fff;border-bottom:1px solid #fff; margin-left:15px;}
	.page a{ background:#bfd1e6; height:19px;}
	.page a,.page a:visited,.page a:hover{ color:#383838; text-decoration:none}/*/page*/

/*mBox*/
.mBox .tBd{ padding:10px; border:1px solid #b6c9df; background:#ebf0f6;}
.mBox .tHd .btnb{ margin-right:-5px; overflow:hidden; float:right; padding-top:6px; padding-bottom:4px;}
.mBox .btnb a,.mBox .btnb input{ margin:0 5px;}
.mBox .tBd .tps{ height:20px; padding-bottom:5px;}
.mBox .tBd .tps a{ margin-right:10px;}
.mBox .tBt .page{ float:right; padding-top:5px; padding-right:20px;}
.mBox .tBt .btnb{ margin-left:-5px; overflow:hidden; float:left; padding-top:6px;}/*/mBox*/ 
.mBox{ padding-top:10px; border-top:1px solid #999;}

/*keyword*/
#keyword .mBox .tHd .mnav{ float:left}/*/keyword*/

.rck{width:13px;position:absolute;height:13px;left:0;top:5px;*top:3px;}
/*arrangeMage*/
#arrangeMage{}
	#arrangeMage .tdleft{padding:6px; font-weight:400; text-align:center;border-top:1px solid #d2deec;border-bottom:1px solid #d2deec;border-left:1px solid #d2deec; background:#fff;}
	#arrangeMage .th1{ background:#d2deec;padding:6px; font-weight:400; text-align:center;border:1px solid #d2deec; width:20%; line-height:18px;}
	#arrangeMage .th2{ width:14%;}
	#arrangeMage .th3{ width:12%;}
	#arrangeMage .th4{ width:35%;}
	#arrangeMage .th5{ width:10%;}
	.electBx{ padding-top:7px;}
	.electBx .eb{zoom:1; overflow:hidden; padding-bottom:7px;}
	.electBx .box{ position:relative; clear:both; padding-left:70px; height:auto!important; height:22px; min-height:22px;}
	.electBx span{ position:absolute; width:70px; left:0; top:0;}
	.electBx .box label{ margin-right:12px; position:relative; padding-left:16px; white-space:nowrap;  float:left}
/*overall*/
#overall{}
	.projectSet{ padding-top:7px;}
	.projectSet h2{ padding-bottom:7px;}
	.projectSet .pSb{ padding-bottom:7px; overflow:hidden;zoom:1; position:relative; }
	.projectSet .func{padding-left:75px;}
	.projectSet .func span{ position:absolute; left:0; top:0; width:75px;}
	.projectSet .func label{ float:left; position:relative; padding-left:16px; margin-right:14px;white-space:nowrap;}
	.projectSet .func a{ float:left;white-space:nowrap;}
	/*.projectSet .editc{ padding-left:75px; padding-bottom:2px;}
	.projectSet .editc span{ position:absolute; left:0; top:0; width:75px;}
	.projectSet .editc label{ float:left; position:relative; padding-left:16px; margin-right:3px;white-space:nowrap;}
	.projectSet .editc em{ float:left; }
	.projectSet .editc em{ position:relative; padding-right:14px; height:29px;}
	.projectSet .editc .cur{background:#bee4ff}
	.projectSet .editc em a{line-height:14px;}
	.projectSet .editc em .ed{ position:absolute; top:0; right:0}
	.projectSet .editc em .de{ position:absolute; bottom:0; right:0}
	.projectSet .editc .adda{ float:left}
	.projectSet .editc input{ margin-right:5px; vertical-align:top}*/
	.projectSet select{ width:100px;}
	.projectSet .sTip{ position:relative; padding-left:24px;}.projectSet .sTip span{ width:24px; left:0; top:0; position:absolute}
	#overall .mBox{ padding-top:10px;}
	#overall .mBox  h2{ padding-bottom:10px; float:left}#overall .mBox h2 span{ font-size:12px; font-weight:400}

/*limit*/
.limitInt{   padding-top:10px; margin-bottom:10px;}
	.limitInt .mnav{height:30px;overflow:hidden;zoom:1;}
	.limitInt .mnav li{ margin-top:0; border-bottom:1px solid #cdcdcd; cursor:pointer}
	.limitInt .mnav .cur{ border-bottom:1px solid #9fb5cf;height:26px; line-height:26px; font-size:12px; font-weight:400;}
	.limitInt .box{ height:55px; position:relative; padding:10px; background:#f7f7f7; border:1px solid #999;}
	.limitInt .box .lb{ padding-bottom:7px; height: auto!important; height:22px; min-height:22px; zoom:1; overflow:hidden;}
	.limitInt .box .lb span,.limitInt .box .lb label,.limitInt .box .lb input{ float:left;margin-right:10px}
	.limitInt .box .lb label{ position:relative; padding-left:16px;}
	.limitInt .box .btnb{ position:absolute; right:10px; bottom:10px;}
	.limitInt .box .btnb input{ margin-left:10px;}
	#limits .limTit{background:#d2deec;padding:6px 0 6px 25px; font-weight:700;zoom:1; overflow:hidden; position:relative;}
		#limits .limTit .rck{ top:10px; left:8px;}
		#limits .tabm{border-spacing:0; border-collapse: collapse; line-height:18px;}
		#limits .tabm td{ border:1px solid #d2deec; padding:6px; background:#fff;}
		#limits .tabm label{ position:relative;margin-right:10px; padding-left:16px; float:left}
		#limits .hd{ margin-bottom:10px; padding:10px 0 5px; border-bottom:1px solid #ccc;zoom:1; overflow:hidden}
		#limits .hd h2{ float:left; margin-right:15px;}
		#limits .hd span,#limits .hd label{ float:left; margin-left:10px;}
		#limits .mBox .btnb{ padding:15px 0; text-align:center}
/*password*/
#password{ position:relative; padding-top:85px; text-align:center}
	#password dl{ width:400px; margin:0 auto; text-align:left}
	#password dl dt,#password dl dd{ zoom:1; overflow:hidden; padding-bottom:7px;}
	#password dl dt span,#password dl dt input,#password dl dt em{ float:left; margin-right:10px;}
	#password dl dt span{ width:75px; text-align:right; margin-right:7px;}
	#password dl dt input{ width:150px;}
	#password dl dt em{ color:#f00}
	#password dl dd{ padding-left:85px; padding-top:15px;}#password dl dd input{ margin-right:10px}
/*person*/
#person .mBox{ padding-top:10px;}
	#person .mBox .tHd{ margin-bottom:10px; padding-bottom:5px; border-bottom:1px solid #ccc;}#person .mBox .tHd em{ float:left; margin-left:15px; color:#f00}
	#person .mBox h2{ float:left; margin-right:20px}
	#person .preson .tHd a{ margin-left:10px;}
	#person .preson .tHd p{ float:right}
	#person .preson .tBd{ background:none; border:0;}
	#person .preson .msg{ float:left; width:50%;}
	#person .preson .tabm{border-spacing:0; border-collapse: collapse; line-height:18px;}
	#person .preson .tabm td,#person .preson .tabm th{ border:1px solid #d2deec; padding:6px; text-align:left}
	#person .preson .tabm td a{ margin-right:10px;}
	.ggao{float:right; background:#f7f7f7;width:45%;padding:10px;}
	.ggao h2{border-bottom:1px solid #ccc;padding:5px 0;display:block;float:none!important;margin-bottom:5px;}
	.ggao .box{padding:10px}
	.ggao .box ol{height:140px;overflow:hidden}
	.ggao a,.ggao a:hover{ color:red}
	#person .navp{ zoom:1; overflow:hidden; height:14px; line-height:14px; margin-right:-1px; margin-bottom:10px;}
	#person .navp ul{ float:right; margin-right:-1px;}
	#person .navp li{ float:left; padding: 0 10px; border-right:1px solid #999; cursor:pointer}#person .navp .cur{ font-weight:700}



/*dialog*/
.dialog{position:absolute; z-index:9999;left:-9999px;top:-99999px;width:348px;border:1px solid #9fb5cf;background:#ebf0f6; -moz-background-clip:padding;
-webkit-background-clip:padding;background-clip:padding-box;border:8px solid rgba(0,0,0,0.2);-webkit-border-radius:12px;-moz-border-radius:12px;border-radius:12px}
	.dialog .btnb .cbtn{margin-right:15px}
	.dialog-hd{ background-position:0 -261px; height:29px;background-repeat:repeat-x;line-height:29px;padding-left:10px;position:relative;color:#17365a;   -webkit-border-radius:12px 12px 0 0;-moz-border-radius:12px 12px 0 0;border-radius:12px 12px 0 0}
	.dialog-hd a.close{ position:absolute; top:0; right:10px;color:#17365a; font-size:15px; font-weight:700; cursor:pointer;}
	.dialog-bd{ position:relative; padding:15px; overflow:hidden;zoom:1;}
	.dialog-bd .ico{ width:46px; height:42px; position:absolute; left:20px; top:20px;}
	.dialog-bd .mBx{padding-left:65px;}
	.dialog-bd .mBx .box{ position:relative; padding:10px 0 25px}
	.dialog-bd .mBx .box .msg{ font-size:14px; padding-bottom:5px; display:inline-block;}
	.iframe-hidden{height:0; font-size:0; line-height:0; overflow:hidden; border:0; padding:0; margin:0}
	

/*请假单 dialog*/
#qingjia{ width:700px;}
	.xinjian dt{ padding-bottom:4px; font-weight:700;}
	.xinjian dd{ padding-bottom:12px; zoom:1; overflow:hidden; padding-left:15px;}
	.xinjian dd span{ margin-right:5px; display:inline-block}
	.xinjian .dd1 span{ margin-right:30px;}
	.xinjian dd em{ color:red}
	.xinjian dd input{ margin-right:5px}
	.xinjian dd label{ margin-right:15px;}
	.xinjian select{ width:100px;}
	.xinjian .w{ width:60px;}
	.xinjian .ps{  color:red; width:99%;}
	.xinjian .btnb{ padding:15px 0; text-align:center}
	.xinjian .btnb input{ margin:0 10px;}
	.wode  .page{ float:right; padding-top:7px;}
	.shenpi .to{ height:25px; padding-bottom:5px; overflow:hidden;zoom:1;}
	.shenpi .to .edit{ float:left }.shenpi .to .edit a{ margin-right:10px;}
	.shenpi .to .btnb{ float: right}.shenpi .to .btnb a{ margin-left:10px}
	.shenpi .bo{ zoom:1; overflow:hidden; padding-top:5px;}.shenpi .bo .shu{ float:left}.shenpi .bo .page{ float:right}

/*公告 dialog*/
#gonggao{ width:700px;}
	.fabu .inpc{ width:97%}.fabu .hh1{ height:350px;}.fabu .hh2{ height:300px;}.fabu select{ width:100px;}
	.fabu .scope{ padding-top:5px;}.fabu .ps{ color:#f00; padding-top:5px;}
	.fabu .btnb{ padding:15px 0; text-align:center}.fabu .btnb input{ margin:0 10px;}
	.lishi .bo{ zoom:1; overflow:hidden; padding-top:5px;}.lishi .bo .shu{ float:left}.lishi .bo .page{ float:right}
	.gcont .hd{ height:22px; zoom:1; overflow:hidden}
	.gcont .hd .author{ float:left}
	.gcont .hd .author span{ margin-right:15px; display:inline-block}.gcont .hd .eb{ float:right}
	.gcont .bd{ padding:10px;}
.iframebd{ background:#ebf0f6;}
	.iframebd  .mnav { height:26px;}
	.iframebd  .mnav li{ margin-top:0; margin-left:0; margin-right:10px; cursor:pointer}
	.iframebd  .mnav .cur{height:26px; line-height:26px; font-size:12px; font-weight:400;}
	.iframebd  .box{padding:20px 10px 10px; border:1px solid #b6c9df; background:#ebf0f6;zoom:1; overflow:hidden}


/*==========审核公共样式=============*/

	/*搜索*/
	.cirBx{ padding-top:7px; margin-bottom:10px;}
		.cirBx .cird{ padding-bottom:7px;zoom:1;position:relative}
		.cirBx .cird:after {content:"";display:block;height:0;clear:both;visibility:hidden}
		.cirBx select,.cirBx em,.cirBx  span,.cirBx input{ float:left; margin-right:5px;}
		.cirBx .cird_l{ float:left}
		.cirBx .cird_r{ float:right}



	/*外围--操作 */
	.editBx{zoom:1; overflow:hidden; position:relative; padding-left:50px;}
		.editBx span{ position:absolute; left:0; top:0}
		.editBx label{margin-right:12px; position:relative; padding-left:16px; white-space:nowrap;  float:left}
	.tHd1,.tHd2,.tFt1,.tFt2{ clear:both; zoom:1; overflow:hidden; margin-bottom:7px;}
	.tHd1_l,.tHd2_l,.tFt1_l,.tFt2_l{ float:left}
	.tHd1_r,.tHd2_r,.tFt1_r,.tFt2_r{ float:right}
		.rank{ margin-left:-5px}
		.rank a{ margin:0 5px}
		.rank b{ background-position:-96px -205px; width:13px; height:13px; display:inline-block; vertical-align: middle; margin-left:3px;}
		.rank .b2{ background-position:-109px -205px;}
			


	/*列表内容*/
	.cietab{border-spacing:0; border-collapse: collapse;}
		.cietab .img{ border:1px solid #d2deec; width:50px; height:50px;}
		.cietab th{ background:#d2deec;padding:5px; font-weight:400;border:1px solid #d2deec; text-align:left}
		.cietab .th_l{ float:left}
		.cietab .th_r{ float:right}
		.cietab .condition{zoom:1; overflow:hidden;}
		.cietab .condition label{margin-right:12px; position:relative; padding-left:16px; white-space:nowrap;  float:left}
		.cietab .condition span{ float:left}
		.cietab .condition em{ float:left; margin-left:35px;}
		.cietab td{ border:1px solid #d2deec; background:#fff;}
		.cietab td td{ padding:0 5px;}
		.cietab .reason strong{ float:left}
		.cietab .reason label{ margin-right:12px; position:relative; padding-left:16px; white-space:nowrap;  float:left}
		.cietab .cirBd{ line-height:1.5; font-size:14px; }
		.cietab .cirBd strong{ font-size:18px; color:#f00}
		
/*==========/审核公共样式=============*/	

/*==娱乐圈审核==*/
#shenhe-set{position:absolute; right:25px;top:129px;z-index:10000}
#circleExamine{ padding-bottom:20px;}
	#circleExamine .tBd{margin-bottom:7px;}
	#circleExamine .mBox .tBt .page{padding-right:0;width:450px;text-align:right;overflow:hidden}
	#circleExamine .cietab .editTimeBx{display:none}
		/*审核设置--隐藏框*/
		a.evSetBtn:hover,.evSetBtn .cur{}
		.evSetBx{background:#fff;}
			.evSetBx li{ zoom:1; overflow:hidden; position:relative; padding-left:70px; padding-bottom:7px;}
			.evSetBx li span{ position:absolute; left:0; top:0; width:60px; background:#d9e3ee; padding-left:5px;}
			.evSetBx li label{margin-right:12px; position:relative; padding-left:16px; white-space:nowrap;  float:left}
		/*自动分配列表--隐藏框*/
		.autoAllot{ float:left; margin-right:10px}
		.autoAllotBx{ width:580px; padding:10px; border:1px solid #b6c9df; background:#ebf0f6; position: absolute; z-index:99;}
			.autoAllotBx .hd{ padding-bottom:10px; border-bottom:1px solid #ccc;  margin-bottom:10px;}
			.autoAllotBx ul{ zoom:1; overflow:hidden;}
			.autoAllotBx li{ float:left; width:25%}
			.autoAllotBx li em,.autoAllotBx li select,.autoAllotBx li input{ float:none}
			.autoAllotBx .li4{ float:right; text-align:right}
			.cirBx .autoAllotBx input{ float:none; margin:0}
			.autoAllotBx .btnb{ padding:10px 0 0; text-align:center}
			.autoAllotBx .btnb a{ margin:0 5px;}
		/*操作时间--隐藏框*/
		.cietab .editTime-td{padding:0}
		.cietab .editTime{position:relative;zoom:1}
			.cietab .editTime-title{height:22px;cursor:pointer;overflow:hidden}
			.cietab .editTime em{background-position:-12px -221px;width:15px;height:15px;display:block;text-indent:-999px;overflow:hidden;position:absolute;right:0;top:3px;}
			.cietab .editTime em.cur{background-position:-27px -221px;}
			.cietab .editTimeBx{position: absolute;top:0;z-index:99;left:-6px;right:-1px;margin-top:22px}
		/*显示全文--隐藏*/
		.show-old-link{height:22px;margin:5px 0;text-align:right;margin-right:10px;font-size:12px;}
		.show-old{padding:10px; background:#f7f7f7;border-top:1px solid #ccc}
		.show-old-edit{text-align:right;font-size:12px;padding:10px 0  5px}
		.show-old-edit span{margin:0 5px;}
		.cir-cont{padding:10px}
/*==/娱乐圈审核==*/
/*==资料审核==*/
#data-validation{ padding-bottom:20px;}
	#data-validation table a{color:#0066CC; text-decoration:underline;}	
	#data-validation .tBd{margin-bottom:7px;}
	#data-validation .mBox .tBt .page{ padding-right:0; width:450px; text-align:right; overflow:hidden}
	#data-validation .img{ width:100px; height:100px; text-align:center;}
	#data-validation .cietab-wrap{ float:left; width:50%;}
	#data-validation .cietab .th_r{ float:none;}
	#data-validation .intro-wrap{ height:6em; overflow:hidden;}
	#data-validation .condition em{ float:right; margin:0;}
/*==/资料审核==*/
/*==举报审核==*/
#report-validation{ padding-bottom:20px;}
	#report-validation table a{color:#0066CC;text-decoration:underline;}	
	#report-validation .tBd{margin-bottom:7px;}
	#report-validation .mBox .tBt .page{ padding-right:0; width:450px; text-align:right; overflow:hidden}
	#report-validation .img{ width:90px; height:90px; text-align:center; margin:3px 0;}
/*==/举报审核==*/
/*selectArea  dialog*/
#selectArea{}
	#selectArea .mBx{ padding-left:0; zoom:1; overflow:hidden; padding-bottom:12px; }
	#selectArea .mBx label{margin-right:15px; position:relative; padding-left:16px; white-space:nowrap;float:left}
	#selectArea .mBx .stress{ font-weight:700; color:red}
	#selectArea .btnb{ clear:both; zoom:1; overflow:hidden;}
	#selectArea .btnb .cbtn{ float:right}


