@charset "gb2312";
/* CSS Document */
/*===================================
author:	lou xiao jian
email:  jxsr_lxj@163.com
====================================*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
body{font:12px/22px Tahoma,"\5B8B\4F53",Geneva, sans-serif;word-break:break-all;text-align:center;background:url(../img/body.gif);padding-top:10px;color:#333}
fieldset,img{border:none 0;} 
table {border-collapse:collapse;border-spacing:0;} 
ol,li,ul{list-style:none;} 
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;}
caption,th{text-align:left;} 
h1,h2,h3,h4,h5,h6{font-size:100%;} 
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
input,select,textarea{font:normal normal 12px "Verdana";outline:none}
input,textarea,select{*font-size:100%;}
input,textarea{color:#666}
select{color:#999}
/* 字体属性 [定义规则，小写f加属性名称] */
.fB{font-weight:bold;}
.fI{font-style:italic;}
/* 字体大小*/
.fs12{font-size:12px;}
.fs14{font-size:14px;}
/* 浮动*/
.fl{float:left;}
.fr{float:right}
/* 其它属性*/
.hide{display:none}
.submit{cursor:pointer;border:0}
.noText{display:block;height:0;width:0;line-height:0;overflow:hidden}
/*textList*/
.tList a{text-decoration:none}
.tList li{padding-left:15px;line-height:24px;height:24px;overflow:hidden;}
/*lrBx*/
.lrBx,.lrBx .rbx{overflow:hidden;zoom:1}
.lrBx .lbx{float:left;_margin-right:-3px}
.lrBx .lbx img{vertical-align:top}
.lrBx .rbx{padding-left:5px}
/*pic_up_text_down*/
.pic-item{float:left;text-align:center}
.pic-item img{vertical-align:top;margin-bottom:2px}
.pic-item h4,.pic-item span,.pic-item em{display:block;overflow:hidden;font-size:12px;font-weight:normal;height:18px;line-height:18px;text-align:center}

/*==clear==*/
.clear{overflow:hidden;zoom:1}
.clearfix:after {content:".";display:block;height:0;clear:both;visibility:hidden;}
* html>body .clearfix {display: inline-block;width:100%;}
* html .clearfix{/* Hides from IE-mac \*/height: 1%;/* End hide from IE-mac */}
/* ie7 hack*/
*+html .clearfix {min-height:1%;}
.dlFrom{overflow:hidden;zoom:1;}
	.dlFrom dt{float:left;}
	.dlFrom dt{clear:left;text-align:right;_margin-right:-3px}
	.dlFrom dd{overflow:hidden;zoom:1}
	.dlFrom dd img,.dlFrom dd input,.dlFrom dd a,.dlFrom dd em{float:left;margin-right:5px}
	.login_btn a,.login_btn input{float:left}
.pitch{margin-bottom:8px}/*间距*/

a{color:#333;text-decoration:none}
a:hover {color:#ff4300;text-decoration:underline}
.a2 a{color:#F78431}
.a2 a:hover{ color:#0c8e28;text-decoration:none}
.but{height:20px;line-height:20px;display:inline-block;overflow:hidden;background-position:0 -52px;border:1px solid #ff6306;color:#fff;padding:0 8px 0 12px}
.but:hover{color:#fff;text-decoration:none}

.rela{position:relative;zoom:1}
.rela .act{position:absolute;top:3px;right:8px}

.rowBx{overflow:hidden;zoom:1}
  .rowBx .main{width:100%;float:left}
  .rowBx .main .mainIn{margin-left:326px}
  .rowBx .lBar{width:326px;float:left;margin-left:-100%}
  .rowBx .rBar{width:326px;float:left;margin-left:-326px}
  
.p-cols{overflow:hidden;zoom:1}
  .p-cols .p-col1{width:100%;float:left}
  .p-cols .p-col1 .p-col1-1{margin-right:240px}
  .p-cols .p-col2{width:190px;float:left;margin-left:-100%}
  .p-cols .p-col3{width:230px;float:left;margin-left:-230px}
#header,#content,#footer{width:950px;margin:0 auto;text-align:left;border:1px solid #e4e4e4;background:#fff;padding:0 5px}
#header{border-bottom:0; padding-bottom:15px}
#content{border-top:0}
#content{margin-bottom:15px}
#menu,#menu b,#menu s,#menu li span,#menu li a,#menu li{ background-image:url(../img/zafzl.png);background-repeat:no-repeat}
#header .head-a{overflow:hidden;zoom:1;padding:5px 0 10px 0}
	#header .head-a #logo{width:220px;float:left}
	#header .head-a #logo a{display:block;height:55px;background:url(../img/logo.gif) no-repeat;text-indent:-9999px}
	#header .head-a-r{width:730px;float:right}
	#head-bar{color:#ddd;text-align:right}
	#head-bar a{ margin:0 5px}
#menu{line-height:33px;height:37px;color:#fff;background-position:0 -66px;background-repeat:repeat-x;position:relative;zoom:1; padding-left:15px}
    #menu b,#menu s{width:2px;height:37px;overflow:hidden;position:absolute;top:0}
	#menu b{background-position:0 -103px;left:0}
	#menu s{background-position:-2px -103px;right:0}
	#menu a{color:#fff}
	#menu ul{overflow:hidden;zoom:1;padding-top:2px}
	#menu li{float:left;display:inline;background-position:-90px -103px;margin:0 10px 0 -2px;padding-left:10px}
	#menu li span,#menu li a{display:block; background-position:-200px 0}
	#menu li a{padding-left:5px}
	#menu li span{padding:0 12px 0 7px;cursor:pointer}
	#menu li a:hover,#menu .select a{background-position:left 0;color:#116406;text-decoration:none}
	#menu li a:hover span,#menu .select a span{background-position:right -33px}
	
.bx,.bx-a{padding:3px;margin-bottom:10px}
.bx{border:1px solid #dcdcdc;background:#eeeeee}
.bx-a{border:1px solid #ffd99b;background:#fff3d5}
.bx .hd,.bx-a .hd{padding:0 5px;line-height:22px}
.bx h2.hd,.bx-a h2.hd{font:bold 14px/22px 'Microsoft YaHei';color:#ed701a}
.bx .bd,.bx-a .bd{padding:5px}
.bx .hd,.bx .bd,.bx-a .hd,.bx-a .bd{background:#fff}


.p-list{overflow:hidden;zoom:1}
.p-list li{float:left;margin-right:14px;display:inline}
.p-list li img{vertical-align:top; border:1px solid #ccc; padding:2px}
.p-list li a:hover{background:#fff}
.p-list li a:hover img{width:120px;height:160px;border:1px solid #53941a}
