/*====================================
 {
   author:"lou xiao jian",
   mail:"jxsr_lxj@163.com"
 }
====================================*/
.j-bx .j-tp b,.j-bx .j-tp s,.j-bx .j-ft b,.j-bx .j-ft s,.j-bx .j-bx-jt,
.msg-publish .msg-pf-hd b,
.msg-publish .msg-pf-ft .b,.msg-publish .msg-pf-ft .s,
.msg-publish .msg-pf-ft .bq b,
#msg-show .tk-item .dele2 span,
.new{background-image:url(../img/t.png);background-repeat:no-repeat}

.rlBx,.rlBx .rbx{overflow:hidden;zoom:1}
.rlBx .lbx{float:right}
.rlBx .lbx img{vertical-align:top}
.rlBx .rbx{padding-left:0;padding-right:14px}

.new{display:block;width:21px;height:9px;overflow:hidden;text-indent:-9999px;background-position:-65px -409px}

#msg-inbx .g-but{position:absolute;top:5px;right:-15px}
	#msg-inbx .g-but span{padding:0 13px 0 8px}
	#msg-inbx .tk-item{padding-left:10px;padding-right:10px}
	#msg-inbx .tk-item .new{position:absolute;left:44px;top:12px}


.j-bx{position:relative;zoom:1;margin-right:7px}
    .j-bx .j-tp,.j-bx .j-ft{height:3px;line-height:3px;font-size:0;background-repeat:repeat-x}
	.j-bx .j-tp b,.j-bx .j-tp s,.j-bx .j-ft b,.j-bx .j-ft s{width:3px;height:3px;overflow:hidden;position:relative;background-color:#fff}
	.j-bx .j-tp b{float:left;top:-1px;left:-1px}
	.j-bx .j-tp s{float:right;top:-1px;right:-1px}
	.j-bx .j-ft b{float:left;bottom:-1px;left:-1px}
	.j-bx .j-ft s{float:right;bottom:-1px;right:-1px}
	.j-bx .j-bx-jt{width:7px;height:6px;position:absolute;right:-7px;top:10px;overflow:hidden}
	.j-bx .j-bd{padding:0 10px;zoom:1}
	
	.new-j-bx{border:1px solid #e7e7e7}
	.new-j-bx .j-tp,.new-j-bx .j-ft{background-color:#f6f6f6}
	.new-j-bx .j-tp b{background-position:-45px -415px}
	.new-j-bx .j-tp s{background-position:-48px -415px}
	.new-j-bx .j-ft b{background-position:-45px -418px}
	.new-j-bx .j-ft s{background-position:-48px -418px}
	.new-j-bx .j-bx-jt{background-position:-38px -415px}
	.new-j-bx .j-bd{background:#f6f6f6}
	.jt-left{margin-left:7px;margin-right:0}
	.jt-left .j-bx-jt{right:auto;left:-7px;background-position:-38px -409px}
	
	.new-j-bx2{border:1px solid #c4eef4}
	.new-j-bx2 .j-tp,.new-j-bx2 .j-ft{background-color:#fff}
	.new-j-bx2 .j-tp b{background-position:-52px -409px}
	.new-j-bx2 .j-tp s{background-position:-55px -409px}
	.new-j-bx2 .j-ft b{background-position:-52px -412px}
	.new-j-bx2 .j-ft s{background-position:-55px -412px}
	.new-j-bx2 .j-bx-jt{background-position:-45px -409px}
	.new-j-bx2 .j-bd{background:#fff}

.msg-publish .msg-pf-hd{position:relative;zoom:1;color:#909090;margin-bottom:5px;padding-left:24px}
	  .msg-publish .msg-pf-hd .word-zs{position:absolute;right:7px;top:0}
	  .msg-publish .msg-pf-hd b{width:16px;height:14px;position:absolute;left:3px;top:50%;margin-top:-7px;background-position:-22px -409px}
	  .msg-publish .form-item{margin:0 -5px}
	  .msg-publish .form-item .textarea{height:45px;border:0;width:100%;margin:0;padding:0}
	  .msg-publish .msg-pf-ft{background:#e6f8fb;height:22px;padding-left:6p;display:none}
	  .msg-publish .msg-pf-ft .bq{float:left;padding-left:20px;position:relative;margin:0 3px}
	  .msg-publish .msg-pf-ft .bq b{background-position: -33px -214px;height:15px;left:0;overflow: hidden;position:absolute;top:4px;width:15px}
	  .msg-publish .msg-pf-ft .send{float:right;width:44px;text-align:center;background-color:#83d4e0;color:#fff;font-weight:bold; margin-right:-3px}
	  .msg-publish .msg-pf-ft .send:hover{color:#fff;text-decoration:none}
	  .msg-publish .msg-pf-ft .b,.msg-publish .msg-pf-ft .s{width:3px;height:3px;overflow:hidden;margin-top:19px;position:relative;background-color:#fff}
	  .msg-publish .msg-pf-ft .b{float:left;background-position:-52px -415px;left:-1px; bottom:-1px}
	  .msg-publish .msg-pf-ft .s{float:right;background-position:-55px -415px; right:-1px;bottom:-1px}
	  .new-msg-publish .msg-pf-ft{display:block}
	  .new-msg-publish .j-ft{display:none}

#msg-show .back{position:absolute;right:0;top:12px;font-family:"ו"}
      #msg-show .lrBx .tk-r{padding-left:14px}
      #msg-show .tk-item{border:0;zoom:1;position:relative}
	  #msg-show .tk-item .tk-tr{position:absolute;top:8px;right:70px}
	  #msg-show .tk-item .dele2{padding:3px;border:1px solid #e7e7e7;background:#f6f6f6; display:none}
	  #msg-show .tk-item .dele2 span{display:block;background-position:-58px -409px;width:7px;height:6px;overflow:hidden;text-indent:-9999px;cursor:pointer;-webkit-transition:all 0.5s ease-out;-moz-transition:all 0.5s ease-out;transition:all 0.5s ease-out;}
	  #msg-show .tk-item .dele2:hover span{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);transform:rotate(360deg)}
	  #msg-show .hover .dele2{display:block}
	  #msg-show .rlBx{margin-left:77px}
	  #msg-show .lrBx{margin-right:77px}
	  #msg-show .self-msg-publish{margin-bottom:15px}
	