/*===================================
author:	lou xiao jian
email:  jxsr_lxj@163.com
====================================*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
body{font:14px/1.6  Tahoma, Geneva,"宋体", sans-serif;word-break:break-all;text-align:center}
fieldset,img{border:0;} 
table {border-collapse: collapse;border-spacing:0;} 
ol,li,ul{list-style:none;} 
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
caption,th{text-align:left;} 
h1,h2,h3,h4,h5,h6{font-size:100%;} 
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
input,select,textarea{font:normal normal 12px "Verdana";}
input,textarea,select{*font-size:100%;}
input,textarea{color:#666}
select{color:#999}
/* [定义规则，小写f加属性名称] */
.fB{font-weight:bold;}
.fI{font-style:italic;}
/* 字体大小*/
.fs12{font-size:12px;}
.fs14{font-size:14px;}
/* 浮动*/
.fl{float:left;}
.fr{float:right}
/* 其它属性*/
.hide{display:none}
.submit{cursor:pointer;border:0}
.noText{display:block;height:0;width:0;line-height:0;overflow:hidden}
/*textList*/
.tList a{text-decoration:none}
.tList li{padding-left:15px;line-height:24px;height:24px;overflow:hidden;}
/*lrBx*/
.lrBx,.lrBx .tr{overflow:hidden;zoom:1}
.lrBx .tl{float:left;_margin-right:-3px}
.lrBx .tl img{vertical-align:top}
/*pic_up_text_down*/
.pList{overflow:hidden;zoom:1}
.pList li{float:left;text-align:center}
.pList li img{vertical-align:top;margin-bottom:2px}
.pList li h4,.pList li span,.pList li em{display:block;overflow:hidden;font-size:12px;font-weight:normal;height:18px;line-height:18px;text-align:center}
/*==clear==*/
.clear{clear:both;font-size:0px;width:0px;height:0;visibility:hidden;line-height:0}
.clearfix:after {content: ".";display:block;height:0;clear:both;visibility:hidden;}
* html>body .clearfix {display: inline-block;width:100%;}
* html .clearfix{/* Hides from IE-mac \*/height: 1%;/* End hide from IE-mac */}
/* ie7 hack*/
*+html .clearfix {min-height:1%;}
.dlFrom{overflow:hidden;zoom:1;}
	.dlFrom dt{float:left;}
	.dlFrom dt{clear:left;text-align:right;_margin-right:-3px}
	.dlFrom dd{overflow:hidden;zoom:1}
	.dlFrom dd img,.dlFrom dd input,.dlFrom dd a,.dlFrom dd em{float:left;margin-right:5px}
	.login_btn a,.login_btn input{float:left}
.imp{color:#f00}
#warpper{text-align:left}
#content{padding:0 20px}
h1{font:bold 24px/2 "微软雅黑";text-align:left;margin-bottom:20px;padding-left:20px;background:#808080;color:#fff; border-bottom:24px #efefef solid}
.article{text-align:left;width:810px; margin:0 auto 0 150px}
/*.article{text-align:left;width:810px;margin-left:150px}*//*给body定义text-align:center后，在IE浏览器下，这样定义CSS，层article竟然还会水平居中，一定得再定义个margin-right:auto才能使层居左*/
code{display:block; margin-bottom:15px; border:1px solid #DEDEB8; background:#FDFFF2; padding:5px 10px;color:#007700}
code .note{color:#999}
.article p{margin-bottom:20px}
/*---UBB框--*/ 
.UBBPanel {
    border:1px #e0e0d6 solid;
	background:#fff;
	border-left:4px #e0e0d6 solid;
	margin-bottom:8px;
	font-size:12px;
}
.UBBTitle {
	font-weight:bold;
	padding:5px 5px 5px 30px;
	background:#f3f3f0 url(img/code.gif) 8px 5px no-repeat;
    border-bottom:1px #e0e0d6 solid;
	font-size:12px;
}
.UBBContent {
	line-height:20px;
	padding:5px 5px 5px 20px;
	line-height:160%;
	font-family:Verdana, Arial, Helvetica, sans-serif, "宋体";
}
.UBBContent TEXTAREA {
	line-height:20px;
	font-size:12px;
	width:99%;
	margin-bottom:2px;
	font-family:Verdana, Arial, Helvetica, sans-serif, "宋体";
}
:link.UBBLink, :visited.UBBLink {
	font-family:Verdana, Arial, Helvetica, sans-serif, "宋体";
}


