/*酒店头部标题*/
.hotel_headline{padding-left:60px;margin:10px 0;min-height:38px;_height:38px;font-size:18px;background-image:url(http://pic.ctrip.com/hotels081118/ico_hotel_headline.gif);background-repeat:no-repeat;}
.hotel_headline{background-position:0 center;}
/*钻级和星级*/
.hotel_diamond01, .hotel_diamond02, .hotel_diamond03, .hotel_diamond04, .hotel_diamond05, .hotel_diamond06, .hotel_halfdiamond01, .hotel_halfdiamond02, .hotel_halfdiamond03, .hotel_halfdiamond04, .hotel_halfdiamond05, .hotel_halfdiamond06, .hotel_stars01, .hotel_stars02, .hotel_stars03, .hotel_stars04, .hotel_stars05{background-image:url(../img/bg_rate.gif);background-repeat:no-repeat;overflow:hidden;}
.hotel_diamond01, .hotel_diamond02, .hotel_diamond03, .hotel_diamond04, .hotel_diamond05, .hotel_diamond06, .hotel_halfdiamond01, .hotel_halfdiamond02, .hotel_halfdiamond03, .hotel_halfdiamond04, .hotel_halfdiamond05, .hotel_halfdiamond06{height:11px;}
.hotel_stars01, .hotel_stars02, .hotel_stars03, .hotel_stars04, .hotel_stars05{height:16px;background-position:0 -32px;}
.hotel_diamond01, .hotel_halfdiamond01{width:14px;}
.hotel_diamond02, .hotel_halfdiamond02{width:30px;}
.hotel_diamond03, .hotel_halfdiamond03{width:46px;}
.hotel_diamond04, .hotel_halfdiamond04{width:62px;}
.hotel_diamond05, .hotel_halfdiamond05{width:78px;}
.hotel_diamond06, .hotel_halfdiamond06{width:94px;}
.hotel_halfdiamond01{background-position:-96px 0;}
.hotel_halfdiamond02{background-position:-80px 0;}
.hotel_halfdiamond03{background-position:-64px 0;}
.hotel_halfdiamond04{background-position:-48px 0;}
.hotel_halfdiamond05{background-position:-32px 0;}
.hotel_halfdiamond06{background-position:-16px 0;}
.hotel_stars01{width:16px;}
.hotel_stars02{width:32px;}
.hotel_stars03{width:48px;}
.hotel_stars04{width:64px;}
.hotel_stars05{width:80px;}
/*金牌银牌*/
.hotel_goldmedal, .hotel_silvermedal{padding-left:22px;}
.hotel_goldmedal{background:url(http://pic.ctrip.com/hotels081118/pic_goldmedal.gif) 0 3px no-repeat;_background-position:0 2px;}
.hotel_silvermedal{background:url(http://pic.ctrip.com/hotels081118/pic_silvermedal.gif) 0 3px no-repeat;_background-position:0 2px;}
/*连住优惠*/
.hotel_special{float:right;padding-left:35px;height:24px;line-height:27px;color:#CC3300;background:url(../img/bg_32x32.gif) 0 -4px no-repeat;}
 .hotel_special a:hover,  .hotel_special a{color:#CC3300;}
/*分页按钮*/
.hotel_page{text-align:right;padding-right:10px;margin:10px 0;}
.hotel_page span{
	/*color: #0055AA;  原先的分页方式取消 */
}
.hotel_page a{
	background: #e3e3e4;
	padding: 3px 4px;
	text-decoration: none;
	margin: 0 2px;
}
.hotel_page a:hover{
	background: #0055aa;
	color: #FFF;
	text-decoration: none;
}
/*hotel_box*/
.hotel_box{margin-bottom:5px;}
.hotel_box_border span{display:block; overflow:hidden;}
.hotel_box_border01{margin:0 2px;height:1px;background:#253a70;}
.hotel_box_border02{margin:0 1px;height:1px;background:#253a70;}
.hotel_box_border03{height:2px;background:#253a70;}
.hotel_box_border04{height:1px;margin:0 1px;border-left:1px #E0E0E0 solid;border-right:1px #E0E0E0 solid;}
.hotel_box_border05{height:1px;margin:0 2px;background:#E0E0E0;}
.hotel_box_content{	padding:10px;	border-left:1px #e0e0e0 solid;	border-right:1px #e0e0e0 solid;	display:inline-block;	overflow:hidden;}
.hotel_box_content{	display:block;}
.hotel_box_hd{background:#253a70;color:#fff;	font-size:12px;	height:25px;line-height:25px;padding-left:10px;display:inline-block;	overflow:hidden;}
.hotel_box_hd {display:block;}

/*每日低价*/
.hotel_everyday_top{width:287px;height:2px;overflow:hidden;background:url(http://pic.ctrip.com/hotels081118/pic_jmpinfo_top.png) 0 0 no-repeat;_background:none;_display:none;}
.hotel_everyday_content{width:283px;text-align:left;padding:2px 0 2px 4px;background:url(http://pic.ctrip.com/hotels081118/pic_jmpinfo_content.png) repeat-y;	_background:none;_width:273px;_padding:0;}
.hotel_everyday_bottom{width:287px;height:6px;overflow:hidden;background:url(http://pic.ctrip.com/hotels081118/pic_jmpinfo_bottom.png) 0 0 no-repeat;_background:none;_display:none;}
.hotel_everyday_list{width:273px;}
* html .hotel_everyday_list{border:3px #F98510 solid;background:#fff;}
* html .hotel_everyday_content{filter:progid:DXImageTransform.Microsoft.Shadow (Color=#AAAAAA,Direction=135,strength=3);}
.hotel_everyday_list th{background:#FFEBD7;white-space: nowrap;height:25px;text-align:center;font-weight:normal;}
.hotel_everyday_list td{text-align:center;line-height:15px;_border-top:1px #EDB996 dashed;}
.hotel_everyday_price{color:#CF6600;display:block;}
.hotel_everyday_list .hotel_everyday_price em{color:green;font-style:normal;}
.hotel_everyday_list span em{color:gray;font-style:normal;}
.hotel_everyday_nobreakfast{color:#b4b4b4;}
/*侧栏*/
.hotel_searchbox input{width:85px;}
.base_154_top .base_sider_tab{float:left; width:77px;margin:0px; text-align:center; height:26px;cursor:pointer;}
.base_sider_tab_current{background:url(http://pic.ctrip.com/hotels081118/pic_siderbar_select.gif) no-repeat;}
.base_sider_tabcontent01 a{background:url(../img/bg_16x16.gif) no-repeat 2px -991px ;float:left;overflow:hidden;padding-left:18px;white-space:nowrap;width:50px;text-overflow:ellipsis;overflow:hidden;}
.base_sider_tabcontent02 a{background:url(../img/bg_16x16.gif) no-repeat 2px -991px ;display:block;overflow:hidden;padding-left:18px;white-space:nowrap;width:120px;}
.hotel_lowprice{display:block;width:154px;height:24px;line-height:24px;font-weight:bold;text-align:center;color:#FFF;overflow:hidden;background:url(http://pic.ctrip.com/hotels081118/un_hotel090731.png) no-repeat -336px -144px; margin:0 auto 10px auto}
.hotel_lowprice:hover{text-decoration:none;}
.hotel_area {
	padding:10px 0 10px 0;
}
.hotel_area a {
	display:block;
	width:50px;
	float:left;
	padding-left:18px;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
	background: url(../img/pic_left.gif) 10px -2048px no-repeat;
}
.hotel_areamore{
	clear:both;
	padding:5px 10px 0 0;
	text-align:right;
}
.hotel_areamore a{
	float:none;
	display:inline;
	background:none;
}
/*两栏布局*/
.hotel_grid01 .first{width:101px;float:left;}
.hotel_grid02 .first{width:238px;float:right;padding-left:10px;}
.hotel_unit:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
/*房型列表*/
.hotel_datelist01 th{background:#CBCDDA;}
.hotel_datelist02 th{background:#F9E4C6;}
.hotel_room_showall{float:right;margin-bottom:0;padding-right:10px;cursor:pointer;color:#0055AA;}
.hotel_room a{float:left;text-align:left;}
.hotel_room a, .hotel_room span{margin-right:2px;}
.hotel_gift, .hotel_sales, .hotel_roompic{background-image:url(../img/bg_16x16.gif);background-repeat:no-repeat;float:left;width:16px;height:16px;overflow:hidden;}
.hotel_roompic{background-position:0 -639px;}
.hotel_gift{background-position:0 -224px;cursor:pointer;}
.hotel_sales{background-position:0 -480px;}
.hotel_unit{zoom:1;padding:10px 0px 10px 5px;}
/*搜索结果和详细页面的评分*/
.hotel_whitebg{width:92px;height:105px;overflow:hidden;padding:9px 4px 0 4px;margin-bottom:5px;color:#666;border-right:solid 1px #CCC;border-bottom:solid 1px #CCC;background:#FFF;}
.hotel_realpic{display:block;height:16px;line-height:16px;padding-left:26px;margin:5px 0 7px 0;background:url(../img/bg_16x16.gif) 4px -513px no-repeat;}
.hotel_judge p{margin-top:-9px;}
.hotel_value, .hotel_value:hover{font-size:22px;font-family:arial;margin-right:3px;color:#0055AA;text-decoration:none;}
.hotel_value span {
	font-size:12px;
}
/*评分的条条*/
.hotel_showvalue01{height:5px;background:#D9D9D9;overflow:hidden;}
.hotel_showvalue01 span{display:block;height:5px;overflow:hidden;background:#999;}
.hotel_showvalue02{height:8px;border:1px #CACACA solid;background:#fff;overflow:hidden;}
.hotel_showvalue02 span{display:block;height:8px;overflow:hidden;background:#CACACA;}
/*每页的提交按钮*/
.hotel_submit {text-align: center;margin: 15px 0 0 0;}
/*===========================================酒店搜索结果=====================================================*/
.base_t4 #base_main{float:right;margin-left:-283px; overflow:hidden;}
.base_t4 .base_b{float:left;width:278px;}
.base_t4 #base_main .base_b{margin-left:283px;}

/*----------搜索条件--------------*/
.searchresult_box .hotel_box_border02 { background:#305EB1; }
.searchresult_box .hotel_box_hd { padding-top:3px; padding-bottom:1px; background:#305EB1; line-height:20px;}
.searchresult_box .hotel_box_content { border:0; background:#EDF4FE; }

.searchresult_txtbox { width:87px; height:16px; border:1px solid #A5ACB2; line-height:16px; vertical-align:2px;}
.searchresult_btn { width:82px; height:22px; border:none; background:url(http://pic.ctrip.com/hotels081118/un_hotel090731.png) -418px -784px; text-indent:-999em;  }

.searchresult_item { padding-left:65px; }
.searchresult_item a,.searchresult_item strong {float:left; color:#535353; outline:none;}
.searchresult_item a {width:110px; height:19px; margin:1px 5px 0; padding:0 10px; color:#305EB1; line-height:21px; text-overflow:ellipsis;moz-text-overflow: ellipsis;  overflow:hidden; }
.searchresult_item li { clear:both; line-height:19px; }
.searchresult_item li a.selected,.searchresult_item li a:hover,.searchresult_item li a.item_on { background-color:#305FB1; color:#fff; text-decoration:none; }
.searchresult_item li a.selected { background:#305FB1 url(http://pic.ctrip.com/hotels081118/un_hotel090731.png) -282px -320px; }
.searchresult_item li strong { margin-left:-65px; }
/*---left--*/
.float_right { float:right;}
.result_box { margin-bottom:10px; padding:1px; border:1px solid #ccc; background:#fff;}
.result_box .result_hd { padding:2px; height:21px;background-color:#EAEBF0; line-height:21px;}
.result_box .result_bd { height:590px; overflow:scroll; overflow-x:hidden;}
.result_box .result_ft { padding:5px; text-align:right; }

.searchresult_rank li { height:60px; margin-top:4px; background:#EAEBF0;}
.searchresult_rank li.selected { background:#BFD3EE; }
.searchresult_rank .line { height:1px; margin:0; border-top:1px solid #EAEBF0;  background:#fff; overflow:hidden;}
.searchresult_rank li.selected .line {border-top:1px solid #BFD3EE; }
.searchresult_rank h5 { padding:5px 10px 0; font-size:14px;  }
.searchresult_rank h5 a { display:block; width:220px; white-space:nowrap; overflow:hidden;text-overflow:ellipsis; moz-text-overflow: ellipsis }
.searchresult_rank h5 .float_right { display:block; width:17px; height:17px; background:url(http://pic.ctrip.com/hotels081118/un_hotel090731.png) -414px -320px; color:#fff; text-align:center; line-height:17px; font-size:12px; font-family:Arial; }
.searchresult_rank li dfn { color:#D35714; font-size:18px; font-family:Arial;}
.searchresult_rankbom { padding:0 10px; color:#0055AA; line-height:24px;}
.searchresult_rankbom .float_right { color:#000; }
.searchresult_rankbom img { vertical-align:middle; }

/*头部tab切换*/
.searchresult_tab1,.searchresult_tab2 {
	height:25px;
	padding-left:36px;
	background:url(../img/bg_16x16.gif) no-repeat 15px -603px;
	overflow:hidden;
	position:relative;
	z-index:10;
}
.searchresult_tab1 li,.searchresult_tab2 li  {
	float:left;
	line-height:26px;
}
.searchresult_tab1 .tagon {
	width:71px;
	height:25px;
	background:url(http://pic.ctrip.com/hotels081118/un_hotel090731.png) no-repeat;
	text-align:center;
}
.searchresult_tab1 .tagoff,.searchresult_tab2 .tagoff {
	width:71px;
	height:25px;
	cursor:pointer;
	text-align:center;
	color:#0055AA;
}
.searchresult_tab2 .tagoff {
	width:60px;
}
.searchresult_tab2 .tagprice {
	background:url(http://pic.ctrip.com/hotels081118/un_hotel090731.png) no-repeat -426px -75px;
}
.searchresult_tab2 .tagstar {
	background:url(http://pic.ctrip.com/hotels081118/un_hotel090731.png) no-repeat -414px -107px;
}
.searchresult_tab1 .date {
	float:right;
}

.searchresult_tab2 {
	height:30px;
	border-top:solid 1px #0066CC;
	background:#E9F1FE url(../img/bg_16x16.gif) no-repeat 15px -537px;
	position:relative;
	margin-top:-1px;
	z-index:1;
}
.searchresult_tab2 li {
	line-height:31px;
}
.searchresult_tab2 .amount {
	float:right;
	overflow:hidden;
	height:30px;
	white-space:nowrap;
	*line-height:normal;
}
.searchresult_tab2 .amount input {
	*vertical-align:-3px;
	*margin:3px 0 0 0;
}
.searchresult_tab2 .page {
	padding-left:20px;
	padding-right:5px;
}
.searchresult_tab2 .tagon, .searchresult_tab2 .tagon_asc, .searchresult_tab2 .tagon_desc{
	text-align:center;
	margin-top:5px;
	line-height:22px;
	width:86px;
	height:20px;
	background-image:url(http://pic.ctrip.com/hotels081118/un_hotel090731.png);
	background-repeat:no-repeat;
	cursor:pointer;
}
.searchresult_tab2 .tagon {background-position:right -192px;cursor:default;}
.searchresult_tab2 .tagon_asc {background-position:right top;}
.searchresult_tab2 .tagon_desc {background-position:right -48px;}
/*酒店列表框框*/
.searchresult_list{border-top:1px #CBD7E4 solid;margin-top:10px;}
.searchresult_list .hotel_grid01{
	margin:0 0 3px 0;
	background:#EAEBF0;
	border-top:1px #fff solid;
	padding:5px;
	margin-top:-18px;
}
.searchresult_abbrpic{
	background-repeat:no-repeat;
	background-position:center center;
	border:solid 1px #D5D5D5;
	width:70px;
	height:70px;
	display:block;
	margin:0 auto;
}
.searchresult_name{
	float:left;
	font-size:14px;
	line-height:22px;
	margin-right:3px;
	color:#0055AA;
}
.searchresult_numstars {
	margin-left:5px;
	vertical-align:-2px;
	*vertical-align:0px;
}
.searchresult_desc{
	margin:6px 0 0 0;
}
.searchresult_desc_text{
	height:38px;
	overflow:hidden;
}
.searchresult_desc p{
	margin-bottom:4px;
}
.searchresult_caption {
	padding:6px;
	background:#FFF;
}
.searchresult_caption .link {
	width:95px;
	height:70px;
	float:left;
	background-repeat:no-repeat;
	background-position:center center;
}
.searchresult_caplist {
	*float:left;
	padding-left:5px;
}
* html .searchresult_caplist {
	width:485px;
}
.searchresult_caplist li {
	float:left;
	width:220px;
	text-align:left;
	padding-left:20px;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
	display:inline;
	background:url(http://pic.ctrip.com/hotels081118/un_hotel090731.png) no-repeat -477px -560px;
}
.searchresult_caption .infos {
	width:96%;
	white-space:normal;
	background:url(http://pic.ctrip.com/hotels081118/icon_black.gif) no-repeat 9px 6px;
}
.searchresult_capbtn {
	height:17px;
	padding-left:18px;
	display:block;
	overflow:hidden;
	text-align:left;
	background:#E6F2FF url(http://pic.ctrip.com/hotels081118/un_hotel090731.png) no-repeat -439px -527px;
}
.searchresult_capbtn:hover {
	text-decoration:none;
}
.searchresult_new {
	position:absolute;
	z-index:9999;
	margin:0;
	*margin-top:-5px;
}
/*电子地图和行政区域小图标*/
.searchresult_emap, .searchresult_elocal{
	float:left;
	margin-right:10px;
	padding-left:18px;
	background-image:url(../img/bg_16x16.gif);
	background-repeat:no-repeat;
}
.searchresult_emap{
	background-position:0 -255px;
}
.searchresult_elocal{
	background-position:0 -287px;
}
.hotel_datelist01, .hotel_datelist02{
	clear:both;
	margin-top:2px;
}
.hotel_datelist01 td, .hotel_datelist02 td{
	border-top:1px #B5B9CA dashed;
	height:30px;
	text-align:center;
} 
.hotel_datelist01 th, .hotel_datelist02 th{
	height:21px;
	line-height:21px;
}
.searchresult_switchoff .searchresult_num{
	visibility:hidden;
}
.searchresult_switchon .searchresult_num{
	position:relative;
	width:17px;
	height:17px;
	margin:0 0 0 auto;
	overflow:hidden;
	text-align:center;
	line-height:17px;
	color:#fff;
	font-family:"arial black";
	background:#E53D00;
	border-top:solid 1px #FFF;
	z-index:10;
	cursor:pointer;
}
.searchresult_mapwrap1 {
	padding:1px;
	border:solid 1px #CCC;
	margin:0 0 10px 0;
}
.searchresult_mapwrap2 {
	height:340px;
	overflow-x:overflow;
	overflow-y:auto;
}
.searchresult_marptitle {
	background:#EEE;
	height:25px;
	border-bottom:1px solid #E6E6E6;
	line-height:25px;
	color:#666;
	padding-left:11px;
}
.searchresult_areamap {
	display:block;
	margin:0 auto;
}
.searchresult_searcharea {
	float:left;
	background:url(../img/bg_filter_selected.gif) no-repeat 2px 5px;
	padding-left:23px;
	cursor:pointer;
	color: #0055AA;
}
.searchresult_searchwrap {
	width:400px;
	margin:0 0 0 auto;
	position:relative ;
	z-index:10;
	text-align:right;
	float:right;
}
* html .searchresult_searchwrap {
	margin-top:2px;
}
.searchresult_searchbox {
	position:absolute;
	right:5px;
}
.searchresult_searchbtn,.searchresult_searchbtn_on,.searchresult_searchbtn2,.searchresult_searchbtn2_on,.searchresult_searchbtn3,.searchresult_searchbtn3_on,.searchresult_searchbtn4,.searchresult_searchbtn4_on  {
	width:70px;
	height:18px;
	line-height:18px;
	background-image:url(http://pic.ctrip.com/hotels081118/un_hotel090731.png);
	background-repeat:no-repeat;
	background-color:#F3F3F3;
	cursor:pointer;
	color:#000;
	padding-left:15px;
	border:solid 1px #000;
}
.searchresult_searchbtn {
	background-position:-174px -285px;
}
.searchresult_searchbtn_on {
	background-color:#FFCDA8;
	background-position:-174px -317px;
}
.searchresult_searchbtn2 {
	padding-left:0;
	background:#F3F3F3;
}
.searchresult_searchbtn2_on {
	padding-left:0;
	background:#FFCDA8;
}
.searchresult_searchbtn3 {
	background-position:-333px -285px;
}
.searchresult_searchbtn3_on {
	background-position:-333px -285px;
	background-color:#FFCDA8;
}
.searchresult_searchbtn4 {
	background-position:-414px -286px;
}
.searchresult_searchbtn4_on {
	background-position:-414px -286px;
	background-color:#FFCDA8;
}

.searchresult_pinpoint {
	position:absolute;
	top:25px;
	right:0;
	background: #F3F3F3;
	border: solid 1px #666;
	width: 220px;
	padding-bottom:5px;
	line-height:20px;
}
.searchresult_pinpointtbl {
	width: 100%;
	border: 0;
	line-height:normal;
}
.searchresult_pinpointtbl th {
	text-align: right;
	font-weight: normal;
	padding:2px 3px 2px 0;
	width:50px;
}
.searchresult_pinpointtbl td {
	text-align: left;
	padding:2px 0 2px 0;
}
.searchresult_pinpointlk {
	height:16px;
	padding-left:25px;
	background:url(http://pic.ctrip.com/hotels081118/un_hotel090731.png) no-repeat -475px -480px;
}
.searchresult_pinlist li {
	padding:1px 0;
}
*+html .searchresult_pinlist li {
	float:left;
}
.searchresult_pinlist a {
	display:block;
	background-image:url(http://pic.ctrip.com/hotels081118/hotel_list.gif);
	background-repeat:no-repeat;
	height:20px;
	width:190px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	padding-left:25px;
	margin:0 auto 0 0;
	text-align:left;
}
.searchresult_pinback {
	color:#FFF;
	width:80px;
	height:23px;
	display:block;
	overflow:hidden;
	padding-left:10px;
	background:url(http://pic.ctrip.com/hotels081118/un_hotel090731.png) no-repeat 0 -544px;
	margin:0 auto;
	border:none;
	cursor:pointer;
}
.searchresult_pintip {
	text-align:left;
	padding-left:24px;
}
.searchresult_pinlink1 {
	background-position:5px 0;
}
.searchresult_pinlink2 {
	background-position:5px -32px;
}
.searchresult_pinlink3 {
	background-position:5px -64px;
}
.searchresult_pinlink4 {
	background-position:5px -96px;
}
.searchresult_pinlink5 {
	background-position:5px -128px;
}
.searchresult_pinlink6 {
	background-position:5px -160px;
}
.searchresult_pinlink7 {
	background-position:5px -192px;
}
.searchresult_pinlink8 {
	background-position:5px -224px;
}
.searchresult_pinpointclose {
	width:16px;
	height:13px;
	display:block;
	overflow:hidden;
	background:url(http://pic.ctrip.com/hotels081118/un_hotel090731.png) no-repeat 0px -512px;
	text-decoration: none;
	margin:1px 0 0 auto;
}
.searchresult_pinpointclose:hover {
	text-decoration:none;
}
.searchresult_pinpointbtn {
	width:70px;
	height:18px;
	line-height:18px;
	overflow:hidden;
	color:#000;
	border:solid 1px #000;
	cursor:pointer;
	background:#F3F3F3;
}
.searchresult_webmap {
	z-index:1;
	height:340px;
	overflow:hidden;
}
.searchresult_mapjump {
	width:230px;
	height:155px;
	overflow:hidden;
	background:url(http://pic.ctrip.com/hotels081118/temp_map05.gif) no-repeat;
	padding:5px 5px 30px 5px;
	text-align:left;
	z-index:100;
	line-height:120%;
	font-size:12px;
}
.searchresult_mapjump_fix {
	background:url(http://pic.ctrip.com/hotels081118/temp_map06.gif) no-repeat;
	padding:30px 5px 5px 5px;
	font-size:12px;
}
.searchresult_mapjump p {
	min-height:114px;
	margin-top:10px;
}
* html .searchresult_mapjump p {
	height:114px;
}
.searchresult_mapjump dfn {
	color:#0055AA;
	font-style:normal;
	float:right;
	cursor:pointer;
	font-weight:bold;
	font-family:Simsun;
}
.searchresult_mapjump span {
	text-align:right;
	display:block;
}
.searchresult_mapchoice {
	width:160px;
	height:19px;
	line-height:19px;
	text-align:center;
	border:none;
	background:url(http://pic.ctrip.com/hotels081118/temp_map04.gif) no-repeat;
	overflow:hidden;
	cursor:pointer;
}
/*google弹出框开始*/
.searchresult_googlelist01,
.searchresult_googlelist02
{
	margin-top:5px;
}
.searchresult_googlelist01 th
{
	background:#EEEEEE;
	border-top:1px solid #CCCCCC;
	padding:2px;
	text-align:left;
}
.searchresult_googlelist01 td,
.searchresult_googlelist02 td
{
	padding:2px;
	text-align:left;
}
.searchresult_googlelist02 th
{
	background:#F9E4C6;
	border-top:1px solid #F2C98A;
	padding:2px;
	text-align:left;
}
.searchresult_noroom {
	padding:35px 0 35px 0;
	margin-top:10px;
	background:#FEEBE0;
	border:solid 1px #FF6701;
	font-weight:bold;
	font-size:12px;
	text-align:center;
}
.searchresult_noroom p {
	height:40px;
	width:215px;
	background:url(http://pic.ctrip.com/hotels081118/roomout.gif) no-repeat 0 5px;
	padding-left:45px;
	margin:0 auto;
}
.searchresult_googleroomtype
{
	float:left;
	width:160px;
	white-space:nowrap;
	margin-right:2px;
	text-overflow:ellipsis;
	overflow:hidden;
}
/*Ajax搜索效果开始*/
.searchresult_ajaxwrap {
	width:220px;
	height:128px;
	border:solid 1px #999;
	background-color:#FFF;
	text-align:center;
	padding:86px 96px 0 96px;
}
.searchresult_ajaxwrap img {
	display:block;
}
.searchresult_ajaxwrap p {
	font-weight:bold;
	font-size:14px;
}
.searchresult_ajaxwrap input {
	font-size:12px;
}
.searchresult_ajaxfail {
	background-image:url(http://pic.ctrip.com/hotels081118/ajax_fail.gif);
	background-repeat:no-repeat;
	background-position:70px 70px;
}
/*电子地图浮出样式*/
.searchresult_popmap {
	width:590px;
	height:440px;
	background:#FFF;
	border:solid 5px #999;
	display:none;
}
.searchresult_popname {
	font:13px;
	font-weight:bold;
	color:#000;
	position: absolute;
	left: 200px;
	top: 133px;
	z-index: -127616000;
	border:solid 1px #C60;
	background:#FF9;
	padding:3px;
}
.searchresult_popclose {
	width:43px;
	height:19px;
	display:block;
	overflow:hidden;
	background:url(http://pic.ctrip.com/hotels081118/un_hotel090731.png) no-repeat 0 -336px;
}
.searchresult_popclose:hover {
	background:url(http://pic.ctrip.com/hotels081118/un_hotel090731.png) no-repeat 0 -288px;
}
/*田国法需要的样式*/
#jmpArea {
	list-style:none;
	border:1px solid #7F9DB9;
	background:#FFF;
	width:512px;
	padding-left:8px;
	text-align:left;
	
	position:absolute;
	z-index:100;
	background-color:#ffffff;
	display:none;
	
	font-size: 12px;
}
#jmpArea li {
	overflow:hidden;
	zoom:1;
}

#jmpArea .hotel_jmpinfo_type {
	font-size:12px;
	height:20px;
	line-height:20px;
	border-bottom:1px dashed #AAA;
	margin-right:8px;
	text-align:center;
}

#jmpArea a {
	width:120px;
	padding-right:8px;
	height:22px;
	line-height:22px;
	text-decoration:none;
	float:left;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
#jmpArea a:hover {
	background-color:#E7F1FD;
}

/*===========================================酒店预订页=====================================================*/
.order_btmborder td {
	border-bottom: solid 1px #CCC;
}
.order_btmborder .borderfix td {
	border-bottom: none;
}
div.order_dashborder {
	border-bottom: dashed 1px #CCC;
}
div.order_nodashborder {
	border-bottom: dashed 1px #FFF;
}
div.order_dashheight {
	height: 38px;
}
.order_dayprice {
	vertical-align: middle;
}
.order_dayprice strong {
	color: #000;
}
.order_remark {
	 border-top: solid 2px #CCC;
	 padding-top: 15px;
	 padding-bottom: 15px;
}
ul.order_notice {
	font-weight: bold;
}
.order_notice li {
	list-style-type: disc;
	list-style-position: inside;
	font-weight: normal;
}
.order_contactslist {
	padding-top:5px;
	min-width:846px;
	overflow:auto;
	margin-left:-2px;
}
* html .order_contactslist {
	width:846px;
}
.order_contactslist a {
	float:left;
	width:107px;
	height:34px;
	border:solid 1px #E6F1FD;
	background:#E6F1FD url(http://pic.ctrip.com/hotels081118/un_hotel090731.png) 2px -167px no-repeat;
	margin: 0 0 2px 2px;
	padding:0px 5px 0 25px;
	cursor:  pointer;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow:hidden;
	color:#000;
}
.order_contactslist a:hover {
	text-decoration:none;
	color:#000;
	border:solid 1px #599DE9;
}
.order_contactslist a.selected {
	float:left;
	background:#E6F1FD url(http://pic.ctrip.com/hotels081118/un_hotel090731.png) 0px -203px no-repeat;
	margin-left:2px;
}
.order_contactslist a.selected:hover {
	text-decoration:none;
	color:#000;
	border:solid 1px #FDF1E4;
}
.order_allcontacts {
	float: right;
	padding-right: 25px;
	padding-left: 20px;
	background: url(../img/bg_16x16.gif) 0px -928px no-repeat;
}
.order_corpcontacts {
	float: right;
	padding-right: 25px;
	padding-left: 18px;
	background: url(../img/bg_16x16.gif) 0 -960px no-repeat;
}
.order_contactspace {
	margin: 0 15px;
	padding: 3px 0;
}
.order_contactspace th {
	width: 82px;
	font-weight: normal;
	text-align: left;
}
.order_contactspace td {
	width: 750px;
	font-weight: normal;
	text-align: left;
}
.order_passenger {
	width: 153px;
	overflow: hidden;
	padding: 0;
	border: 1px solid #7F9DB9;
	background: #FFF;
	position: absolute;
	z-index: 200;
	margin: 21px 0 0 0px;
}
.order_passenger a {
	padding: 1px 5px 0px 5px;
	text-align:left;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	cursor: pointer;
	line-height: 20px;
	color: #0055aa;
	display:block;
	text-decoration:none;
	min-height:20px;
}
.order_passenger span {
	 float:right;
	 text-align:right;
	 width:80px;
	 white-space:nowrap;
	 text-overflow:ellipsis;
	 overflow:hidden;
}
* html .order_passenger a {
	height:20px;
}
.order_passenger a:hover {
	background: #E7F1FD;
	border-top: 1px solid #7F9DB9;
	border-bottom: 1px solid #7F9DB9;
	text-decoration:none;
}
.order_contactspace div {
	float: left;
}
.order_contactdevide {
	border-top: solid 1px #CCC;
	padding-top: 10px;
}
.order_arrivaltime {
	padding-left: 40px;
}
.order_contactinfo {
	width: 100%;
	border: 0;
}
.order_contactinfo th {
	font-weight: normal;
	text-align: right;
	line-height: 20px;
	width:150px;
	padding: 3px 0;
}
.order_contacts {
	width: 300px;
	overflow: hidden;
	padding: 0;
	border: 1px solid #7F9DB9;
	background: #FFF;
	position: absolute;
	z-index: 200;
	margin: 21px 0 0 0px;
}

.order_contactstop {
	padding:0 0 3px 0;
	margin-bottom:3px;
	color:#999;
	border-bottom:1px dashed #999;
	line-height:20px;
	text-align:left;
	clear:both;
}
.order_contacts span {
	display: block;
	padding: 1px 5px 0px 5px;
	color: #999;
	border-bottom: dashed 1px #999;
}
.order_contacts a {
	padding: 1px 5px 0px 5px;
	text-align:left;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	cursor: pointer;
	line-height: 20px;
	color: #0055aa;
	display:block;
	text-decoration:none;
	min-height:20px;
	width:140px;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
	float:left;
}
* html .order_contacts a {
	height:20px;
}
.order_contacts a:hover {
	background: #E7F1FD;
	border-top: 1px solid #7F9DB9;
	border-bottom: 1px solid #7F9DB9;
	text-decoration:none;
}
.order_fillchoice {
	background: url(http://pic.ctrip.com/hotels081118/un_hotel090731.png) -484px -217px no-repeat;
	padding-left:20px;
	color: #AAA;
}
.order_fillchoice1 {
	background:url(http://pic.ctrip.com/hotels081118/un_hotel090731.png) -484px -285px no-repeat;
	padding-left:20px;
	color: #AAA;
}
.order_submit {
	text-align: center;
	padding: 15px 0 30px 0;
}
.order_corpcontactslayer {
	line-height:18px;
	text-align:left;
	width:641px;
	margin-left:-320px;
	position:absolute;
	top:480px;
	left:50%;
	z-index:200;
}
.order_layertitle {
	background:transparent url(http://pic.ctrip.com/hotels081118/un_hotel090731.png) repeat-x 0 -388px;
	clear:both;
	height:25px;
	line-height:27px;
	padding: 0px 5px 0 10px;
	text-align:left;
	font-size: 12px;
	margin: 0;
}
.order_layertitle a {
	background:transparent url(../img/bg_16x16.gif) no-repeat 0px -892px;
	float:right; 
	font-weight:normal;
	margin-top:3px;
	width:16px;
	height:25px;
}
.order_layercontent {
	background: #FFF;
	text-align:left;
	border-left: #d8e9fd solid 1px;
	border-right: #d8e9fd solid 1px;
	border-bottom: #d8e9fd solid 1px;
	padding: 10px 10px;
	margin-bottom: 5px;
}
.order_layertacket {
	background: #EEFACF;
	border: 1px solid #009944;
	color: #00561F;
	padding-left: 5px;
}
.order_layertacket dfn {
	font-style:normal;
}
.order_layercontent p {
	padding: 10px 0;
}
.order_layerquery {
	background:transparent url(http://pic.ctrip.com/hotels081118/un_hotel090731.png) no-repeat -176px 0;
	border: medium none;
	color: #FFFFFF;
	cursor: pointer;
	float: right;
	font-size: 12px;
	font-weight: bold;
	height: 22px;
	line-height: 22px;
	margin: 0px 5px 0 0;
	padding: 1px 2px 0 2px;
	width: 102px;
}
.order_layerlist {
	border-collapse: collapse;
	margin: 0;
	padding: 0;
	width: 100%;
	clear: both;
}
.order_layerlist th {
	 padding: 4px 2px;
	 background: #ddecf9;
	 color: #000;
	 line-height: 15px;
	 height: 20px;
}
.order_layerlist td {
	 padding:2px 2px;
	 line-height:15px;
	 height:30px;
}
.order_layerbtns {
	padding: 15px 0;
	text-align: center;
}
.order_layeraddbtn {
	background:url(http://pic.ctrip.com/hotels081118/un_hotel090731.png) no-repeat -176px -48px;
	border:none;
	color:#000;
	cursor:pointer;
	height:22px;
	line-height:22px;
	margin:0 0 0 auto;
	padding:0pt 0 0 5px;
	width:120px;
	margin:0 25px;
}
.order_closebtn {
	background:url(http://pic.ctrip.com/hotels081118/un_hotel090731.png) no-repeat -176px -96px;
	border:none;
	color:#000;
	cursor:pointer;
	height:22px;
	line-height:22px;
	margin:0 0 0 auto;
	text-align:center;
	width:70px;
	margin:0 25px;
	padding-left:12px;
}
/*===========================================预单核对页=====================================================*/
.check_devideline td {
	border-top: solid 1px #ccc;
}
/*===========================================预单提交页=====================================================*/
.submit_lowprice {
	font-size: 14px;
	font-weight: bold;
	float: left;
	margin: 0px 15px 0 0;
	background: url(../img/bg_32x32.gif) 0px -64px no-repeat;
	padding: 5px 0 5px 35px;
}
.submit_lowpricetxt {	
	padding-top: 6px;
}
.submit_featureservice {
	border-bottom: dashed 1px #999;
	line-height:45px;
	margin-bottom:15px;
}
.submit_featuretitle {
	font-size:14px;
	padding-left:4px;
}

.submit_rentalcar{
	background-position: -489px -498px;
	padding-left:25px;
	margin:0 12px;
	background-image: url(../img/bg_mainbox.png);
	background-repeat: no-repeat;
}
.submit_pass{
	background-position:-493px -531px;
	padding-left:20px;
	margin:0 12px;
	background-image:url(../img/bg_mainbox.png);
	background-repeat:no-repeat;
}

.submit_intergal {
	font-size: 14px;
	font-weight: bold;
	float: left;
	margin: 0 15px 0 0;
	background: url(../img/bg_32x32.gif) 0px -172px no-repeat;
	padding: 25px 0 10px 35px;
}
.submit_intergaltext {
	font-size: 14px;
	font-weight: bold;
	float: left;
}
.submit_intergaltext p {
	margin-top:5px;
	font-size: 12px;
	font-weight: normal;
}
.submit_intergaltext p .base_price01 {
	font-size: 14px;
}
.submit_ordadd,.submit_ordcopy,.submit_ordview,.submit_ordcancel,.submit_ordprint,.submit_ordmodi,.submit_hotelsave {
	padding-left: 20px;
	padding-right: 15px;
	background-image:url(../img/bg_16x16.gif);
	background-repeat:no-repeat;
}
.submit_ordadd {
	background-position:0px -832px;
}
.submit_ordcopy {
	background-position:0px -800px;
}
.submit_ordview{
	background-position:0px -672px;
}
.submit_ordcancel {
	background-position:0px -736px;
}
.submit_ordprint {
	background-position:0px -768px;
}
.submit_ordmodi {
	background-position:0px -704px;
}
.submit_hotelsave {
	background-position:0px -864px;
}
.submit_buttons {
	 padding-bottom:15px;
}
/*===========================================复制订单之房型选择页=====================================================*/
.selectroomtype_lowprice {
	float: right;
	font-size: 12px;
	font-weight: normal;
	background-color: #D1E1EF;
	height: 30px;
	line-height: 30px;
	padding-left: 87px;
	color: #900;
	background-position: -224px -60px;
	background-image: url(http://pic.ctrip.com/hotels081118/pic_index.gif);
	background-repeat: no-repeat;
}
/*===========================================订单查看页=====================================================*/
.ordbrowse_status td {
	text-align: center;
	border-top: solid 1px #ccc;
	padding-top: 8px;
}
.ordbrowse_evechange {
	background: #F5F5F5;
	border-top: #FFF solid 2px;
	border-bottom: #FFF solid 2px;
}

/*===========================================酒店详细页===========================================*/
.detail_title
{
	background:#E1EFFD;
	padding:10px;
	font-size:18px;
	margin:4px 0px;
}
.detail_title strong
{
	font-size:18px;
	font-weight:bold;
	float:left;
}
.detail_title img
{
	margin:5px 0 0 5px;
}
.detail_enname
{
	font-size:14px;
	font-weight:bold;
	clear:both;
	font-family:"Times New Roman",serif;
}
.detail_collection
{
	background:url(../img/bg_16x16.gif) 0px -354px no-repeat;
	font-size:12px;
	font-weight:normal;
	padding-left:20px;
	float:right;
	line-height:20px;
	margin-top:5px;
	margin-right: 10px;
}
.detail_print
{
	background:url(../img/bg_16x16.gif) 0px -768px no-repeat;
	font-size:12px;
	font-weight:normal;
	padding-left:20px;
	float:right;
	line-height:20px;
	margin-top:5px;
}

.detail_realpic
{
	background:url(../img/bg_16x16.gif) 0px -513px no-repeat;
	font-size:12px;
	font-weight:normal;
	padding-left:20px;
}

.detail_content
{
	background:#FFF;
	padding:5px;
	margin-bottom:20px;
}
.detail_comment
{
	padding:5px;
	padding-bottom:0px;
	width:120px;
	color:#666;
	float:left;
	margin-left:5px;
	margin-right:10px;
	_margin:0 10px 0 5px;
	background:#e3e3e3;
}
.detail_comment dt{
	background:#fff;
	padding:5px 8px 0px;
	height:12px;
}
.detail_comment dd {
	background:#fff;
	border-bottom:1px solid #a3a3a3;
	margin-bottom:5px;
	padding:2px 8px;
	color:#0055aa;
}
.detail_comment strong {
	font-size:20px;
	color:#0055aa;
	font-family:arial;
	font-weight:100;
}
.detail_comment_pic {
	background:url(http://pic.ctrip.com/hotels081118/pic_comment_color.gif) no-repeat;
	margin-left:5px;
	vertical-align:3px;
}
.detail_list
{
	list-style:none;
	padding: 0px 20px;
	line-height:24px;
	border-left:1px dashed #CCC;
}
.detail_list li
{
	border-bottom:1px dashed #CCC;
}
.detail_listmore {
	background:url(http://pic.ctrip.com/hotels081118/un_hotel090731.png) -430px -592px no-repeat;
	padding-right:15px;
	cursor:pointer;
}
.detail_info
{
	border-top:2px solid #CCC;
	margin:10px 0 10px 0px;
	padding:10px 0px;
}

.detail_link
{
	font-size:12px;
	font-weight:normal;
	background:url(../img/bg_16x16.gif) 105px -320px no-repeat;
}
.detail_dashed td
{
	border-bottom:1px dashed #E4E4E4;
	padding:2px 0px;
}
.detail_extralist th
{
	width:160px;
	font-weight:normal;
}
.detail_extralist th,
.detail_extralist td
{
	border-bottom:1px dashed #E4E4E4;
	text-align:left;
	padding-top:4px;
	padding-bottom:4px;
}
.detail_extralist dfn
{
	background:#FFF url(../img/bg_16x16.gif) 0px -66px no-repeat;
	padding-left:16px;
}
.detail_extracontent li
{
	list-style:none;
	float:left;
	padding-right:25px;
	white-space:nowrap;
}
.detail_cardname {
	float:left;
	margin-right:20px;
	white-space:nowrap;
}
.detail_talk,.detail_num
{
	width:100%;
	overflow:hidden;
}
.detail_talk a,.detail_num a {
	float:left;
}
.detail_talk span,.detail_num span {
	float:left;
	background:#FFF url(../img/bg_16x16.gif) 0px -447px no-repeat;
	display:inline;
	width:16px;
	height:16px;
	margin-right:3px;
}
.detail_num span {
	background-position:0px -2012px;
}
.detail_map
{
	width:236px;
	height:208px;
	border:1px solid #000;
}
.detail_pic
{
	float:right;
	padding-left:10px;
}
.detail_pic_border {
	border:1px solid #ccc;
	padding:4px;
	width:200px;
}
.detail_smallpic
{
	margin:5px 0px 0px;
	padding:0px;
}
.detail_smallpic img
{
	display:block;
}
.detail_smallpic li
{
	border:1px solid #FFF;
	float:left;
	padding:1px;
	margin-right:1px;
	width:45px;
	overflow:hidden;
	height:35px;
	display:inline;
}
.detail_smallpic .on
{
	border:	1px solid #FF6600;
}
/*===========================================酒店图片页=====================================================*/
.picture_nav
{
	list-style:none;
	border-bottom:2px solid #2A6CD4;
	color:#0055aa;
	cursor:pointer;
	overflow:hidden;
	text-align:center;
	line-height:27px;
	height:27px;
	background:url(http://pic.ctrip.com/hotels081118/un_hotel090731.png) 0 -432px repeat-x;
}
.picture_nav li
{
	float:left;
	width:117px;
}
.picture_navon
{
	background:url(http://pic.ctrip.com/hotels081118/un_hotel090731.png) -176px -240px no-repeat;
	color:#FFF;
	font-size:14px;
	font-weight:bold;
}
.picture_navline
{
	background:url(http://pic.ctrip.com/hotels081118/un_hotel090731.png) 116px -249px no-repeat;
}
.picture_content
{
	margin:28px 0px;
}
.picture_roomtype
{
	list-style:none;
	float:left;
	width:125px;
	background:#EAEBF0 url(http://pic.ctrip.com/hotels081118/roomtype_bk.gif) right repeat-y;		
}
.picture_roomtype li
{
	color:#0055aa;
	border-bottom:1px solid #BABDCD;
	border-top:1px solid #FFF;
    padding-left:18px;
    background:url(http://pic.ctrip.com/hotels081118/icon_arrow01.gif) no-repeat;
    cursor:pointer;
    margin-right:1px;
}
.picture_roomtype .on01
{
	border-bottom:1px solid #858AA7;
}
.picture_roomtype .on02
{
	background:#FFF url(http://pic.ctrip.com/hotels081118/icon_arrow02.gif) no-repeat;
	color:#000;
	border-bottom:1px solid #858AA7;
	margin-right:0px;
}
.picture_roomtype .more
{
	text-align:right;
	font-weight:bold;
	padding-right:5px;
	background:none;
}

.picture_roompic
{
	float:left;
	margin:0px 5px;
	width:440px;

}
.picture_bigpic
{
	width:440px;
	height:296px;
	padding:5px;
	border:1px solid #CCC;
}
.picture_smaillpic
{
	list-style:none;
	float:left;
	margin:10px 0px;
}
.picture_smaillpic li
{
	width:46px;
	height:35px;
	padding:1px;
	border:2px solid #CDCDCD;
	float:left;
	cursor:pointer;
	margin-right:5px;
}
.picture_smaillpic .on
{
	border:2px solid #FF6600;
}
.picture_intro
{
	float:right;
	width:193px;
	margin:0px;
	list-style:disc;
}
.picture_intro dt
{
	background:url(http://pic.ctrip.com/hotels081118/un_hotel090731.png) -176px -192px no-repeat;
	width:161px;
	height:24px;
	line-height:26px;
	font-size:14px;
	font-weight:bold;
	padding-left:32px;
	margin-bottom:10px;
}
.picture_intro dd
{
	margin-left:20px;
	display:list-item;
	list-style:disc;
}
.picture_date
{
	text-align:right;
	height:26px;

}
.picture_hotelpic
{
	width:673px;
	margin:28px auto 0 auto;
}
.picture_hotelpic .bigpic
{
	float:left;
	width:550px;
	height:370px;
	padding:5px;
	border:1px solid #CCC;
}
.picture_scrollpic
{
	float:right;
	width:70px;
}
.picture_scrollpic .arrowtop,
.picture_scrollpic .arrowtop_off,
.picture_scrollpic .arrowbottom,
.picture_scrollpic .arrowbottom_off
{
	width:70px;
	height:14px;
	cursor:pointer;
	display:block;
}
.picture_scrollpic .arrowtop
{
	background:url(http://pic.ctrip.com/hotels081118/un_hotel090731.png) -246px -158px no-repeat;	
	margin:0 auto;
}
.picture_scrollpic .arrowtop_off
{
	background:url(http://pic.ctrip.com/hotels081118/un_hotel090731.png) -246px -144px no-repeat;	
	margin:0 auto;
}
.picture_scrollpic .arrowbottom
{
	background:url(http://pic.ctrip.com/hotels081118/un_hotel090731.png) -176px -158px no-repeat;	
	margin:10px auto 0 auto;
}
.picture_scrollpic .arrowbottom_off
{
	background:url(http://pic.ctrip.com/hotels081118/un_hotel090731.png) -176px -144px no-repeat;
	margin:10px auto 0 auto;
}
.picture_scrollpic ul
{
	margin:0px auto;
	padding:0px;
	width:52px;
	height:344px;
}
.picture_scrollpic li
{
	width:46px;
	height:35px;
	padding:1px;
	border:2px solid #CDCDCD;
	margin:0 auto;
	margin-top:8px;
	float:left;
}
.picture_scrollpic .on
{
	border:2px solid #FF6600;
}
.picture_scrollpic img
{
	display:block;
}
/*酒店礼品浮出层*/
#tuna_jmpinfo .hotelgift {
	width:350px;
	border:solid 1px #DCEBFD;
	background:#FFF;
	font-family:Simsun;
}
#tuna_jmpinfo .hotelgift .title {
	height:28px;
	line-height:28px;
	font-weight:bold;
	padding-left:5px;
	background: url(http://pic.ctrip.com/hotels081118/un_hotel090731.png) repeat-x 0 -388px;
	text-align:left;
}

/*===========================================用户点评页=====================================================*/

.evaluation_title {
	background: #c4e3fb;
	margin: 10px 3px;
	padding: 7px;
	line-height: 14px;	
}
.evaluation_head h5 {
	width: 220px;
	padding-left: 20px;
	line-height: 16px;
	font-size: 14px;
	margin-left: 5px;
	margin-right: 20px;
	float: left;
}
.evaluation_scorebox {
	float: right;
	border: solid 1px #fcdcb8;
	padding: 1px;
	background: #FFF;
	margin-right: 10px;	
}
.evaluation_scoreboxbg {
	padding: 10px 5px 0px 10px;
	background: url(http://pic.ctrip.com/hotels081118/un_hotel090731.png) repeat-x 0 -624px;
	height: 43px;
	width: 420px;
}
.evaluation_scoretbl {
	border: 0;
	line-height: 16px;
}
.evaluation_scoretbl th {
	padding-left: 5px;
	padding-right: 10px;
	font-weight: normal;
}
.evaluation_scoretbl em {
	color: #FF6600;
	font-style: normal;
}
.evaluation_scoretbl em strong {
	font-size: 18px;
	font-family: Arial;
}

.evaluation_scoretbl span {
	color: #FF6600;
}

.evaluation_assolinks {
	padding-top: 20px;
}
.evaluation_edit {
	background: #FFF url(../img/bg_16x16.gif) 0px -448px no-repeat;
	padding-left: 20px;
	margin-left: 5px;
	float: left;
}
.evaluation_ranking {
	background: #FFF url(../img/bg_16x16.gif) 0px -1088px no-repeat;
	padding-left: 20px;
	margin-left: 20px;
	float: left;
}
.evaluation_emap {
	background: #FFF url(../img/bg_16x16.gif) 0px -256px no-repeat;
	padding-left: 20px;
	margin-left: 20px;
	float: right;
}
.evaluation_favorites {
	background: #FFF url(../img/bg_16x16.gif) 0px -352px no-repeat;
	padding-left: 20px;	
	margin-left: 20px;
	margin-right: 10px;
	float: right;
}
.evaluation_box {
	border: solid 1px #1c588e;
	margin: 0px 3px 13px 3px;
	line-height: 14px;
	background: url(http://pic.ctrip.com/hotels081118/pic_dashbg.gif) repeat-y 0 0px;
	padding-left: 5px;
}
.evaluation_boxtitle {
	border-bottom: solid 1px #CCC;
	padding: 6px 10px;	
	background: url(http://pic.ctrip.com/hotels081118/pic_dashbg.gif) #eaf3fb repeat-y 0 0px;
	margin-left: -5px;
}
.evaluation_editor {
	float: left;
	width: 140px;
}
.evaluation_hotel {
	float: left;
	padding-left: 20px;
	width: 400px;
}
.evaluation_roomtype {
	float: left;
	padding-left: 20px;
	width: 170px;
}
.evaluation_date {
	float: left;
	padding-left: 20px;
}
.evaluation_locate {
	float: left;
	padding-left: 20px;
	width: 140px;
}
.evaluation_addeval {
	float: right;
	background: url(../img/bg_16x16.gif) 0px -1056px no-repeat;
	padding-left: 20px;
}
.evaluation_identity {
	border-bottom: #CCC dashed 1px;
	text-align: center;
}
.evaluation_contentbox {
	padding: 8px 0;
	float: right;
	width: 100%;
	margin-left: -150px;
}
.evaluation_contentbox .spacing {	
	margin-left: 150px;
	margin-right: 8px;
}
.evaluation_portrait {
	border: solid 1px #CCC;
	width: 88px;
	height: 78px;
}
.evaluation_score {
	height:8px;
	border:solid 1px #E7662B;
	margin:0 5px 0 0;
	background-color:transparent;
	background-image:url(http://pic.ctrip.com/hotels081118/un_hotel090731.png);
	background-repeat:no-repeat;
}
.evaluation_tbl {
	text-align:center;
	border:none;
	padding:12px 0;
	width:140px;
	line-height:18px;
	float:left;
}
.evaluation_tbl2 {
	margin:0 0 10px 16px;
}
.evaluation_tbl2 span {
	color: #FF6600;
}
.evaluation_tbl2 td {
	padding-left:10px;
}
.evaluation_content {
	min-height: 50px;
	_height: 50px;
	margin-left: 16px;
	margin-right: 8px;
}
.evaluation_addcontent {
	margin-top: 20px;
	margin-left: 16px;
	margin-right: 8px;
	border-top: #eaeaea solid 1px;
	padding-top: 10px;
}
.evaluation_feedbackcontent {
	margin-top: 20px;
	margin-left: 16px;
	margin-right: 8px;
	border: #ffbe93 solid 1px;
	padding: 16px 25px;
	background: #fdfded;
}
.evaluation_editortitle {
	border: solid 1px #e1e1e1;
	background: url(http://pic.ctrip.com/hotels081118/un_hotel090731.png) repeat-x 0 -880px;
	margin: 10px 3px;
	line-height: 14px;
	height: 98px;
}
.evaluation_editortitle .editorname {
	float: right;
	background: url(http://pic.ctrip.com/hotels081118/pic_ping.gif) no-repeat right;
	height: 73px;
	padding-top: 25px;
	margin-left: -112px;
	width: 100%;
}
.evaluation_editortitle .editorname p {	
	margin-left: 112px;
	margin-right: 440px;
}
.evaluation_editortitle .editorname p span {	
	display: block;
}
.evaluation_editortitle img {
	margin: 9px;
	float: left;
}
.evaluation_sortlinks {
	margin-top: 30px;
	margin-bottom: 6px;
}
.evaluation_sortlinks li.sorttype {
	font-weight: normal;
	background: url(../img/bg_16x16.gif) no-repeat 0 -542px;
	color: #000;
	padding: 2px 5px 2px 20px;
	line-height: 20px;
	margin: 0px 5px;
}
.evaluation_sortlinks li {
	float: left;
	font-weight: normal;
	background: url(http://pic.ctrip.com/hotels081118/un_hotel090731.png) no-repeat -379px -79px;
	color: #0055AA;
	padding: 2px 18px 2px 12px;
	line-height: 20px;
	margin: 0px 5px;
	cursor: pointer;
}
.evaluation_sortlinks li.des {
	background: url(http://pic.ctrip.com/hotels081118/un_hotel090731.png) no-repeat -379px -111px;
	color: #0055AA;
}
.evaluation_sortlinks li.selected {
	font-weight: bold;
	background: url(http://pic.ctrip.com/hotels081118/un_hotel090731.png) no-repeat 0 -784px;
	color: #000;
}
.evaluation_sortlinks li.selecteddes {
	font-weight: bold;
	background: url(http://pic.ctrip.com/hotels081118/un_hotel090731.png) no-repeat 0 -832px;
	color: #000;
}
/*酒店点评页面*/
.feedback_sider{
	background:#F4F9FF;
	padding:10px;
}
.feedback_sider h3{
	font-size:12px;
	padding-left:20px;
	background-image:url(../img/bg_16x16.gif);
	background-repeat:no-repeat;
}
.feedback_slot{background-position:0 -1120px}
.feedback_exchange{background-position:0 -1152px}
.feedback_travel{background-position:0 -1184px}
.feedback_feedback{background-position:0 -1216px;}
.feedback_service{background-position:0 -1248px;}
.feedback_exchange, .feedback_travel, .feedback_feedback, .feedback_service{margin-top:15px;}
.feedback_sider a{
	display:block;
	padding-left:20px;
	height:22px;
	line-height:22px;
}
.feedback_sider a:hover{
	color:#fff;
	text-decoration:none;
	background:url(http://pic.ctrip.com/hotels081118/bg_feedback_hover.gif) no-repeat;
}
.feedback_crumb{
	height:25px;
	line-height:25px;
	border-bottom:#D5E3FD 1px solid;
}
.feedback_contentbox{
	margin-left:25px;
}
.feedback_evaluate{
	border:1px #ccc solid;
}
.feedback_evaluate td{text-align:center;}
.feedback_evaluate th{
	height:28px;
	line-height:28px;
	width:98px;
	background:#F7F7F7;
	padding-left:20px;
	text-align:left;
	border-top:1px #ccc solid;
	border-right:1px #ccc solid;
}
.feedback_evaluate_gray{background:#F7F7F7}