/*======================================
author:	lou xiao jian<jxsr_lxj@163.com>
======================================*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;-webkit-text-size-adjust:none}
body{font:12px/22px Tahoma,"宋体";word-break:break-all;text-align:center;color:#383838}
#page{padding-bottom:15px}
fieldset,img{border:none 0;} 
table {border-collapse:collapse;border-spacing:0;} 
ol,li,ul{list-style:none;} 
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;}
caption,th{text-align:left;} 
h1,h2,h3,h4,h5,h6{font-size:100%;} 
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
input,select,textarea{font:normal normal 12px "Verdana";outline:none}
input,textarea,select{*font-size:100%;}
/* 字体属性 [定义规则，小写f加属性名称] */
.fB{font-weight:bold;}
.fI{font-style:italic;}
/* 字体大小*/
.fs12{font-size:12px;}
.fs14{font-size:14px;}
.mr10{margin-right:10px}
.ml10{margin-left:10px}
/* 浮动*/
.fl{float:left;}
.fr{float:right}
/* 其它属性*/
.hide{display:none}
/*lrBx*/
.lrBx,.lrBx .rbx{overflow:hidden;zoom:1}
.lrBx .lbx{float:left;_margin-right:-3px}
.lrBx .lbx img{vertical-align:top}
/*.lrBx .rbx{padding-left:10px}*/
/*==clear==*/
.clear{overflow:hidden;zoom:1}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
* html>body .clearfix {display: inline-block;width:100%;}
* html .clearfix{/* Hides from IE-mac \*/height: 1%;/* End hide from IE-mac */}
/* ie7 hack*/
*+html .clearfix {min-height:1%;}
.stress{color:#f00}
/*table*/
.table li{float:left;overflow:hidden}
.table ul{overflow:hidden;zoom:1;}
.table .head{font-weight:bold;}
.pitch{margin-bottom:15px}/*间距*/
/*============================================header===================================================*/
#header,#content,#footer{width:800px;margin:0 auto;text-align:left}
    #header{position:relative;z-index:3;padding-top:1px}
	#header .headTp-bj{width:800px;height:30px;position:absolute;top:0;left:0;z-index:1}
	#header .headTp:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
	#header .headTp{height:30px;position:relative;z-index:2; padding-left:8px}
	#header .tp-bar{float:left;line-height:18px;margin-top:6px;overflow:hidden}
	#header .tp-bar .bar-item{float:left;padding:0 6px 0 7px;margin-left:-1px}
	#header #square-bar{width:280px}
	#header #user-bar .user-item{width:120px;text-align:right;height:18px;overflow:hidden}
	#header .tip-b{position:absolute;top:30px;right:198px;padding:5px 5px 5px 10px}
	#header .tip-b a,header .tip-b span{margin-right:15px}
	#header .tip-b .tip-b-close{margin:0}
#pps-nav{width:162px;height:21px;background:url(../img/pps_nav.png) no-repeat; text-align:center; line-height:21px; overflow:hidden; position:absolute;right:0;bottom:2px}
    #pps-nav a{margin:0 5px}

#logo{width:195px;background:url(../img/logo.png) no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src="http://y.pps.tv/t/core/img/logo.png?v=20101010")}
	#logo a{display:block;height:39px;text-indent:-9999px;position:relative}

#topSaerch{float:right;overflow:hidden}
	#topSaerch .input,#topSaerch .sBtn{float:left}
	#topSaerch .input{width:133px;height:20px;margin-top:5px;overflow:hidden}
	#topSaerch .input input{border:0;width:120px;height:15px;display:block;margin:3px 0 0 3px;vertical-align:top;color:#909090}
	#topSaerch .input .input-focus{color:#383838}
	#topSaerch .sBtn,#topSaerch .sBtn-h{width:62px;height:24px;text-indent:-9999px;border:0;cursor:pointer;margin:3px 3px 0 0}

#content{margin-bottom:15px; padding-bottom:30px}
/*==p-cols==*/
.p-cols{zoom:1}
	.p-cols:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
	.p-cols .p-col1{width:100%;float:left}
	.p-cols .p-col1-1{padding:0 0 15px 20px}
	.p-cols .p-col1-1 .nr-title{margin-left:-20px;margin-right:-20px}
	.p-cols .p-col2{float:left}
	.p-cols-m-3s .p-col1-1{margin-right:220px}
	    .p-cols-m-3s .p-col2{width:180px;margin-left:-190px;padding-top:20px}
	.new-p-cols2,.new-p-cols3{background-image:url(../img/square_p_cols.png);background-repeat:repeat-y}
	.new-p-cols2 .p-col1{background:url(../img/square_p_col2.png) right top no-repeat}
		.new-p-cols2 .p-col1-1{margin-right:240px;padding-top:10px}
		.new-p-cols2 .p-col2{width:180px;padding-top:20px;margin-left:-200px}
	.new-p-cols3{background-position:50px 0;}
		.new-p-cols3 .p-col1-1{margin-right:190px;padding-top:20px}
		.new-p-cols3 .p-col2{background:url(../img/new-p-cols3-2.png) left top no-repeat;width:170px;padding-top:40px;margin-left:-170px}
/*==/p-cols==*/		

#footer{text-align:center;padding-bottom:8px}
	#footer .ft-list{line-height:30px}
/*============================================header===================================================*/
.gold,.silver,.cert,.cert-b,.p-sq b,.p-tlft b,.p-trgt b,.pic-yt b,.dialog-close a,.backtop b,.tip-b .tip-b-close,.gz-but,.gz-but2 b,.ygz-but2 b,.reply b,.per-hp b,.per-cp b,.per-zp b,.per-rise b,.per-drop b,.per-smooth b,.ygz-but b,.xhgz-but b,.tip-c .jt,.cancel-gz b,.rank li b,
.icon-rise,.icon-smooth,.icon-drop,
.gz-tag b,.also-say b,
.but,.but-cancel,
.psearch-form .but input,
.pagenav a,.pagenav span,
.correct b,.wrong b,.recom-user b,.add-blacklist b,.video b,.safe-wz b,.bqr-wz b,
#publish-form2 .fb-act a b,#publish-form .fb-act .vt b,.vote-icon b,
.new-publish-form3 .fb-act a b{background-image:url(../img/t.png);background-repeat:no-repeat}

.but5,.gzyx-but,.freg-but,.freg-but2,.js-upload-file,
#publish-form2 .fb-but2,#publish-form2 .fb-but2-h,#publish-form2 .fb-but2-gd,
#search-detailed .form-item,#search-detailed b,#search-detailed s,.shd-but,
.g-bx .g-tp b,.g-bx .g-tp s,.g-bx .g-ft b,.g-bx .g-ft s,
.k-bx .k-tp b,.k-bx .k-tp s,.k-bx .k-ft b,.k-bx .k-ft s,
.k-tab .select,.k-tab .select span,
.publish-form .hd h2,
.but6,
.icon-calendar,
.v2 span,.v2 em,
.but7{background-image:url(../img/t2.png);background-repeat:no-repeat}

.reply,.dele,.per-hp,.per-cp,.per-zp,.per-rise,.per-drop,.per-smooth,.gz-tag,.also-say,.correct,.wrong,.recom-user,.add-blacklist{display:inline-block;position:relative}
.reply b,.dele b,.per-hp b,.per-cp b,.per-zp b,.per-rise b,.per-drop b,.per-smooth b,.gz-tag b,.also-say b,.correct b,.wrong b,.recom-user b,.add-blacklist b{overflow:hidden;position:absolute;top:50%;text-indent:-9999px;}

.correct,.wrong{padding:0 10px 0 20px;background-repeat:no-repeat}
.correct{color:#358330;background-color:#e9f5e7 }
.wrong{color:#cc0000;background-color:#ffebdf }
.correct b,.wrong b{width:12px;height:12px;left:5px;margin-top:-6px}
.correct b{background-position:-80px -77px}
.wrong b{background-position:-78px -158px}
.recom-user,.add-blacklist{padding-left:20px}
.recom-user b,.add-blacklist b{height:15px; margin-top:-7px; left:0}
.recom-user b{width:16px;background-position:-17px -214px}
.add-blacklist b{width:17px;background-position:0 -214px}

.avatar,.avatar30,.avatar100{vertical-align:top;padding:2px;background:#fff}
.avatar{width:50px}
.avatar30{width:30px}
.avatar100{width:100px}

.icon-calendar{width:16px;height:16px;overflow:hidden;background-position:-108px -545px;cursor:pointer;text-indent:-9999px}
.orderly li{list-style:decimal inside}
.cert-b,.cert,.gold,.silver{display:inline-block;line-height:100px;font-size:0;overflow:hidden;cursor:pointer}
.cert-b{width:79px;height:23px;background-position:0 -43px}
.cert{width:11px;height:10px;background-position:-79px -43px}
.gold,.silver{width:20px;height:12px}
.gold{background-position:0 0}
.silver{background-position:-74px 0}
.no-content{text-align:center;padding:5px 0}
.rela{position:relative;zoom:1}
.rela .act{position:absolute;top:3px;right:8px;z-index:999}
.score{font-size:14px;color:#f60;font-weight:bold}

.drop-handle{display:inline-block;*display:inline;*zoom:1;position:relative;border:1px solid #dbdbdb;padding:0 19px 0 4px;line-height:19px;cursor:pointer}
	.drop-handle b{position:absolute;top:8px;right:7px;border-left:4px solid #fff;border-right:4px solid  #fff;border-top:4px solid #383838;border-bottom:4px solid #fff; height:0;line-height:0; width:0;overflow:hidden}
	.drop-sub-more{position:absolute;background:#fff;left:700px;top:200px;border:1px solid #dbdbdb;border-top:0;z-index:9999;visibility:hidden;top:0;left:-9999px}
	.drop-sub-more .j{background:#f4f4f4}
	.drop-sub-more li{padding-left:5px;color:#383838;text-align:left;cursor:pointer;zoom:1}
	.drop-sub-more li a{color:#383838;text-decoration:none}
	.drop-score{width:36px; vertical-align:top;*vertical-align:middle;top:1px}
	.drop-sub-score{width:59px}

.but,.but-cancel{display:block;width:64px;height:23px;overflow:hidden;text-decoration:none;text-align:center}
	.but input,.but-cancel input{visibility:visible;float:left;border:0;height:23px;width:64px;background:transparent;line-height:25px;cursor:pointer;padding-bottom:4px}
	.but{background-position:0 -89px;color:#383838}
	.but:hover{text-decoration:none;background-position:0 -112px;color:#383838}
	.but-cancel{color:#909090;background-position:0 -149px}
	.but-cancel input{color:#909090}
	.but-cancel:hover{text-decoration:none}

.but2{width:107px;height:27px;line-height:27px;text-align:center;display:block}
	.but2:hover{text-decoration:none}

.but4{height:29px;line-height:26px;display:inline-block;padding-left:6px}
	.but4 span{display:block;padding:0 8px 3px 0}
	.but4:hover{text-decoration:none}

.but5{width:97px;height:30px;text-align:center;display:block;background-position:0 -389px;color:#383838;line-height:28px;font-size:14px}
    .but5:hover{background-position:0 -419px;text-decoration:none;color:#383838}

    .but6,
    .but7{display:block;color:#fff;font-size:14px;border:0;cursor:pointer;text-align:center}
    a.but6:hover,
	a.but7:hover{text-align:none;color:#fff;text-decoration:none}
	.but6{width:81px;height:25px;line-height:25px;background-position:right -664px;font-weight:bold}
	.but7{width:100px;height:28px;background-position:right -689px;line-height:25px}
	
.gz-but,.freg-but,.freg-but2{border:0;cursor:pointer;line-height:0;font-size:0;overflow:hidden;text-indent:-9999px}
    .pl-but,.load-but{width:60px;height:25px;border:0;cursor:pointer;overflow:hidden;text-indent:-9999px}
    .load-but{background:url(../img/load-but.gif) no-repeat}

.ygz-but,.xhgz-but,.ygz-but2{border:1px solid #d7d7d7;background:#eaeaea;color:#909090;}
	.gz-but{width:68px;height:23px;display:inline-block;background-position:0 -66px}
	.gz-but:hover{background-position:-27px -229px}
	.gz-but2,.ygz-but2{width:54px;height:18px;overflow:hidden;display:block;position:relative;text-indent:13px;line-height:18px;}
	.gz-but2 b,.ygz-but2 b{width:6px;height:7px;overflow:hidden;position:absolute;left:4px;top:50%;margin-top:-3px}
	.gz-but2{border:1px solid #d0f3bd;background:#e3fed6;}
	.gz-but2 b{background-position:-79px -58px}
	.ygz-but2 b{background-position:-36px -5px}
	.ygz-but,.xhgz-but{padding:0 5px 0 18px;line-height:21px;position:relative;display:inline-block;text-align:left}
	.ygz-but b,.xhgz-but b{position:absolute;overflow:hidden}
	.ygz-but s,.xhgz-but s{margin:0 4px;text-decoration:none}
	.ygz-but b{left:6px;top:7px;width:7px;height:6px;background-position:-36px -5px}
	.xhgz-but{padding-left:22px}
	.xhgz-but b{left:7px;top:6px;width:9px;height:10px;background-position:-64px -104px}

.gzyx-but{width:134px;height:39px;display:block;text-indent:-9999px}  

.c-input,.e-input{border-left:1px solid #c4c7bd;border-top:1px solid #c4c7bd;border-right:1px solid #efefef;border-bottom:1px solid #efefef}
.c-input{height:17px;text-indent:5px;padding-top:4px}
.tip-a,.tip-b{padding:5px 10px;line-height:20px}
.tip-a{background:#fffddd;border:1px solid #f8f3d6;display:block}
.tip-a span{color:#383838}
a.tip-a:hover{background:#fff9b7;border:1px solid #eee4aa;text-decoration:none}
.tip-b{background:#fffbd6;border:1px solid #c5b270;text-align:left}
.tip-b .tip-b-close{width:7px;height:6px;position:absolute;top:5px;right:5px;overflow:hidden;background-position:-73px -104px;text-indent:-9999px}
.tip-c{background:#383838;color:#fff;padding:4px 10px 8px;position:absolute;border:1px solid #fff;text-align:left}
.tip-c .jt{display:block;width:9px;height:6px;overflow:hidden;background-position:-72px -110px;bottom:-6px;position:absolute;left:12px}
.tip-d{width:479px;height:75px;background:url(../img/tip_d.png) no-repeat}
.reply{padding-left:15px}
.reply b{width:11px;height:12px;margin-top:-6px;background-position:-75px -92px;left:0;}
.dele-i{width:7px;height:6px;overflow:hidden;text-indent:-9999px;}
.dele{padding-left:11px}
.dele b{width:7px;height:6px;margin-top:-2px;left:0;}

.no-content{padding-top:20px;padding-bottom:20px;font-size:14px;position:relative;padding-left:70px;height:auto!important;height:22px;min-height:22px;text-align:left}
    .no-content img{position:absolute;left:10px;top:50%;margin-top:-24px}

.freg-but,.freg-but2{width:123px;height:39px;display:inline-block}
	.freg-but{background-position:0 -195px}
	.freg-but:hover{background-position:0 -234px}

.nr-title,.nr-title2{font-size:14px;height:40px;line-height:40px;font-weight:normal}
	.nr-title{padding-left:20px;margin-bottom:10px;position:relative;zoom:1}
	.nr-title:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
	.nr-title .tag_url{font-weight:normal;font-size:12px;margin-left:5px}
	.nr-title .nr-item{float:left;padding:0 10px;margin-right:5px}
	.nr-title .select{height:41px;position:relative;margin-top:-1px;bottom:-1px}
	.nr-title .select:hover{text-decoration:none}
	.nr-title2{padding-left:10px}
    .nr-title3{font-size:12px;background:#eff0ef;line-height:31px;padding-left:10px; font-weight:normal; margin-bottom:10px}

.cancel-gz{width:49px;margin:0 auto; display:block}
	.cancel-gz span{display:none}
	.cancel-gz b{width:49px;height:14px;overflow:hidden;display:block;background-position:0 -135px;cursor:pointer}
	a.cancel-gz:hover span{display:inline}

.per-hp,.per-cp,.per-zp,.per-rise,.per-drop,.per-smooth{padding-right:13px}
	.per-hp b,.per-cp b,.per-zp b{width:11px;height:11px;margin-top:-5px;right:0}
	.per-hp{margin-right:5px}
	.per-hp b{background-position:-55px 0}
	.per-cp b{background-position:-44px 0}
	.per-zp b{background-position:-64px -93px}

    .per-rise b,.per-drop b,.per-smooth b,
    .icon-rise,.icon-smooth,.icon-drop{width:10px;height:10px;overflow:hidden;text-indent:-9999px;display:inline-block}
	.per-rise b,.per-drop b,.per-smooth b{margin-top:-4px;right:0}
	.per-rise strong,.per-drop strong,.per-smooth strong{color:#ff7800}
	.per-rise b,.icon-rise{background-position:-74px -116px}
	.per-drop b,.icon-drop{background-position:-84px -116px}
	.per-smooth b,.icon-smooth{background-position:-64px -116px}

.video,.safe-wz,.bqr-wz,.vote-icon{margin-right:8px}
    .video b,.safe-wz b,.bqr-wz b{width:12px;height:12px;overflow:hidden;display:inline-block;vertical-align:middle;cursor:pointer;margin:5px 0 7px 3px}
	.video b{background-position:-68px -77px}
    .safe-wz b,.bqr-wz b{height:13px}
	.safe-wz b{background-position:0 -229px}
	.bqr-wz b{background-position:-12px -229px}
	.vote-icon b{width:14px;height:15px;overflow:hidden;display:inline-block;vertical-align:middle;cursor:pointer;margin:3px 0 6px 3px;background-position:-77px -214px}

.gz-tag{padding-left:20px}
    .gz-tag b{width:14px;height:13px;background-position:-64px -158px;left:0;margin-top:-7px}

.also-say{padding-left:18px}
    .also-say b{width:14px;height:11px;left:0;margin-top:-5px;background-position:-80px -104px}

.my-operation{position:relative;zoom:1;padding-left:15px;line-height:23px}
	.my-operation a{padding:0 10px}
	.my-operation input{width:13px;height:13px;vertical-align: middle;position:absolute;left:5px;top:5px}

.nr-selection{font-weight:normal;position:relative;left:-11px}
		.nr-selection a,.nr-selection em{padding:0 11px}
		.nr-selection em{font-weight:bold}

.countTxt-error{position:relative;display:inline-block;color:#b80043;padding-left:20px}
	.countTxt-error b{position:absolute;width:16px;height:15px;background-position:0 -83px;left:0;top:50%;margin-top:-6px}

.keyword,.nub{color:#f00}
/*海报各尺寸*/
.poster{width:90px;height:120px;padding:2px;border:1px solid #cccccc;vertical-align:top}
.poster2{width:50px;height:68px;padding:2px;border:1px solid #cccccc;vertical-align:top}
/*海报各尺寸*/

.search-suggest{width:130px;border:1px solid #ccc; position:absolute; top:26px; right:66px; background:#fff; z-index:999999; line-height:21px; display:none}
    .search-suggest p,.search-suggest a{padding:0 5px}
	.search-suggest a{color:#383838;text-decoration:none;display:block;zoom:1}
	.search-suggest a:hover{color:#e8f4fc;background:#e8f4fc;color:#909090; text-decoration:none}
	.search-suggest li{height:21px;overflow:hidden}
	.search-suggest li em{color:#f00}
	.search-suggest .d a{background:#e8f4fc;color:#909090}

.info-list li,.info-list-cols2 li{height:22px;overflow:hidden;color:#909090}
	.info-list li em,.info-list-cols2 li em{color:#383838}
	.info-list .js,.info-list-cols2 .js{width:100%;position:relative}
	.info-list .js .more,.info-list-cols2 .js .more{position:absolute;right:0;bottom:0;background:#fff;padding-left:5px}
	.info-list .js2,.info-list-cols2 .js2{height:36px;line-height:18px}
	.info-list-cols2{zoom:1}
	.info-list-cols2:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
	.info-list-cols2 li{width:49.5%;float:left}
	.info-list-cols2 .all{width:100%}
	.info-list-cols2 .ps{margin-right:8px}

.tag-item{padding-top:20px;margin-bottom:20px;position:relative}
    .tag-item .rbx{padding-left:10px}
	.tag-item .t,.tag-item .t2{height:22px;line-height:22px;overflow:hidden;font-size:14px;font-weight:normal;margin-top:-2px}
	.tag-item .t{border-bottom:1px dashed #cccccc;margin-bottom:8px;padding-bottom:5px}
	.tag-item .t .xg,.tag-item .t2 .xg{font-size:12px}
	.tag-item .t2 .name,.tag-item .t2 .gold,.tag-item .t2 .grade,.tag-item .t2 .cert,.tag-item .t2 .silver,.tag-item .t2 .xg{float:left;margin-right:5px}
	.tag-item .t2 .gold{margin-top:5px}
	.tag-item .gold,.tag-item .silver{vertical-align:middle;margin:5px 5px 5px 0}
	.tag-item .sex{vertical-align:middle;margin:3px 3px 3px 0}
	.tag-item .t2 .cert{margin-top:6px}
	.tag-item .info-list{height:63px}
	.tag-item .info-list-cols2{margin-top:-5px;height:74px}
	.tag-item .tag-act{height:23px;line-height:23px;overflow:hidden}
	.tag-item .tag-act input,.tag-item .tag-act span{float:left}
	.tag-item .tag-act .tag-act-r{float:right}
	.tag-item .tag-act .tag-act-r .add-blacklist,.tag-item .tag-act .tag-act-r .recom-user{float:left} 
	.tag-item .tag-act .tag-act-r .add-blacklist{margin-left:15px}
	.tag-item .tag-act .tar2{color:#2E6FB3;margin-right:-10px}
	.tag-item .tag-act .tar2 a{margin:0 10px}
	.tag-item .xg,.tag-item .cz{margin-left:10px}
	.tag-item .ti-gz,.tag-item .ti-fans,.tag-item .ti-video{margin-right:10px}
	.tag-item .ti-gz em,.tag-item .ti-fans em,.tag-item .ti-video em{font-weight:bold}
	.tag-item .t-grade{padding-bottom:5px}
	.tag-item .t-grade .grade{display:inline-block;*display:inline;*zoom:1;vertical-align:middle}
	.tag-item .also-say,.tag-item .ptr{position:absolute;top:18px;right:0}

.tk-list{overflow:hidden;zoom:1}
    .tk-list .newer{background-color:#FFFDDD;/*margin:0 -20px;padding-left:20px;padding-right:20px;position:relative*/}
    .tk-item{border-top:1px dashed #dddddd;padding:15px 0 16px 0;margin-top:-1px}
    .tk-item .lbx input{width:13px;height:13px;vertical-align:top;margin:22px 10px 0 5px}
	.tk-item .tk-r{padding-left:20px}
	.tk-item .tk-name{margin-right:10px;font-size:14px}
	.tk-item .p-list{margin-top:5px}
	.tk-item .done,.tk-item .publish{font-size:14px;line-height:22px;margin-top:-2px;padding-bottom:5px;word-wrap:break-word}
	.tk-item .done img,.tk-item .publish img,.tk-item .tk-nr img{vertical-align:middle;margin:3px 3px 3px 0;position:relative;top:-1px}
	.tk-item .done .cert,.tk-item .publish .cert,.tk-item .tk-nr .cert,.tk-item .tk-topic .cert{vertical-align:middle;margin:6px 0 7px 0}
	.tk-item .tk-info{overflow:hidden;zoom:1;padding-top:5px}
	/*.tk-item .tk-info .tk-vote{margin-left:15px;float:right;display:inline;vertical-align:top}*/
	.tk-item .tk-info-r{float:right;color:#909090;margin-right:-6px}
	.tk-item .tk-info-r a{margin:0 6px}
	.tk-item .tk-time{color:#909090;float:left;vertical-align:top}
	.tk-item .tk-nr{margin-bottom:10px;line-height:24px;margin-top:-3px}
	.tk-item .tk-nr,.tk-item .tk-topic{margin-right:25px;word-wrap:break-word}
	.tk-item .tk-nr img,.tk-item .tk-topic img{vertical-align:middle;margin-right:3px}
	.tk-item .tk-intr{margin-top:-12px}
	.tk-item .tk-intr img{vertical-align:middle;margin:4px 3px 3px 0}
	
	.tk-cols2{position:relative}
	.tk-cols2 .tk-item{position:relative;zoom:1;padding-right:75px}
	.tk-cols2 .tk-cao{width:70px;position:absolute;top:20px;right:5px;text-align:center}
	/*没用用户头像的时*/
	.tk-style-b .tk-item{padding:20px 10px}
	.tk-style-b .comment{margin-left:56px}
	/*没用用户头像的时*/

.user-item .lbx input{margin-top:18px}
	.user-item .lbx img{margin-left:7px;padding:0;border:none 0;background:none}
	.user-item .rbx{padding-left:10px;line-height:18px}
	.user-item .rbx .t{margin-top:-4px;overflow:hidden;zoom:1}
	.user-item .rbx .t .user-name,.user-item .rbx .t .gold,.user-item .rbx .t .cert{float:left;margin-right:3px}
	.user-item .rbx .t .gold{margin-top:4px}
	.user-item .rbx .t .cert{margin-top:3px}
	.user-item .rbx .t,.user-item .rbx .js,.user-item .rbx .fs{height:18px;overflow:hidden}

.c-face{width:26px!important;height:14px;text-indent:-9999px;overflow:hidden;cursor:pointer;margin-top:5px;display:block;text-align:left!important}
.rck{width:13px;height:13px;margin-right:3px;_margin-right:0;float:left}

.form-item,.form-act{overflow:hidden;zoom:1;vertical-align:top}
	.form-item .c-face,.form-item .pl-but,.form-item textarea,.form-item .sp{float:left;}
	.form-item .textarea{margin:0 10px 0 5px;padding:3px 0 0 3px;overflow:auto}
	.form-item .input,.form-item .input2{border-left:1px solid #d3d6cb;border-top:1px solid #d3d6cb;border-right:1px solid #f2f2f2;border-bottom:1px solid #f2f2f2;height:20px;padding:3px 0 0 3px;line-height:16px}
	.form-act .but{float:left;margin-right:10px}

.p-sq,.p-tlft,.p-trgt,.pic-yt{display:inline-block;position:relative; padding-left:12px}
    .p-sq b,.p-tlft b,.p-trgt b,.pic-yt b{overflow:hidden;position:absolute;left:0;top:50%}
	.p-sq b{width:8px;height:4px;margin-top:-2px;background-position:-36px 0}
	.pic-yt{padding-left:18px}
	.pic-yt b{width:12px;height:9px;background-position:0 -242px;border:1px solid #bfbfbf; margin-top:-5px}
	.p-tlft b,.p-trgt b{width:10px;height:11px;margin-top:-6px}
	.p-tlft b{background-position:-68px -66px}
	.p-trgt b{background-position:-78px -66px}
	
.comment-form .c-face{margin-right:5px;_margin-right:2px}
	.comment-form .tw{margin-left:31px;height:22px;overflow:hidden;line-height:22px;line-height:26px\0;}
    .comment-form .tw label{cursor:pointer}
	.comment-form .tw .rck{margin-top:5px}
	.comment-form .textarea-ys{overflow:hidden;zoom:1}
    .new-comment-form .textarea-ys{padding:3px;font-size:14px}
	.new-comment-form .textarea{width:100%;height:65px;border:0;overflow:auto;float:left}
	.new-comment-form .form-act{padding:8px 0 0 31px}
	.new-comment-form .form-act .sp{float:left;height:13px;line-height:13px;margin-top:4px;cursor:pointer}
	.new-comment-form .pl-but,.new-comment-form .load-but{float:right}
    .new-comment-form2{position:relative;zoom:1;padding-right:68px}
    .new-comment-form2 .textarea-ys{border-top:1px solid #c4c7bd;border-left:1px solid #d2d5ca;border-right:1px solid #efefef;border-bottom:1px solid #f2f2f2;padding-left:3px;background:#fff}
	.new-comment-form2 .textarea2{width:100%;float:left;height:20px;padding-top:3px;border:0;overflow:auto}
	.new-comment-form2 .pl-but,.new-comment-form2 .load-but{position:absolute;top:0;right:0}

#installpps,#player-flash-bar{text-align:center;margin:0 auto}
	#installpps,.showplayerimg{height:340px;background:#000;margin:0 auto;text-align:center}
	#installpps img{vertical-align:top;position:relative;top:50%;margin-top:-85px}
	#player-flash-bar{height:47px}

.shrink-act{position:relative;margin-top:10px;padding:5px 10px 10px}
    .shrink-act .jt{position:absolute;width:9px;height:6px;overflow:hidden;top:-6px}
	.shrink-act .done,.shrink-act .publish{font-size:12px;color:#707070}

.play-shrink{zoom:1;margin-bottom:5px}
	.play-shrink .loading{text-align:center;color:#909090;height:200px;padding-top:160px}
	.play-shrink .ps-hd{padding-bottom:5px;position:relative;zoom:1;color:#909090}
	.play-shrink .ps-hd span{margin-left:-14px}
	.play-shrink .ps-hd span a{margin:0 14px}
	.play-shrink .ps-hd .p-khd{position:absolute;right:0;top:0}
	.play-shrink #installpps,.play-shrink #player-flash-bar{width:100%;overflow:hidden}
		
.pic-show{zoom:1;overflow:hidden}
    .pic-show .pic-act{color:#909090;margin:0 0 5px -14px;zoom:1}
	.pic-show .pic-act a{margin:0 14px}
	.pic-show .pic-bd{width:100%;overflow:hidden}
	.pic-show img{vertical-align:top}
	.pic-show .jt{left:11px}
	#video_show_bd .pic-show .entry_small_pics,#video_show_bd .pic-show .entry_medium_pics{cursor:default}

.vote-shrink .vs-hd{color:#909090;position:absolute}
   .vote-shrink .vs-hd a{margin-right:14px}
   .vote-shrink .vote-info{padding-left:70px}
   .vote-shrink .vote-result{border:1px solid #e5e5e5}

.quote{padding:10px;margin:10px 0 5px 0;zoom:1}
    .quote .jt{left:15px}
	.quote .tag-item{padding-top:0;margin-bottom:0}
	.quote .tag-item .info-list-cols2{height:auto}
	.quote .pp{float:none;width:auto;height:0;line-height:0;font-size:0;overflow:hidden}
	.quote .pp .pp-in{position:absolute;top:-3px;right:0;line-height:22px; font-size:12px;white-space:nowrap}
	.quote .play-shrink,.quote .play-shrink .sk-player,.quote .play-shrink #player-flash-bar,.quote .pic-show{overflow:hidden;background:none;border:0;padding:0;margin:0}

.comment{padding:10px;zoom:1}
    .comment .jt{right:8px}
    .comment .all-cl{text-align:right;padding-top:5px}
	.comment .all-cl,.comment-list .cl-item{border-top-style:dashed;border-top-width:1px}
	.comment-list{overflow:hidden;zoom:1}
	.comment-list .cl-item{padding:15px 0 16px 0;zoom:1;margin-top:-1px}
	.comment-list .cl-r{padding-left:10px;line-height:18px}
	.comment-list .cl-nr{width:100%;overflow:hidden;word-wrap:break-word}
	.comment-list .cl-nr .cert{vertical-align:middle;margin:1px 0 2px 0}
	.comment-list .cl-nr img{vertical-align:middle;margin-right:3px}
	/*.comment-list .cl-time{}*/
	.comment-list .cl-info{overflow:hidden;zoom:1;text-align:right;color:#909090}
	.comment-list .cl-info .fr{float:none}
	.comment-list .cl-info a{margin:0 5px}
	.comment-list .cl-act{float:right;color:#909090;text-align:right}
	.comment-list .cl-act a{margin:0 5px}
	.comment-list .cl-act .reply{padding-left:0}
		
.p-list{zoom:1;text-align:center}
    .p-list:after{content:".";display:block;height:0;clear:both;visibility:hidden}
	.p-list .p-item{float:left;display:inline;padding-bottom:6px;position:relative; overflow:hidden}
	.p-list .p-item img{vertical-align:top;padding:2px;background:#fff}
	.p-list .t,.p-list .gz,.p-list .ygz{height:18px;line-height:18px;overflow:hidden}
	.p-list .gz a{color:#6eafd5}
	.p-list .ygz{color:#909090}
	.p-list .p-item .bf{display:none}
	.p-list .canplay .bf{width:44px;height:33px;display:block;position:absolute;background:url(../img/but_player.png) no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src="http://y.pps.tv/t/core/img/but_player.png");text-indent:-9999px;cursor:pointer;left:50%; margin-left:-20px;top:50%;margin-top:-17px}
	.p-list .gz{color:#909090}
	.p-list-act{text-align:right}
	.p-list-a{margin-right:-10px}
	.p-list-a .p-item{margin-right:10px}
	.p-list-a .p-item img{border:1px solid #ccc}
	.p-list-b .p-item{width:54px;margin-right:9px}
	.p-list-b .p-item img{width:50px;padding:1px}
	.entry_small_pics{cursor:url("http://y.pps.tv/t/core/img/big.cur"),auto;}
	.entry_medium_pics{cursor:url("http://y.pps.tv/t/core/img/small.cur"), -moz-zoom-out;}

.p-style .hd{font-weight:normal;line-height:28px}
	.p-style .bd{overflow:hidden;zoom:1}
	.p-style .p-list{margin-right:-20px}

#user-info,#tag-info{padding:0 4px 20px;position:relative;zoom:1;margin-left:-10px;margin-right:-10px}
    #user-info #dialog_user_face{width:228px;display:block;position:absolute;left:-228px;top:4px}
	#user-info .lrBx,#tag-info .lrBx{margin-bottom:10px}
	#user-info .lbx,#tag-info .lbx{width:62px;height:62px;text-align:center}
	#user-info .lbx .avatar,#tag-info .lbx .avatar{border:0;margin-top:4px}
	#user-info .rbx,#tag-info .rbx{padding:5px 0 0 4px}
	#user-info .u-tt,#tag-info .u-tt{overflow:hidden;line-height:18px;zoom:1}
	#user-info .u-tt .user{float:left;color:#383838;font-size:14px}
	#user-info .u-tt .gold,#user-info .u-tt .silver,#user-info .u-tt .cert{float:left;margin:3px 0 0 -20px}
	#user-info .u-tt .cert{margin-top:4px}
	#user-info .rz-icon-tt .user{padding-right:22px}
	#user-info .rz-icon2-tt .user{padding-right:42px}
	#user-info .rz-icon2{width:40px;float:left;margin-left:-40px;}
	#user-info .rz-icon2 .gold,#user-info .rz-icon2 .silver,#user-info .rz-icon2 .cert{margin-left:2px;display:inline}
	#tag-info{border-bottom:1px solid #CBE7EA}
	#tag-info .lbx{height:79px}
	#tag-info .u-tt{font-size:14px}
	.user-t-info{height:40px;overflow:hidden;zoom:1;margin:0 -100px 0 -2px;line-height:20px}
	.user-t-info li{float:left;margin-left:-1px;padding:0 8px;_width:42px;min-width:42px;white-space:nowrap}
	.user-t-info li em{display:block;font:18px/1.2 Arial;margin-top:-2px}
	.grade{display:block}
	.grade span{display:inline-block;position:relative;padding-left:18px;margin-right:3px;-webkit-text-size-adjust:none;font-size:11px;vertical-align:top}
	.grade span b{height:14px;overflow:hidden;left:0;position:absolute}
	.grade .ty b{width:14px;top:4px;background:url(../img/sun.png) no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src="http://y.pps.tv/t/core/img/sun.png");}
	.grade .yl b{width:15px;top:4px;background:url(../img/moon.png) no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src="http://y.pps.tv/t/core/img/moon.png");}
	.grade .xx b{width:15px;top:3px;background:url(../img/star.png) no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src="http://y.pps.tv/t/core/img/star.png");}
	.personal-info{ padding:0 5px}
	.personal-info .ps-inner{font-size:14px}
	.personal-info .ps-act{text-align:right}
	.personal-info .ps-act a{margin:0 6px}
	.ui-cert{margin-bottom:10px; padding-left:5px}
	.ui-cert .cert-b{vertical-align:top}
	.u-att-info{overflow:hidden;zoom:1;margin-top:8px}
	
#nav{line-height:36px;font-size:14px;margin-left:-10px;margin-right:-10px;zoom:1}
	#nav a{text-decoration:none;padding-left:30px;display:block;height:32px}
	#nav a:hover{text-decoration:underline}
	#nav li{vertical-align:top}
	#nav .select{font-weight:bold;border-bottom:0;position:relative;zoom:1}
	#nav .select b{width:11px;height:7px;overflow:hidden;position:absolute;top:15px;right:20px;visibility:hidden}

.pagenav{font-size:0;line-height:0;overflow:hidden;font-family:"宋体";position:relative}
	.pagenav a,.pagenav span,.pagenav .all{line-height:21px;font-size:12px;display:inline-block;vertical-align:top}
	.pagenav a{background-position:left -172px;margin:0 3px;padding-left:2px}
	.pagenav a span{padding:0 7px 0 5px;background-position:right -193px;cursor:pointer}
	.pagenav .nb,.pagenav .nb span,.pagenav .on,.pagenav .on span{background:none}
	.pagenav .on span{cursor:text}
	.pagenav .ys{width:26px;height:15px;line-height:15px;font-size:12px;border-top:1px solid #c4c7bd;border-left:1px solid #d2d5ca;border-right:1px solid #efefef;border-bottom:1px solid #efefef;padding:2px 0;text-align:center;color:#383838;margin:0 3px;font-family:"宋体";vertical-align:top;_margin-top:-1px}
	.pagenav .all{background:none;margin:0 3px}
	.pagenav-drop{position:relative;zoom:1}
	.pagenav-drop span{padding-right:19px!important}
	.pagenav-drop b{position:absolute;width:0;height:0;overflow:hidden;border-bottom:4px dashed transparent;border-top:4px solid #383838;border-left:4px dashed transparent;border-right:4px dashed transparent;right:7px;top:50%;margin-top:-2px}
	.pagenav-drop-list{width:60px;border:1px solid #ccc;position:absolute;font-size:12px;line-height:22px;text-align:center;background:#fff;padding:2px 0;visibility:hidden;top:-999px;z-index:9999}
	.pagenav-drop-list li{margin:0 1px;vertical-align:top}
	.pagenav-drop-list .select,.pagenav-drop-list .select a,.pagenav-drop-list .select a:hover{color:#909090}
	.pagenav-drop-list a{display:block;zoom:1}
	.pagenav-drop-list a:hover{background:#e8f4fc;color:#2E6FB3;text-decoration:none}

.backtop{position:relative;zoom:1;padding-left:12px}
    .backtop a{visibility:hidden}
	.backtop b{position:absolute;width:8px;height:13px;overflow:hidden;background-position:-28px 0;left:0;top:4px;visibility:hidden}

.s-load{overflow:hidden;zoom:1;display:none}
	.s-load img{float:left;margin:3px 5px 0 0}

.bm-bar{zoom:1}
    .bm-bar:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
	.bm-bar .pagenav{float:right;text-align:right}
	.bm-bar .backtop{float:left;margin-right:15px}
	.bm-bar .s-load{float:left;line-height:23px}

/*textList*/
.tList a{text-decoration:none}
.tList li{padding-left:8px;overflow:hidden;}
.rank .hd{font-weight:normal; font-size:14px}
    .rank li{line-height:27px;height:27px;overflow:hidden;border-bottom:1px dashed #cccccc;padding-left:20px;position:relative}
	.rank li b{width:11px;height:11px;overflow:hidden;position:absolute;top:50%;margin-top:-6px;left:2px}
	.rank li .rq{position:absolute;right:0;top:0;font-size:11px}
	.rank li .gz{font-size:11px}
	.rank li .icon-rise,.rank li .icon-smooth,.rank li .icon-drop{position:absolute;right:0;top:50%;margin-top:-5px;}
	.rank .r1{background-position:-64px -126px}
	.rank .r2{background-position:-74px -126px}
	.rank .r3{background-position:-84px -126px}
	.rank .r4{background-position:-54px -137px}
	.rank .r5{background-position:-64px -137px}
	.rank .r6{background-position:-74px -137px}
	.rank .r7{background-position:-84px -137px}
	.rank .r8{background-position:-64px -147px}
	.rank .r9{background-position:-74px -147px}
	.rank .r10{background-position:-84px -147px}
	.rank .rk-act{text-align:right;line-height:30px}
	.new-rank-tags li{padding-right:15px}
	.new-rank-rq li{padding-right:50px}
	/*.new-rank3{}*/

.js-upload-file{width:120px;height:38px;overflow:hidden;position:relative;background-position:0 -273px;cursor:pointer;font-size:14px;text-align:center;color:#fff;line-height:35px}
    .js-upload-file .js-fileField,.js-upload-file input{position:absolute;z-index:999999;cursor:pointer;opacity:0;top:-10px;right:-10px;-moz-opacity:0;filter:alpha(opacity=0);outline:none;font-size:120px}

.dialog-upload-pic .js-upload-file{margin:15px auto 5px auto}
	.dialog-upload-pic p{text-align:center;color:#909090}

.publish-form{position:relative;zoom:1}
	.publish-form .hd{margin-bottom:5px;height:22px;position:relative}
	.publish-form .hd h2{width:101px;height:19px;overflow:hidden;background-position:-6px -545px;text-indent:-9999px}
	.publish-form .hd .zs-tip{position:absolute;right:0;bottom:-8px}
	.publish-form .hd .zs-tip span{font-family:Constantia,Georgia;font-size:30px;line-height:1.5;color:#2e6fb3}
	.publish-form .textarea-ys{padding:3px;overflow:hidden;zoom:1}
	.publish-form .textarea{width:100%;height:97px;float:left;margin:0;border:0;padding:0;font-size:14px}
	.publish-form .fb-act{margin-top:8px;padding-left:10px}
	.publish-form .fb-act a:hover{color:#2e6fb3;text-decoration:underline}
	.publish-form .fb-act a,.publish-form .upload-pic{float:left;position:relative;margin-right:20px;display:inline;cursor:pointer;color:#2e6fb3;}
	.publish-form .fb-act a{padding-left:20px}
	.publish-form .fb-act a b{width:15px;height:15px;overflow:hidden;position:absolute;left:0;top:4px}
	.publish-form .pl-but,.publish-form .load-but{float:right}
	.publish-form .wb{float:left;cursor:pointer}
	.publish-form .wb .rck{margin-top:5px}
	.publish-form .vt b{width:14px;background-position:-77px -214px}
	.publish-form .fb-but2,.publish-form .fb-but2-h,.publish-form .fb-but2-gd{cursor:pointer;float:right;border:0;text-indent:-9999px}
	.publish-form .fb-but2-gd{cursor:default}
	.publish-form .upload-pic{width:44px;height:22px}
	.publish-form .upload-pic input{width:44px;overflow:hidden;height:22px;position:absolute;right:0;cursor:pointer;opacity:0;-moz-opacity:0;filter:alpha(opacity=0);z-index:60}
	.publish-form .upload-pic .tp{margin:0}
	#publish-form2{background:#f4f4f4 url(../img/t_publish.png) repeat-x;margin:0 -20px 15px;padding:20px 22px 20px 30px}
	#publish-form2 .bq b{background-position:-33px -214px}
	#publish-form2 .sp b{width:14px!important;background-position:-63px -214px}
	#publish-form2 .tp b{background-position:-48px -214px}
	#publish-form2 .textarea-ys{background:#f1f1f1 url(../img/textarea.png) top repeat-x;border:1px solid #DDDDDD}
	#publish-form2 .fb-but2,#publish-form2 .fb-but2-h,#publish-form2 .fb-but2-gd{width:105px;height:26px;background-position:0 -337px}
	#publish-form2 .fb-but2:hover,#publish-form2 .fb-but2-h{background-position:0 -311px}
	#publish-form2 .fb-but2-gd{background-position:0 -363px}
	.new-publish-form3{padding:0 10px}
	.new-publish-form3 .bq b{background-position:-33px -214px}
	.new-publish-form3 .sp b{width:14px!important;background-position:-63px -214px}
	.new-publish-form3 .tp b{background-position:-48px -214px}
	.new-publish-form3 .textarea-ys{background:#fff url(../img/textarea2.png) top repeat-x;border:1px solid #DDDDDD}
	.new-publish-form3 .textarea{height:65px}
	.new-publish-form3 .fb-act{padding-left:0}

.dialog #publish-form2{padding:20px;margin:-20px}
      .dialog #publish-form2 .hd h2{text-indent:0;background:none;font-weight:normal}

.vpl-01{background-position:0 -564px}
.vpl-02{background-position:0 -574px}
.vpl-03{background-position:0 -584px}
.vpl-04{background-position:0 -594px}
.vpl-05{background-position:0 -604px}
.vpl-06{background-position:0 -614px}
.vpl-07{background-position:0 -624px}
.vpl-08{background-position:0 -634px}
.vpl-09{background-position:0 -644px}
.vpl-10{background-position:0 -654px}
.vpr-01{background-position:right -564px}
.vpr-02{background-position:right -574px}
.vpr-03{background-position:right -584px}
.vpr-04{background-position:right -594px}
.vpr-05{background-position:right -604px}
.vpr-06{background-position:right -614px}
.vpr-07{background-position:right -624px}
.vpr-08{background-position:right -634px}
.vpr-09{background-position:right -644px}
.vpr-10{background-position:right -654px}
.vote-ms,.vote-qt{color:#909090}
	  .vote-qt{padding:10px 0}
	  .vote-qt .rs{margin-left:30px}
.vote-result{background:#fff;padding:10px}
	  .vote-result .table td{padding-bottom:2px}
	  .vote-result .vote-tx{height:10px;overflow:hidden; background:#efefef;width:140px}
	  .vote-result .vote-tx span,.vote-result .vote-tx em{display:block;}
	  .vote-result .vote-tx span{height:10px;float:left;overflow:hidden}
	  .vote-result .vote-tx em{margin-left:2px;padding-right:2px;text-indent:-9999px}
	  .vote-result .v1{text-align:right;line-height:18px}
	  .vote-result .v3{width:80px;font-size:11px}
	  .vote-result .v3 span{-webkit-text-size-adjust:none;margin-left:10px}
	  .vote-result .v4{width:23px;text-align:right}
	  .vote-result .v4 input{width:13px;height:13px}
	  .vote-result .vote-act{overflow:hidden;zoom:1;padding-top:10px}
	  .vote-result .vote-act .rck{margin-top:5px}
	  .vote-result .vote-act a,.vote-result .vote-act label{float:right;margin-left:15px;cursor:pointer}
	  .vote-result .vote-act .but6{margin-left:30px}
	  	
.face{width:314px;overflow:hidden;}
    .face ul{width:320px;overflow:hidden;zoom:1}
	.face li{width:24px;height:24px;float:left;margin:5px 5px 0 0;display:inline;text-align:center;vertical-align:top}
	.face li img{margin-top:3px}
	.face li a{display:block;width:22px;height:22px;border:1px dashed #dddddd;overflow:hidden}
	.face li a img{vertical-align:top}
	.face li a:hover{border:1px dashed #909090}

.vote-form .form-item input,.vote-form .form-item label,.vote-form .form-item span,.vote-form .form-item select{float:left}
    .vote-form .e-input{width:250px;height:20px; line-height:20px;padding:1px 0 0 2px}
	.vote-form .date{width:140px}
	.vote-form .form-item{padding-bottom:7px; line-height:23px}
	.vote-form .form-item label{width:70px;text-align:right;color:#909090}
	.vote-form .form-item .wrong,.vote-form .form-item .correct{clear:both; margin:5px 0 0 70px; white-space:nowrap}
	.vote-form .form-item .icon-calendar{margin:3px 0 0 5px}
	.vote-form .add-option{margin-left:20px}
	.vote-form .form-act{padding-left:70px}

.dialog .vote-form{padding:10px 0}

.video-form,.psearch-form{overflow:hidden;zoom:1}
	.video-form .but,.psearch-form input,.psearch-form a{float:left}
	.video-form .c-input{width:248px;margin-right:10px;float:left;color:#909090}
	.psearch-form .c-input{width:115px;margin-right:10px;color:#909090}
	.psearch-form .input-focus{color:#383838}
	.psearch-form .but{width:41px;padding-left:3px}
	.psearch-form .but input{width:41px;background-position:-23px -89px;background-color:#fff}
	.psearch-form .but:hover input{background-position:-23px -112px}

/*.form-tj{padding-top:10px}*/
    .form-tj .form-hd{position:relative;margin-bottom:10px;height:22px;line-height:22px;overflow:hidden}
	.form-tj .form-hd .d-zs-tip{position:absolute;right:0;top:0;color:#008800}
	.form-tj .form-item input,.form-tj .textarea{float:left}
	.form-tj .fb-but{margin-right:10px}
	.form-tj .textarea{width:380px;padding:3px;height:60px;margin:0 0 5px 0;color:#909090;border:1px solid #ddd}
	.form-tj .rck{margin-top:5px}
	.form-tj .form-act{padding-top:10px}

.forward .form-hd{margin-bottom:5px}
	.forward .textarea{width:380px}
	.forward .form-tj{padding-top:0}
	.forward .forward-nr img{vertical-align:middle}

#login-form{text-align:left}
    #login-form .yy{margin-bottom:15px}
	#login-form .form-item{line-height:23px;margin-bottom:10px}
	#login-form .form-item label{width:50px}
	#login-form .form-item .input{width:118px}
	#login-form .form-item .input2{width:35px}
	#login-form .form-item label,#login-form .form-item span,#login-form .form-item input,#login-form .form-item img{float:left;margin-right:5px}
	#login-form .form-item label{margin-right:0}
	#login-form .form-act{padding-left:50px;margin-bottom:5px}
	#login-form .form-act .dl-but{margin-right:15px;display:block}	
	
#mail-form .form-item{line-height:25px;padding-bottom:10px}
    #mail-form .form-item label{width:60px;font-size:14px;float:left;margin-right:5px;text-align:right}
	#mail-form .form-item .input{width:195px;float:left;margin-right:5px}
	#mail-form .form-item .yzm{width:40px}
	#mail-form .form-item span,#mail-form .form-item a,#mail-form .form-item img{float:left;margin-right:5px}
	#mail-form .form-item .line-more{clear:both;margin:5px 0 0 65px;float:left;display:inline}
	#mail-form .form-act{padding-left:65px;margin:10px 0 5px 0}
	#mail-form .form-act .freg-but2{display:block}

#feedback h2{font-weight:normal}
/*===未登录用户眼中认证用户的首页===*/
#phome2 #tag-detailed{margin:0;padding:20px 10px 20px 20px}
	#nologin{background:#f0fafc url(../img/nologin.jpg) no-repeat;padding:25px 10px 25px 20px;position:relative;zoom:1;margin-top:-15px}
		#nologin .nologin-t{font-size:14px; font-weight:bold; margin-bottom:10px;line-height:28px;position:relative;zoom:1}
		#nologin .nologin-t .hl{position:absolute;right:0;top:0;font-weight:normal}
		#nologin .tip-d{float:left}
		#nologin .tip-d p{padding:15px 0 0 20px}
		#nologin .nologin-in{overflow:hidden;zoom:1}
		#nologin #mail-form{zoom:1;width:290px;float:left; overflow:hidden}
		#nologin #mail-form ul{height:26px;overflow:hidden;zoom:1;position:relative}
		#nologin #mail-form .form-item .line-more{width:510px}
		#nologin .freg-but2{background-position:0 -39px}
	    #nologin .freg-but2:hover{background-position:0 -78px}
		#nologin.rag-status #mail-form ul{height:auto}
		#nologin.rag-status #mail-form{float:none; width:auto}
		#nologin.rag-status .tip-d{display:none}
		#nologin.rag-status .freg-but2{background-position:0 -117px}
	    #nologin.rag-status .freg-but2:hover{background-position:0 -156px}		
/*===/未登录用户眼中认证用户的首页===*/

/*===未登录用户眼中普通用户(未认证用户)的首页 ===*/
#invite-join .new-p-cols2{background:url(../img/square_p_cols.png) 20px top repeat-y}
	#invite-join .p-col1-f{background:url(../img/invite_join_bj.jpg) bottom no-repeat;padding-bottom:160px;height:auto!important;height:300px;min-height:300px;}
	#invite-join .new-p-cols2 .p-col1{background:url(../img/square_p_col2.png) 600px top no-repeat}

.g-bx{border:1px solid #d4e8f8}
    .g-bx .g-tp,.g-bx .g-ft{height:5px;line-height:5px;font-size:0;background-repeat:repeat-x;background-color:#eaf3fa}
	.g-bx .g-tp b,.g-bx .g-tp s,.g-bx .g-ft b,.g-bx .g-ft s{width:5px;height:5px;overflow:hidden;position:relative}
	.g-bx .g-tp b{float:left;background-position:-105px -311px;top:-1px;left:-1px}
	.g-bx .g-tp s{float:right;background-position:-110px -311px;top:-1px;right:-1px}
	.g-bx .g-ft b{float:left;background-position:-105px -316px;bottom:-1px;left:-1px}
	.g-bx .g-ft s{float:right;background-position:-110px -316px;bottom:-1px;right:-1px}
	.g-bx .g-bd{background:#eaf3fa;padding:0 10px}

.k-bx .k-tp:after,.k-bx .k-ft:after,.k-tab:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
    .k-bx .k-tp{height:30px;background-color:#f3f3f3;border-top:1px solid #e7e7e7;border-bottom:1px solid #e7e7e7;}
	.k-bx .k-tp b,.k-bx .k-tp s,.k-bx .k-ft b,.k-bx .k-ft s{width:5px;height:5px;overflow:hidden;position:relative}
	.k-bx .k-tp b,.k-bx .k-tp s{height:32px;margin:-1px 0;}
	.k-bx .k-tp b{float:left;background-position:-105px -321px}
	.k-bx .k-tp s{float:right;background-position:-110px -321px}
	.k-bx .k-tp .k-hd{float:left;line-height:30px;padding-left:10px}
	.k-bx .k-ft{height:4px;line-height:4px;border-bottom:1px solid #e7e7e7;}
	.k-bx .k-ft b{float:left;background-position:-105px -353px; margin-bottom:-1px}
	.k-bx .k-ft s{float:right;background-position:-110px -353px; margin-bottom:-1px}
	.k-bx .k-bd{border-left:1px solid #e7e7e7;border-right:1px solid #e7e7e7;padding:10px;zoom:1}
	.k-tab{color:#2e6fb3;font-weight:normal;}
	.k-tab-item{float:left;padding-left:5px;cursor:pointer}
	.k-tab-item span{display:block;padding:0 18px 0 13px}
	.k-tab .select{background-position:0 -449px;background-repeat:no-repeat;position:relative;margin:-1px 0;line-height:32px!important;height:32px;color:#383838}
	.k-tab .select span{color:#383838;font-weight:bold;cursor:pointer;background-position:right -449px}
	.k-tab a.select:hover{text-decoration:none}

#search-detailed{width:540px;height:37px;line-height:37px;overflow:hidden}
	#search-detailed b,#search-detailed s{width:3px;height:37px;overflow:hidden; display:block}
	#search-detailed b{background-position:0 -518px;float:left}
	#search-detailed s{background-position:-3px -518px;float:left}
	#search-detailed .s-advanced-b{float:left;margin-left:7px}
	#search-detailed .form-item{width:454px;float:left;height:37px;background-position:0 -481px;background-repeat:repeat-x}
	#search-detailed .form-item input{float:left;margin-top:5px}
	#search-detailed .form-item .shd-input{width:355px;height:25px;overflow:hidden;line-height:27px;border:1px solid #dddddd;margin:5px 5px 0 3px;padding-left:3px;font-size:14px;color:#909090}
	#search-detailed .form-item .input-focus{color:#383838}
	#search-detailed .form-item .shd-but{width:85px;height:27px;cursor:pointer;font-size:14px;font-weight:bold;visibility:visible;line-height:25px;background-position:-6px -518px; border:0}

#s-advanced-ptions{width:345px;border:1px solid #6dda6d;border-top:0;padding:5px 10px 10px;margin-left:10px}
	#s-advanced-ptions .sad-item{overflow:hidden;zoom:1;padding-bottom:5px;vertical-align:top}
	#s-advanced-ptions .sad-item label,#s-advanced-ptions .sad-item span,#s-advanced-ptions .sad-item select,#s-advanced-ptions .saps-input{float:left;margin-right:5px}
	#s-advanced-ptions .sad-item .rck{width:13px;height:13px;float:left;margin:5px 3px 0 0;_margin-right:0}
	#s-advanced-ptions .saps-input{width:68px;height:17px;padding:2px 0 0 3px;border-top:1px solid #d2d5ca;border-left:1px solid #d2d5ca;border-right:1px solid #efefef;border-bottom:1px solid #efefef; font-family:Arial, Helvetica, sans-serif;margin-top:1px}
	#s-advanced-ptions .sad-item select{margin-top:2px}

#invite-area{background:#fff;overflow:hidden;zoom:1;padding:30px 30px 0}
    #invite-area #user-info{margin:0;border:0;padding:8px 0}
	#invite-area #user-info .lrBx{margin-bottom:0}
	#invite-area #user-info .lrBx .lbx{background:none}
	#invite-area #user-info .lrBx .rbx{font-size:14px}
	#invite-area #user-info .zhaohu{padding-top:3px}

#invite-reg{padding:20px 0 0 52px}
    #invite-reg #mail-form{zoom:1}
    #invite-reg #mail-form .form-item .line-more{width:380px;line-height:18px}
    #invite-reg #mail-form .form-item .line-more b{top:4px;margin-top:0}
    #invite-reg .freg-but2{background-position:0 -195px}
    #invite-reg .freg-but2:hover{background-position:0 -234px}
		
	.has-zh{color:#909090; padding-left:20px}
	.has-zh .but5{margin:15px 0 0 20px}
/*===/未登录用户眼中普通用户(未认证用户)的首页 ===*/

/*===错误404页面*/
#error404 #content{background:#fff}
	#error404-bx{padding:30px 90px;height:auto!important;height:350px;min-height:350px;}
	#error404-bx .no-content img{top:25px; margin-top:0}
/*===/错误404页面*/

.not-reg{padding:20px}
      .not-reg-in{overflow:hidden;zoom:1}
	  .not-reg .tip-a{font-size:14px; margin-bottom:20px}
	  .not-reg .form-field{width:250px;float:left;border-right:1px solid #cccccc}
	  .not-reg .fast-reg{width:230px;float:left;text-align:center;}
	  .not-reg .fast-reg .freg-but{display:block; margin:15px auto 0}
		
.dialog .fast-reg{padding-top:40px}

.upload-pic-loading{padding:10px 20px;font-size:14px}
	.upload-pic-loading .rbx{padding-left:10px}
	.upload-pic-loading .rbx p{margin-bottom:10px}
	.upload-pic-loading .but{font-size:12px}
	.upload-pic-info{font-size:12px;margin-bottom:5px;height:22px;overflow:hidden;padding-right:20px}
	.upload-pic-info .dele{position:absolute;right:30px;top:20px}
	.upload-thumbnail img{vertical-align:top}

#phome2 #tag-detailed{position:relative}
	#phome2 #tag-detailed .tag_url{position:absolute;top:18px;right:10px}
	#phome2 #tag-detailed .tag_url a{margin-left:12px}

.confirm{width:188px;margin:0 auto;overflow:hidden}
	.confirm .but,.confirm .but-cancel{float:left;margin:0 15px;display:inline}

.dialog-tip .rbx{padding-left:20px;font-size:14px}
    .dialog-tip .dialog-blacklist{margin-top:10px}
	.dialog-tip .dialog-blacklist .rck{margin-top:4px}
	.dialog-tip .confirm{margin-left:0;margin-top:20px}
	.dialog-tip .confirm .but,.dialog-tip .confirm .but-cancel{margin-left:0;margin-right:10px;font-size:12px}

.nickname-form{line-height:21px}
	.nickname-form label,.nickname-form input,.nickname-form .wrong,.nickname-form .correct{float:left;margin-right:5px}
	.nickname-form label span{color:#f00}
	.nickname-form .e-input{width:135px;height:17px;padding:2px 0 0 3px}
	.d-set-nickname .welcome-nk{font-size:14px; margin-bottom:10px}
	.d-set-nickname .btc{font-size:12px; color:#909090}
	.d-set-nickname .nickname-form{margin-bottom:10px}
	.d-set-nickname .tj-nickname-list{overflow:hidden;zoom:1;margin:10px}
	.d-set-nickname .tj-nickname-list li{width:49%;float:left; padding-bottom:5px}
	.d-set-nickname .tj-nickname-list .rck{margin-top:5px}
	.d-set-nickname .change-nickname{text-align:right}
	.d-set-nickname .form-act{margin:-22px 100px 0 0}

.d-tj-user .sm{font-size:14px}
    .d-tj-user .tj-user-list{margin:0 -20px 10px 0;overflow:hidden;zoom:1}
    .d-tj-user .user-item{width:207px;height:58px;border:1px solid #ebebeb;color:#909090;margin:10px 10px 0 0;float:left;display:inline;background:url(../img/d_tj_user_item.png) repeat-x}
	.d-tj-user .user-item .lbx{margin-top:4px;margin-left:9px;display:inline}
	.d-tj-user .user-item .rbx{margin:4px 5px 0 0}
	.d-tj-user .hover{background:#d6f3f7;border:1px solid #d6f3f7;}
	.d-tj-user .gzyx-but{margin:0 auto;}
	.d-tj-user .change-batch{text-align:right;margin-top:-34px;margin-left:150px;}
	
/*=====for dialog=====*/
.dialog{z-index:9999;text-align:left;display:none;position:relative}
    .dialog .jt{width:15px;height:12px;z-index:99999;overflow:hidden; position:absolute; background:url(../img/jt.png) no-repeat; top:-6px;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src="http://y.pps.tv/t/core/img/jt.png?v=20100719");display:none}
    .dialog .dialog-bk{overflow:hidden;height:5px}
	.dialog .dialog-bk b,.dialog .dialog-bk s,.dialog .dialog-bk .dhd-1{float:left}
	.dialog .dialog-bk b,.dialog .dialog-bk s{width:5px;height:5px;overflow:hidden}
	.dialog .dialog-bk .dhd-1{width:100%}
	.dialog .dialog-bk .dhd-2{margin:0 5px;height:5px;display:block}
	.dialog .dialog-bk b{margin-left:-100%}
	.dialog .dialog-bk s{margin-left:-5px}
	.dialog .dialog-hd b{background:url(../img/tl.png) no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src="http://y.pps.tv/t/core/img/tl.png?v=20100719");}
	.dialog .dialog-hd s{background:url(../img/tr.png) no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src="http://y.pps.tv/t/core/img/tr.png?v=20100719");}
	.dialog .dialog-ft b{background:url(../img/bl.png) no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src="http://y.pps.tv/t/core/img/bl.png?v=20100719");}
	.dialog .dialog-ft s{background:url(../img/br.png) no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src="http://y.pps.tv/t/core/img/br.png?v=20100719");}
	.dialog .dialog-bd{overflow:hidden;zoom:1}
	.dialog .dialog-bd .dialog-lf,.dialog .dialog-bd .dialog-rg{width:5px;padding-bottom:5000px;margin-bottom:-5000px;float:left}
	.dialog .dialog-bd .dialog-lf{margin-left:-100%;}
	.dialog .dialog-bd .dialog-rg{margin-left:-5px}
	.dialog .dialog-wrap{width:100%;float:left}
	.dialog .dialog-main{zoom:1;background:#fff;margin:0 5px;border:1px solid #dddddd}
	.dialog .dialog-mhd{height:31px;line-height:31px;font-weight:bold;overflow:hidden;background:#eff4f7;background-position:0 -12px;background-repeat:repeat-x;padding:0 20px 0 10px}
	.dialog .dialog-mbd{padding:20px;zoom:1}
	.dialog .dialog-close{width:8px;height:7px;overflow:hidden;position:absolute}
	.dialog .dialog-close a{display:block;height:7px;overflow:hidden;text-indent:-9999px}
		
	.dialog-a .dialog-bk .dhd-2,.dialog-a .dialog-bd .dialog-lf,.dialog-a .dialog-bd .dialog-rg,
	.dialog-b .dialog-bk .dhd-2,.dialog-b .dialog-bd .dialog-lf,.dialog-b .dialog-bd .dialog-rg{background:#000;opacity:0.1;-moz-opacity:0.1;filter:alpha(opacity=10);}
	.dialog-a .dialog-main{padding:5px 14px 10px 6px}
	.dialog-a .jt{display:block}
	.dialog-a .dialog-close{top:10px;right:10px}
	.dialog-a .dialog-close a{background-position:-20px 0}
	.dialog-b .dialog-close{top:16px;right:16px}
	.dialog-b .dialog-close a{background-position:-66px 0}
			
	.dialog-c .dialog-bk{height:6px}
	.dialog-c .dialog-bk b,.dialog-c .dialog-bk s{height:6px}
	.dialog-c .dialog-hd b{background:url(../img/c_tl.png) no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src="http://y.pps.tv/t/core/img/c_tl.png?v=20100919")}
	.dialog-c .dialog-hd s{background:url(../img/c_tr.png) no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src="http://y.pps.tv/t/core/img/c_tr.png?v=20100919")}
	.dialog-c .dialog-ft b{background:url(../img/c_bl.png) no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src="http://y.pps.tv/t/core/img/c_bl.png?v=20100919")}
	.dialog-c .dialog-ft s{background:url(../img/c_br.png) no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src="http://y.pps.tv/t/core/img/c_br.png?v=20100919")}
	.dialog-c .dialog-bd .dialog-lf{background:url(../img/c_l.png) repeat-y}
	.dialog-c .dialog-bd .dialog-rg{background:url(../img/c_r.png) no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src="http://y.pps.tv/t/core/img/c_r.png?v=20100919")}
	.dialog-c .dialog-bk .dhd-1{overflow:hidden}
	.dialog-c .dialog-bk .dhd-2{height:6px}
	.dialog-c .dialog-hd .dhd-2{background:url(../img/c_tp.png) repeat-x}
	.dialog-c .dialog-ft .dhd-2{background:url(../img/c_bt.png) no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src="http://y.pps.tv/t/core/img/c_bt.png?v=20100920");margin:0}
	.dialog-c .dialog-ft b{visibility:hidden}
	.dialog-c .dialog-ft s{margin-left:0}
	.dialog-c .dialog-main{border:0;padding:3px 14px 3px 6px}
    .dialog-c .jt{width:8px;height:12px;background:url(../img/c_jt.png) no-repeat;top:24px;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src="http://y.pps.tv/t/core/img/c_jt.png?v=20100919");display:block;right:-5px}
	.dialog-c .dialog-close{top:8px;right:10px}
	.dialog-c .dialog-close a{background-position:-20px 0}
/*=====/for dialog=====*/

/*===发表微薄时用户名补全提示===*/
.Atwho{background:#FFFFFF;border:1px solid #CCCCCC;padding:2px;position:absolute;text-align:left;width:144px;position:absolute}
	.Atwho li{padding-left:8px;color:#666666;cursor:pointer;}
	.Atwho .cur{background:#EEEFF6}
/*===发表微薄时用户名补全提示===*/

#feedback-banner{height:120px;background:url(../img/feedback.jpg) no-repeat;position:relative;font-size:14px;color:#2e6fb3;margin-bottom:10px}
	#feedback-banner p{padding:8px 10px 0 18px;zoom:1}
	#feedback-banner .close{width:8px;height:8px;top:5px;right:5px}
	.feedback-banner-but,#feedback-banner .close{position:absolute;text-indent:-9999px;overflow:hidden}
	.feedback-banner-but{width:147px;height:48px;bottom:9px;right:14px;}