/*===================================
author:	lou xiao jian
email:  jxsr_lxj@163.com
====================================*/
body,html,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
body{font:12px/22px Tahoma,Verdana,"宋体",sans-serif;word-break:break-all;text-align:center;background:#f4f4f4 url(../img/body.gif) top repeat-x;color:#666}
html,body{overflow:hidden;border:0}
fieldset,img{border:0;} 
table {border-collapse:collapse;border-spacing:0;} 
ol,li,ul{list-style:none;} 
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
caption,th{text-align:left;} 
h1,h2,h3,h4,h5,h6{font-size:100%;} 
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
input,select,textarea{font:normal normal 12px "Verdana";}
input,textarea,select{*font-size:100%;}
input,textarea{color:#666}
select{color:#999}
/* 字体属性 [定义规则，小写f加属性名称] */
.fB{font-weight:bold;}
.fI{font-style:italic;}
/* 字体大小*/
.fs12{font-size:12px;}
.fs14{font-size:14px;}
/* 浮动*/
.fl{float:left;}
.fr{float:right}
/* 其它属性*/
.hide{display:none}
.submit{cursor:pointer;border:0}
.noText{display:block;height:0;width:0;line-height:0;overflow:hidden}
/*textList*/
.tList a{text-decoration:none}
.tList li{line-height:22px;height:22px;position:relative;overflow:hidden}
/*pic_left_text_right*/
.pltr,.pltr .tr,.pltr .tl{overflow:hidden;zoom:1}
.pltr .img,.pltr .tl{float:left;_margin-right:-3px;}
.pltr .img img,.pltr .tl img{vertical-align:top}
/*pic_up_text_down*/
.pList{overflow:hidden;zoom:1}
.pList li{float:left;text-align:center}
.pList li img{vertical-align:top;margin-bottom:2px}
.pList li h4,.pList li span,.pList li em{display:block;overflow:hidden;font-size:12px;font-weight:normal;height:18px;line-height:18px;text-align:center}
/*==clear==*/
.clear{clear:both;font-size:0px;width:0px;height:0;visibility:hidden;line-height:0}
.clearfix:after {content: "";display:block;height:0;clear:both;visibility:hidden;}
* html>body .clearfix {display: inline-block;width:100%;}
* html .clearfix{/* Hides from IE-mac \*/height: 1%;/* End hide from IE-mac */}
/* ie7 hack*/
*+html .clearfix {min-height:1%;}
.dlFrom{overflow:hidden;zoom:1;}
	.dlFrom dt{float:left;}
	.dlFrom dt{clear:left;text-align:right;_margin-right:-3px}
	.dlFrom dd{overflow:hidden;zoom:1}
	.dlFrom dd img,.dlFrom dd input,.dlFrom dd a,.dlFrom dd em{float:left;margin-right:5px}
	.login_btn a,.login_btn input{float:left}
.pitch{margin-bottom:10px}/*间距*/
.rowArea{overflow:hidden;zoom:1}
  .rowArea .main{width:100%;float:left}
  .rowArea .main .mainIn{margin-right:155px}
  /*.rowArea .lBar{width:326px;float:left;margin-left:-100%}*/
  .rowArea .rBar{width:150px;float:left;margin-left:-150px}
.bf,.xz,.ss,.xj,.pw,.sBut,.rank .liRank,.rank2 .liRank li,.tList li,.iNav a,#shadow{background-image:url(../img/MiniHome2.png);background-repeat:no-repeat}
.tList li{padding-left:8px;background-position:-96px 10px;*background-position:-96px 8px}
#wrapper{border-top:1px solid #47617c}
#miniHome{padding:0 5px;text-align:left;background:url(../img/miniBj.jpg) top right no-repeat;border-top:1px solid #A0C2D9; position:relative}
.xsTip{height:23px;line-height:23px;color:#333;overflow:hidden}
.xsTip input{width:13px;height:13px;margin:5px 3px 0 0;}
.xsTip input,.xsTip label{float:left}
.xsTip a{color:#666;text-decoration:none}
.xsTip a:hover{text-decoration:underline}
.rAd img{width:150px;vertical-align:top}

.sBut{display:block;width:36px;height:19px;border:0;cursor:pointer;background-position:0 -50px;text-indent:-9999px;}
.bf,.xz{display:block;overflow:hidden;padding-left:17px; line-height:22px}
.bf{background-position:0 -83px;*background-position:0 -82px}
.xz{background-position:0 -105px;*background-position:0 -104px}
.ss,.xj,.pw{display:block;height:10px;width:10px;overflow:hidden;text-indent:-9999px}
.xj{background-position:0 -70px}
.ss{background-position:-11px -70px}
.pw{background-position:-22px -70px}
.miniTop{overflow:hidden;height:27px;line-height:27px;color:#fff}
	.miniTop .user{float:left}
	.miniTop .oInfo{float:right}
.search{overflow:hidden;zoom:1;padding:1px 0 4px 0}
	.search input{float:left}
	.search .sText{width:108px;height:19px;padding:1px 0 0 2px;border:1px solid #7487a1;margin-right:6px;background:#fff}
.mnArea{display:none;overflow:hidden;zoom:1;background:#fff}
	.mnArea a{color:#666;text-decoration:none}
	.mnArea a:hover{text-decoration:underline}
	.mnArea .mnR{width:100%;float:left;height:310px;overflow:hidden}
	.mnArea .mnR a{color:#252525}
	.mnArea .mnR .miniHead,.mnArea .mnR .List{margin-left:168px;margin-right:8px;}
	.mnArea .mnL{width:145px;height:308px;float:left;margin-left:-100%;}

#Information{position:relative;margin-top:23px;border:1px solid #7487a1;padding:7px 7px 0;background:#fff;color:#666;zoom:1}

.iNav{overflow:hidden;zoom:1;position:absolute;top:-24px;left:-1px}
    .iNav li{float:left}
	.iNav a{float:left;width:70px;height:24px;line-height:24px;*line-height:25px;overflow:hidden;background-position:0 0;text-align:center;color:#1b66a5;cursor:pointer; margin-right:2px;text-decoration:none;background-color:#b3e0ff}
	.iNav .cur{background-position:0 -25px;color:#000;font-weight:bold;background-color:#f3f3f3}
	.iNav a.mb{width:70px;height:24px;float:left;border:1px #FF0000 dashed;text-decoration:none;cursor:hand;background:none}
	.iNav a.mb:hover{display:block; cursor:hand}
	#shadow{width:70px;height:24px;line-height:24px;*line-height:25px;overflow:hidden;background-position:0 -25px;text-align:center;cursor:pointer; margin-right:5px;cursor:move;filter:alpha(opacity=90);z-index:9999}
	#shadow a{text-decoration:none;color:#000;}
.miniHead h3,.miniHead p{height:22px;line-height:22px;overflow:hidden}
.headMove h4{font-weight:normal;border:1px solid #ececec;}
.headMove h4 a{display:block;background:#f3f3f3;height:21px;line-height:21px;overflow:hidden}
  .headMove{text-align:center;margin-bottom:5px}
  .headMove img{width:145px;height:131px;vertical-align:top}
.headGame{text-align:center;margin-bottom:6px}
.headGame img{width:145px;height:75px;vertical-align:top}
.game{width:145px;padding-bottom:4px;position:absolute;top:247px;left:7px}
    .game a{color:#666;text-decoration:none}
    .game a:hover{text-decoration:underline}
	.game .gameList,.game .gameList li{overflow:hidden;zoom:1}
	.game .gameList li{float:left;width:49.9%}
	.game .gameList li img,.game .gameList li a{float:left}
	.game .gameList li img{width:15px;height:15px;margin:3px 3px 0 0}
.miniHead{padding:2px 0 6px 0;text-align:center}
    .miniHead h3{color:#ed4a00;font-size:14px}
	.miniHead h3 a{color:#ed4a00}
	.miniHead p{color:#666}
.tList li{z-index:1; margin-right:-8px}
    .tList li a{margin-right:8px}
	.tList .cur{z-index:9999;z-index:9999;background-color:#fff6ea;border:1px solid #ff9000;border-left:0}
	.tList .cur a:hover{text-decoration:none}
	.tList .select{color:#0433bd!important;font-weight:bold}
	.tList .tp{top:-68px;border:1px solid #ff9000;z-index:9999;border-bottom:1px solid #fff6ea;}
	.aFo{position:absolute;top:20px;right:-1px;background:#fff6ea;width:114px;border:1px solid #ff9000;z-index:9999;border-top:1px solid #fff6ea;display:none}
	.aFo li{padding:0 0 0 8px;overflow:hidden;height:22px;background:none;font-weight:normal;border:0}
	.aFo li .score{color:#f60;font-weight:bold}
	.aFo li span{color:#999999}
	.aFo .ib{overflow:hidden;zoom:1;line-height:13px;vertical-align:top; display:none}
	.aFo .ib a{float:left;border:0}
	.aFo .ib .bf{margin-right:10px}
.List .tList{padding:6px 0 7px 0;background:url(../img/dash.gif) top repeat-x}
.sz{font-family:Tahoma,Arial,sans-serif;font-size:11px;z-index:999;line-height:25px}
	.sz .bf,.sz .xz,.sz .ss,.sz .xj,.sz .pw,.sz span{float:left}
	.sz .xz{margin-left:8px}
	.sz span{margin-right:7px}
	.sz .ss,.sz .xj,.sz .pw{margin:8px 5px 0 0;display:inline}
#ysRank .rank dl dt,.ysMenu li{background-image:url(../img/rank.png);background-repeat:no-repeat}
#ysRank{padding-bottom:4px}
    .ysMenu,.ysMenu ul{overflow:hidden;zoom:1}
    .ysMenu ul{height:21px;line-height:21px;margin-bottom:2px;margin-left:-10px}
	.ysMenu li{float:left;padding:0 17px;cursor:pointer;background-position:0 -396px}
	.ysMenu li a:hover,.ysMenu .cur a{color:#ff9600;font-weight:bold}
	.ysMenu li a:hover{text-decoration:underline}
	#ysRank .rank{display:none}
	#ysRank .rank dl{position:relative;zoom:1;background-image:url(../img/dash.gif);background-position:top;background-repeat:repeat-x}
	#ysRank .rank dl dt{line-height:25px;overflow:hidden;padding:0 9px 0 27px}
	#ysRank .rank dl dd{padding:0 9px}
	#ysRank .rank dl dd .mInfo{display:none;padding-left:98px;position:relative;zoom:1}
	#ysRank .rank dl dd .mInfo img{width:90px;height:60px;border:1px solid #858585;vertical-align:top;position:absolute; top:0; left:0}
	#ysRank .rank dl dd .js{color:#003b5d;height:60px;line-height:20px;overflow:hidden}
	#ysRank .rank dl dd .js a{color:#003b5d}
	#ysRank .rank dl dd .js a:hover{text-decoration:underline}
	#ysRank .rank dl .sz{position:absolute;top:0;right:4px}
	#ysRank .rank .selected{padding-top:1px}
	#ysRank .rank .selected dd .mInfo{display:block}
	#ysRank .rank .selected dt{padding-left:49px;border-top:2px solid #fff;margin-bottom:5px;color:#003b5d;font-weight:bold;zoom:1}
	#ysRank .rank .selected dt a{color:#003b5d}
	#ysRank .rank .selected dd{padding-bottom:15px}
	#ysRank .rank .selected .sz{position:absolute;bottom:12px;top:auto}
	#ysRank .r1,#ysRank .r3,#ysRank .r5,#ysRank .r7{background-color:#f5f5f5}
	#ysRank .r1 dt{background-position:9px -195px}
	#ysRank .r2 dt{background-position:9px -220px}
	#ysRank .r3 dt{background-position:9px -245px}
	#ysRank .r4 dt{background-position:9px -270px}
	#ysRank .r5 dt{background-position:9px -295px}
	#ysRank .r6 dt{background-position:9px -320px}
	#ysRank .r7 dt{background-position:9px -345px}
	#ysRank .r8 dt{background-position:9px -370px}
	#ysRank .sr1 dt{background-position:9px 3px}
	#ysRank .sr2 dt{background-position:9px -22px}
	#ysRank .sr3 dt{background-position:9px -47px}
	#ysRank .sr4 dt{background-position:9px -72px}
	#ysRank .sr5 dt{background-position:9px -97px}
	#ysRank .sr6 dt{background-position:9px -122px}
	#ysRank .sr7 dt{background-position:9px -147px}
	#ysRank .sr8 dt{background-position:9px -172px}

