<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Template>Normal.dotm</Template><TotalTime>2</TotalTime><Pages>1</Pages><Words>832</Words><Characters>4745</Characters><Application>Microsoft Office Word</Application><DocSecurity>0</DocSecurity><Lines>39</Lines><Paragraphs>11</Paragraphs><ScaleCrop>false</ScaleCrop><Company>hellohtml5.com</Company><LinksUpToDate>false</LinksUpToDate><CharactersWithSpaces>5566</CharactersWithSpaces><SharedDoc>false</SharedDoc><HyperlinksChanged>false</HyperlinksChanged><AppVersion>14.0000</AppVersion></Properties>