#tool-bar,#tool-bar li b,#tool-bar li a:hover,#tool-bar .tb-close,#reprint a b,#saw .saw-list li b,#video-hd .vi-behavior a,.p-tip .p-close,.js-list li a{background-image:url(img/pps.png);background-repeat:no-repeat}
/*==for all website==*/
.p-tip{height:19px;border:1px solid #ffd667;background:#fffcc9;line-height:19px;display:inline-block;*display:inline;*zoom:1;padding:0 16px 0 8px;position:relative}
	.p-tip .p-close{position:relative;width:8px;height:7px;display:inline-block;overflow:hidden;text-indent:-9999px;background-position:-71px -80px;margin-left:5px;position:absolute;right:4px;top:6px}
/*==/for all website==*/

/*==for all website==*/
.js-list,.js-list2{overflow:hidden;zoom:1}
	.js-list li{float:left;width:55px;line-height:20px;margin:10px 10px 0 0;display:inline;text-align:center}
	.js-list li a{height:20px;display:block;border:1px solid #e7e7e7;background-position:0 -31px;background-repeat:repeat-x}
	.js-list li a:hover{background-position:0 -52px;border:1px solid #ff6306; color:#fff;text-decoration:none}
.js-list2 li{width:270px;float:left;background-position:-124px -75px;height:22px;margin-right:20px;display:inline}
/*==/for all website==*/
h1{font:22px/1.5 Microsoft Yahei;color:#383838}
	h1 a{color:#383838}
	h1 a:hover{color:#fa8c00;text-decoration:underline}
#video-hd{overflow:hidden;height:33px;margin-bottom:10px}
	#video-hd h1,#video-hd .play-times{float:left}
	#video-hd h1{margin-right:10px}
	#video-hd .play-times{color:#999999;line-height:38px}
	#video-hd .vi-behavior{float:right;padding-top:4px}
	#video-hd .vi-behavior a{display:inline-block;line-height:23px;border:1px solid #e7e7e7;padding:0 8px;margin-left:10px;background-color:#efefef;background-position:0 -29px}
#p-players .bd{border:0; padding:0}
#p-players .p-tip{display:block}
#play-bt{border:1px solid #e9e9e9; border-top:0}
#tool-bar{position:relative;zoom:1;font-size:14px;line-height:28px;border-bottom:1px solid #e9e9e9;background-repeat:repeat-x}
#tool-bar ul{overflow:hidden;zoom:1}
#tool-bar .tb-close{position:absolute;top:10px;right:10px;width:8px;height:7px; overflow:hidden;background-position:-71px -73px}
#tool-bar li{float:left;border-right:1px solid #e7e7e7;}
#tool-bar li a{display:block;padding:0 15px 0 32px;position:relative;float:left}
#tool-bar li a:hover{background-position:0 -116px;color:#fff;text-decoration:none}
#tool-bar li a b{position:absolute;overflow:hidden;left:10px;top:6px}
#pl b{width:17px;height:15px;background-position:-74px -88px}
#tj b{width:15px;height:16px;background-position:0 -87px}
#tp b{width:15px;height:14px;background-position:-28px -89px}
#sc b{width:15px;height:15px;background-position:-43px -88px}
#fs b{width:13px;height:15px;background-position:-15px -88px}
#yx b{width:15px;height:15px;background-position:-109px -72px}
#fx b{width:16px;height:15px;background-position:-58px -88px}
#reprint{line-height:30px;padding-left:8px;color:#535353}
#reprint a{display:inline-block;margin-right:15px;position:relative;padding-left:25px}
#reprint a b{position:absolute;width:16px;height:16px;overflow:hidden;left:5px;top:7px}
#rr b{background-position:-17px -146px}
#kx b{background-position:-34px -146px}
#sina b{background-position:-50px -146px}
#qq b{background-position:0 -146px}
/*==for all website==*/		
#comment{position:relative;zoom:1}
    #comment #comment-bd{zoom:1}
	#comment #newCommentspan{display:none}
	#comment .ctitle{background:none;position:absolute;right:0;top:0;border:0}
	#comment .popo .pagenav {float:right; margin-top:10px}
	#comment form.postcomment .impression{width:85%;}
    #comment form.postcomment label{width:10%;}
    #comment form.postcomment textarea{display:block;height:132px;width:75%}
	#comment form.postcomment .submit,#comment form.postcomment div.attention{margin-left:10%}
/*==/for all website==*/	


#p-dra-version{padding-top:1px}
    #p-dra-version .pagenav{text-align:right;margin-bottom:10px}
	#p-dra-version .hd h2 span{color:#999999; font-size:11px; font-weight:normal}
	#p-dra-version .bx{margin-top:-1px;overflow:hidden;position:relative;zoom:1}
	#p-dra-version .bd{display:none;zoom:1;padding-top:5px;padding-bottom:10px}
	#p-dra-version .p-tip{position:absolute;right:12px;top:4px}
	#p-dra-version .js-list{margin:0 -50px 10px 0}
	#p-dra-version .js-list li{margin-top:5px;}
	#p-dra-version .js-list2 li{width:auto;margin-right:0;float:none;display:block}
#saw{color:#666;text-align:left}
	#saw .bx{padding:8px 7px 0px 10px;line-height:16px}
	#saw .no-content span{color:#c3c3c3}
	#saw .no-content a{margin:0 3px}
	#saw .saw-list{padding-top:5px}
	#saw .saw-list li{padding:0 0 2px 6px;overflow:hidden;position:relative;zoom:1}
	#saw .saw-list li b{display:block;position:absolute;width:4px;height:7px;overflow:hidden;background-position:-122px -103px;top:8px;left:0}
	#saw .continue{color:#999;margin-left:17px;padding:3px 0px}
	#saw .otherAct{border-top:1px dashed #ccc;line-height:30px}
	#saw .why_jl{float:right;background-position:0px -408px;padding-left:15px}
/*=================================for module-p-col2.html============================================*/
#video-info .bd{padding-top:10px;padding-bottom:10px}
/*==recom==*/
.recom dl{position:relative;padding:5px 90px 0 0;zoom:1;border-bottom:1px dashed #b5b5b5;height:auto!important;height:45px;min-height:45px}
	.recom dl dt,.recom dl dd{overflow:hidden;zoom:1;}
	.recom dl dt{line-height:16px;margin-bottom:5px;height:16px;overflow:hidden; font-weight:bold}
	.recom dl dt .score{ margin-left:8px;font-size:12px}
	.recom dl dd{line-height:20px;height:20px;overflow:hidden;padding-left:10px}
	.recom dl dd a img{width:20px;height:20px;margin-right:3px;vertical-align:middle}
	.recom dl dd .tj{color:#5f5f5f; margin-left:5px}
	.recom .recom_digger{width:90px;height:40px;overflow:hidden;position:absolute;top:5px;right:0;color:#2e6fb3}
	.recom .recom_digger li{margin-left:15px;font-family:"ËÎÌו";line-height:18px;height:18px;overflow:hidden;cursor:pointer}
	.recom .recom_digger .zc{margin-top:3px}
#recom{position:relative;zoom:1}
	#recom .recom_act{padding:5px 0 10px 5px;text-align:right}
	#recom .recom_act .but{vertical-align:top}	
/*==/recom==*/
/*==/fowr all website==*/	
#motif-info{color:#383838}
    #motif-info .bd{padding-top:5px; padding-bottom:5px}
	#motif-info .m-tags a{margin-right:10px}
	#motif-info .m-yx{line-height:1.5}
	#motif-info .m-yx a{margin:0 10px;white-space:nowrap;display:inline-block}
	#motif-info .m-yx .but{vertical-align:middle}
	#motif-info .per-rise,#motif-info .per-drop,#motif-info .per-smooth{margin-left:15px}
	.motif-item em{color:#999}
	.motif-item .drop-wrap{display:inline-block;*display:inline;*zoom:1;vertical-align:middle}
	.motif-item .drop-wrap .drop-handle{height:16px;border:1px solid #d6d8d8;line-height:16px;padding:0 15px 0 5px;margin:0 5px}
	.motif-item .drop-wrap .drop-handle b{right:5px;top:7px}
/*==/fowr all website==*/	
#v-vote .bd{zoom:1}
	#v-vote ul{overflow:hidden;padding-bottom:5px;zoom:1;position:relative}
	#v-vote li{border-top:1px dashed #c9c9c9;line-height:27px;height:27px;overflow:hidden;position:relative;padding-right:70px;margin-top:-1px}
	#v-vote li span{color:#f56b06;position:absolute;top:0;right:0; font-family:"ËÎÌו"}
	#v-vote .v-vote-act{text-align:right; padding-bottom:10px}
	#v-vote .v-vote-act .but{vertical-align:top}
/*=================================for module-p-col2.html============================================*/
#lights{background:#000000;color:#9e9e9e}
#lights .hd{background:#1c1c1c; border-color:#5d5d5d; color:#9e9e9e}
#lights .bd{border-color:#5d5d5d}
#lights #header{background:none}
#lights #header .bl,#lights #header .br{background-color:#5d5d5d}
#lights .mv-item .imgs{border:1px solid #2c2c2c}
#lights .mv-item .info-list2 .js .more{background-color:#000000}
#lights .EsHandle b{width:7px;height:4px;background-position:-30px -72px;margin-top:-16px;zoom:1}
#lights div.Shrink b{background-position:-37px -72px;}
#lights .p-tip{border-color:#5d5d5d;background:#0f0f0f;color:#9e9e9e}
#lights #video-hd .vi-behavior a{border:1px solid #5d5d5d;background:#1c1c1c}
#lights .motif-item .drop-wrap .drop-handle{border-color:#5d5d5d;background:#9e9e9e;color:#fff}
#lights #play-bt,#lights #tool-bar li{border-color:#5d5d5d;}
#lights #tool-bar{background:#1c1c1c;border-color:#5d5d5d;}
#lights #footer{background:#353535}
#lights #footer .ft-txt{border:0}
#lights #footer .ft-list{background:#262626;}
#lights .comment_lei{background:none}
#lights .c_fb,#lights .r_fb{border:1px solid #5d5d5d;background:#262626}
#lights .c_bx,#lights .r_bx,#lights .r_fb{background:none}
#lights .c_bx,#lights .r_bx{border-color:#262626;}
#lights .c_tp,#lights .c_bt,
#lights .r_tp,#lights .r_bt,#lights .r_san{display:none}
#lights p.viewAllComments{background:none;border-top:1px dashed #5d5d5d;}
#lights form.postcomment input, #lights form.postcomment textarea{border:1px solid #5d5d5d;background:#1c1c1c}
#lights .pagenav a,.pagenav span{border:1px solid #5d5d5d;color:#2b6bad;background:#1c1c1c}
#lights .pagenav .on{background:#9e9e9e;border:1px solid #9e9e9e;}
#lights .p-tip .p-close{background-position:-71px -73px}
