/*====================================
 {
   author:"lou xiao jian",
   mail:"jxsr_lxj@163.com"
 }
====================================*/
a{color:#2e6fb3;text-decoration:none;outline:none}
a:hover{color:#fa8c00;text-decoration:underline}
.avatar,.avatar30,.avatar100{border:1px solid #ccc}

body,#header{background:#c4eef4 url(../img/login_body.png) top repeat-x}
body{padding-bottom:80px}
.join-y-pps,.l-dl-but,#gzd10 .hd h2,.new-rank3 li b,#hot-debate b,#everyone-saying h2 b{background-image:url(../img/login.png);background-repeat:no-repeat;text-indent:-9999px}
#logo{margin-left:8px; margin-top:12px}
#page,#y-page,.page-ft{width:960px;margin:0 auto;}
#page,#y-page{text-align:left;background:url(../img/login_p_cols.png) repeat-y;padding-bottom:0}
.page-ft{height:20px;background:url(../img/login_page_ft.png) no-repeat}

#header,#content,#footer{width:auto}
#header{padding-bottom:7px;zoom:1}
#content{background:url(../img/login_p_cols.png) repeat-y}
#footer{background:#e8f6ff;margin:0 5px;padding-bottom:0;zoom:1}
#footer .ft-list{color:#2e6fb3;padding-top:5px}
#footer .ft-ss{border-top:1px solid #ffffff}

.new-p-cols4{margin-top:20px}
    .new-p-cols4 .p-col1-1{margin:0 243px 0 265px;border-left:1px solid #ebebeb;border-right:1px solid #ebebeb; padding:0 20px 0 17px}
	.new-p-cols4 .p-col2{width:244px;margin-left:-100%;padding-top:4px}
	.new-p-cols4 .p-col3{width:243px;float:left;margin:-306px 0 0 -243px;padding-top:20px;background:url(../img/login_rbanner.jpg) no-repeat;position:relative;z-index:1}

.l-banner{height:286px;background:url(../img/login_lbanner.jpg) no-repeat;text-indent:-9999px}

#everyone-saying{height:428px;overflow:hidden;position:relative}
    #everyone-saying h2{line-height:28px;border-bottom:1px solid #ebebeb;position:relative;zoom:1; padding-left:18px}
	#everyone-saying h2 b{width:16px;height:15px;overflow:hidden;position:absolute;left:0;top:50%; margin-top:-5px; background-position:-145px -48px}
	#everyone-saying .bd{position:relative;height:398px;overflow:hidden}
    #everyone-saying .tk-item .tk-r{padding-left:10px}
	#everyone-saying .tk-item .tk-nr{margin-right:5px}
    #everyone-saying .tk-item .tk-time{float:none;margin-top:-10px}
	#everyone-saying .jy{position:absolute;width:413px;height:39px;overflow:hidden;background:url(../img/login_jy.png) no-repeat;bottom:0;left:0;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src="http://y.pps.tv/t/core/img/login_jy.png")}
	
#hot-debate{padding-left:54px; line-height:31px; background:#34ac34; color:#fff;margin:-31px 5px 0 5px;position:relative;zoom:1;z-index:10}
    #hot-debate h2{width:60px;float:left;font-weight:normal}
	#hot-debate b{width:13px;height:12px;overflow:hidden;background-position:-132px -49px;position:absolute;left:34px;top:50%;margin-top:-6px}
	#hot-debate a{color:#fff;margin:0 9px}
	#hot-debate .debate-scroll{width:830px;overflow:hidden;height:31px}
	#hot-debate .debate-scroll-in{float:left;overflow:hidden}
	#hot-debate .debate-scroll-in a{float:left;display:inline}

.l-style{margin:0 37px 0 17px}
.l-style .hd{line-height:28px;border-bottom:1px solid #ebebeb;margin-bottom:8px;zoom:1}
	.l-style .bd{overflow:hidden;zoom:1;padding:0 3px}
	.l-style .p-list{margin-right:-30px}
	.l-style .p-list .p-item{margin-right:11px;padding-bottom:15px}
	
.join-y-pps{display:block;width:192px;height:48px;margin-left:15px;}


#login-form{text-align:left;padding:18px 0 5px 15px;height:218px}
    #login-form ul{zoom:1}
	#login-form .form-item{margin-bottom:10px}
	#login-form .form-item label{display:none}
	#login-form .form-item .e-input{padding-top:3px; position:relative; color:#909090}
	#login-form .form-item .input{width:188px}
	#login-form .form-item .input2{width:38px;color:#383838}
	#login-form .form-item .sr{color:#383838}
	#login-form .form-item img{margin-top:2px}
	#login-form .form-act{padding-left:65px}
	#login-form .login-safe{color:#909090;line-height:18px;margin-bottom:10px}
	#login-form .login-safe .rck{margin-top:3px}
	#login-form .login-safe .forgot-password{margin-left:55px}
	#login-form .l-dl-but{width:60px;height:25px;text-indent:-9999px;display:block;background-position:-113px -63px;border:0;cursor:pointer}

#gzd10{overflow:hidden; padding-left:15px}
   #gzd10 .hd{margin-bottom:13px;background:url(../img/login_gzd10_hd.png) bottom center no-repeat;padding-bottom:9px;zoom:1;line-height:16px}
   #gzd10 .hd h2{width:101px;height:16px;background-position:-12px -62px; margin:0 auto}

    .new-rank3 li{line-height:36px;height:36px;border-bottom:1px solid #d8f1f6;padding-left:20px;position:relative; padding-right:50px}
	.new-rank3 li b{width:14px;height:14px;margin-top:-7px;left:2px}
	.new-rank3 .r1{background-position:0 -48px}
	.new-rank3 .r2{background-position:-13px -48px}
	.new-rank3 .r3{background-position:-26px -48px}
	.new-rank3 .r4{background-position:-40px -48px}
	.new-rank3 .r5{background-position:-53px -48px}
	.new-rank3 .r6{background-position:-66px -48px}
	.new-rank3 .r7{background-position:-79px -48px}
	.new-rank3 .r8{background-position:-92px -48px}
	.new-rank3 .r9{background-position:-105px -48px}
	.new-rank3 .r10{background-position:-118px -48px}
	