/*====================================
 {
   author:"lou xiao jian",
   mail:"jxsr_lxj@163.com"
 }
====================================*/
.but-a,.sp-fb-but,.scroll-publish-form .sp-fb-but-gd,.scroll-publish-handle b,.scroll-publish-handle-s b{background-image:url(../img/search.png);background-repeat:no-repeat}
.but-a{width:121px;height:29px;line-height:29px;text-align:center;color:#fff;display:block;font-weight:bold;font-size:14px; background-position:0 0}
a.but-a:hover{color:#fff; text-decoration:none}
	
#search{position:relative;zoom:1}
	#search .but-a{position:absolute;top:5px;right:-10px}
	#search .nr-selection{margin-bottom:10px}
	
.sr-selection{color:#909090}
	.sr-selection a,.sr-selection em{margin:0 6px}
	.sr-selection em{color:#383838}
	
#search-results{position:relative;zoom:1}
    #search-results .sr-selection{position:absolute; top:4px; right:0}

.no-result{text-align:center;padding-top:20px}
    .no-result strong{font-size:14px}
	
.scroll-publish{width:13px;height:86px;overflow:hidden;border:1px solid #77bfec;position:absolute;bottom:300px;right:0;text-align:left}
	.scroll-publish-b{width:798px;background:#84cfff;height:86px;position:absolute;top:0;left:0;opacity:0.8;-moz-opacity:0.8;filter:alpha(opacity=80);z-index:10}
	.scroll-publish-form{width:778px;position:relative;z-index:20;padding:10px}
	.scroll-publish-form .textarea{width:481px;height:40px;border:1px solid #dddddd; overflow:auto}
	.scroll-publish-form .sp-fb-but,.scroll-publish-form .sp-fb-but-gd{width:80px;height:45px;border:0;cursor:pointer;background-position:0 -29px;text-indent:-9999px}
	.scroll-publish-form .sp-fb-but-gd{background-position:0 -74px;cursor:default}
	.scroll-publish-form .zs-tip{color:#fff; text-align:right; width:486px}
	.scroll-publish-handle,.scroll-publish-handle-s{width:9px;height:84px;position:absolute;right:1px;top:0;cursor:pointer;z-index:30}
	.scroll-publish-handle b,.scroll-publish-handle-s b{width:9px;height:7px;text-indent:-9999px;overflow:hidden;position:absolute;right:0;color:#fff;top:50%;margin-top:-4px;cursor:pointer;background-position:-89px -29px}
	.scroll-publish-handle-s b{background-position:-80px -29px}