.focus{width:500px;overflow:hidden;position:relative;border:1px solid #DADADA;padding:5px;background:#F1F1F1;}
    .focus-panel-wrap{height:300px;overflow:hidden;float:left;width:100%;position:relative;z-index:10}
    .focus-panel-wrap .focus-panel{position:absolute}
    .focus-panel-wrap .fp-item{height:300px}
    .focus-panel-wrap .f-img{width:500px;height:300px;vertical-align:top}
    .focus-trigger{position:absolute;right:10px;bottom:10px;z-index:11}
    .focus-trigger .tg-item{float:left;width:16px;height:16px;border:1px solid #CCC;background:#fff;text-align:center;line-height:16px;overflow:hidden;margin-left:5px}
    .focus-trigger .tg-item a{zoom:1;cursor:pointer;display:block}
    .focus-trigger .tg-item a:hover{text-decoration:none;color:#2B6BAD}
    .focus-trigger .tg-item .t-img{width:80px;height:50px;margin:5px 0 0 10px;vertical-align:top}
    .focus-trigger .select{text-decoration:none;background:#ff6600;color:#fff}
    .focus-trigger .select a,.focus-trigger .select a:hover{color:#fff}

#hot-pic .bd{padding:15px 10px 18px}
    #hot-pic .new-p-list .p-item{margin-right:10px}