/*===================================
author:	lou xiao jian
email:  jxsr_lxj@163.com
====================================*/
body,html,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
body{font:12px/22px Verdana,"宋体";word-break:break-all;text-align:center;background:#f4f4f4 url(../img/body.gif) top repeat-x;color:#787878}
html,body{overflow:hidden;border:0}
fieldset,img{border:0;} 
table {border-collapse:collapse;border-spacing:0;} 
ol,li,ul{list-style:none;} 
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
caption,th{text-align:left;} 
h1,h2,h3,h4,h5,h6{font-size:100%;} 
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
input,select,textarea{font:normal normal 12px "Verdana";}
input,textarea,select{*font-size:100%;}
input,textarea{color:#666}
select{color:#999}
/* 字体属性 [定义规则，小写f加属性名称] */
.fB{font-weight:bold;}
.fI{font-style:italic;}
/* 字体大小*/
.fs12{font-size:12px;}
.fs14{font-size:14px;}
/* 浮动*/
.fl{float:left;}
.fr{float:right}
/* 其它属性*/
.hide{display:none}
.submit{cursor:pointer;border:0}
.noText{display:block;height:0;width:0;line-height:0;overflow:hidden}
/*textList*/
.tList a{text-decoration:none}
.tList li{line-height:22px;height:22px;overflow:hidden;position:relative;}
/*pic_left_text_right*/
.pltr,.pltr .tr,.pltr .tl{overflow:hidden;zoom:1}
.pltr .img,.pltr .tl{float:left;_margin-right:-3px;}
.pltr .img img,.pltr .tl img{vertical-align:top}
/*pic_up_text_down*/
.pList{overflow:hidden;zoom:1}
.pList li{float:left;text-align:center}
.pList li img{vertical-align:top;margin-bottom:2px}
.pList li h4,.pList li span,.pList li em{display:block;overflow:hidden;font-size:12px;font-weight:normal;height:18px;line-height:18px;text-align:center}
/*==clear==*/
.clear{clear:both;font-size:0px;width:0px;height:0;visibility:hidden;line-height:0}
.clearfix:after {content: "";display:block;height:0;clear:both;visibility:hidden;}
* html>body .clearfix {display: inline-block;width:100%;}
* html .clearfix{/* Hides from IE-mac \*/height: 1%;/* End hide from IE-mac */}
/* ie7 hack*/
*+html .clearfix {min-height:1%;}
.dlFrom{overflow:hidden;zoom:1;}
	.dlFrom dt{float:left;}
	.dlFrom dt{clear:left;text-align:right;_margin-right:-3px}
	.dlFrom dd{overflow:hidden;zoom:1}
	.dlFrom dd img,.dlFrom dd input,.dlFrom dd a,.dlFrom dd em{float:left;margin-right:5px}
	.login_btn a,.login_btn input{float:left}
.pitch{margin-bottom:10px}/*间距*/
.rowArea{overflow:hidden;zoom:1}
  .rowArea .main{width:100%;float:left}
  .rowArea .main .mainIn{margin-right:160px}
  /*.rowArea .lBar{width:326px;float:left;margin-left:-100%}*/
  .rowArea .rBar{width:150px;float:left;margin-left:-150px}
.tH2,.bf,.xz,.sBut,.liRank,.tList li{background-image:url(../img/MiniHome.png);background-repeat:no-repeat}
.tList li{padding-left:8px;background-position:-96px 10px;*background-position:-96px 8px}
#wrapper{border-top:1px solid #47617c}
#miniHome{padding:0 6px;text-align:left;background:url(../img/miniBj.jpg) top right no-repeat;border-top:1px solid #A0C2D9}
.xsTip{height:22px;*line-height:25px;color:#333;padding:3px 0 2px 0;overflow:hidden}
.xsTip input{width:13px;height:13px;margin:5px 3px 0 0;}
.xsTip input,.xsTip label{float:left}
.rAd img{width:150px;vertical-align:top}
.tH2{width:70px;height:24px;line-height:24px;*line-height:25px;overflow:hidden;position:absolute;top:-24px;left:-1px;background-position:0 0;text-align:center;color:#fff; cursor:pointer}
.sBut{display:block;width:36px;height:19px;border:0;cursor:pointer;background-position:0 -50px;text-indent:-9999px;}
.bf,.xz{display:block;height:13px;width:13px;overflow:hidden;text-indent:-9999px}
.bf{background-position:-37px -50px}
.xz{background-position:-54px -50px}
.rr{width:35px;display:block;position:absolute;top:5px;right:0;overflow:hidden;height:13px}
	.rr .bf,.rr .xz{float:left}
	.rr .xz{margin-left:8px}
.miniTop{overflow:hidden;height:27px;line-height:27px;color:#fff}
	.miniTop .user{float:left}
	.miniTop .oInfo{float:right}
.search{overflow:hidden;zoom:1;padding:1px 0 4px 0}
	.search input{float:left}
	.search .sText{width:104px;height:19px;padding:1px 0 0 2px;border:1px solid #7487a1;margin-right:6px;background:#fff}
.mnArea{display:none;overflow:hidden;zoom:1}
	.mnArea a{color:#666;text-decoration:none}
	.mnArea a:hover{text-decoration:underline}
	.mnArea .mnR{width:100%;float:left}
	.mnArea .mnR .miniHead,.mnArea .mnR .rank,.mnArea .mnR .List{margin-left:160px}
	.mnArea .mnL{width:145px;float:left;margin-left:-100%}
#Information{position:relative;margin-top:23px;border:1px solid #7487a1;padding:10px 16px 0 7px;background:#fff;color:#666;zoom:1}
	#Information .cur{background-position:0 -25px;color:#000;font-weight:bold}
	#Information .pos2{left:74px}
	#Information .pos3{left:149px}
	#Information .pos4{left:224px}
.headMove h4,#game .headGame h4,.miniHead h3,.miniHead p{height:22px;line-height:22px;overflow:hidden}
.headMove h4,#game .headGame h4{font-weight:normal; margin-bottom:5px}
  .headMove{text-align:center;}
  .headMove img{width:145px;height:150px;vertical-align:top;margin-bottom:4px}
#game{padding-bottom:4px}
    #game .headGame{text-align:center}
	#game .headGame img{width:145px;height:80px;vertical-align:top;margin-bottom:4px}
	#game .gameList,#game .gameList li{overflow:hidden;zoom:1}
	#game .gameList li{float:left;width:49.9%}
	#game .gameList li img,#game .gameList li a{float:left}
	#game .gameList li img{width:15px;height:15px;margin:3px 3px 0 0}
.miniHead{padding-bottom:5px}
    .miniHead h3{color:#ed4a00;font-size:14px;text-align:center}
	.miniHead h3 a{color:#ed4a00}
	.miniHead p{color:#666}
.List .tList{border-top:1px dashed #ccc;padding:4px 0}
.rank{border-top:1px dashed #ccc;padding:4px 0 5px 0}
.rank h3{height:22px;line-height:22px;overflow:hidden;color:#000}
.liRank{background-position:-87px -22px;*background-position:-87px -24px;padding-left:17px}
    .liRank li{padding-right:35px;position:relative;zoom:1;}

