/*酒店头部标题*/
.hotel_headline{padding-left:60px;margin:10px 0;min-height:38px;_height:38px;font-size:18px;background-image:url(../img/ico_hotel_headline.gif);background-repeat:no-repeat;}
.hotel_headline{background-position:0 center;}
/*钻级和星级*/
.hotel_diamond01, .hotel_diamond02, .hotel_diamond03, .hotel_diamond04, .hotel_diamond05, .hotel_diamond06, .hotel_halfdiamond01, .hotel_halfdiamond02, .hotel_halfdiamond03, .hotel_halfdiamond04, .hotel_halfdiamond05, .hotel_halfdiamond06, .hotel_stars01, .hotel_stars02, .hotel_stars03, .hotel_stars04, .hotel_stars05{background-image:url(../img/bg_rate.gif);background-repeat:no-repeat;overflow:hidden;}
.hotel_diamond01, .hotel_diamond02, .hotel_diamond03, .hotel_diamond04, .hotel_diamond05, .hotel_diamond06, .hotel_halfdiamond01, .hotel_halfdiamond02, .hotel_halfdiamond03, .hotel_halfdiamond04, .hotel_halfdiamond05, .hotel_halfdiamond06{height:11px;}
.hotel_stars01, .hotel_stars02, .hotel_stars03, .hotel_stars04, .hotel_stars05{height:16px;background-position:0 -32px;}
.hotel_diamond01, .hotel_halfdiamond01{width:14px;}
.hotel_diamond02, .hotel_halfdiamond02{width:30px;}
.hotel_diamond03, .hotel_halfdiamond03{width:46px;}
.hotel_diamond04, .hotel_halfdiamond04{width:62px;}
.hotel_diamond05, .hotel_halfdiamond05{width:78px;}
.hotel_diamond06, .hotel_halfdiamond06{width:94px;}
.hotel_halfdiamond01{background-position:-96px 0;}
.hotel_halfdiamond02{background-position:-80px 0;}
.hotel_halfdiamond03{background-position:-64px 0;}
.hotel_halfdiamond04{background-position:-48px 0;}
.hotel_halfdiamond05{background-position:-32px 0;}
.hotel_halfdiamond06{background-position:-16px 0;}
.hotel_stars01{width:16px;}
.hotel_stars02{width:32px;}
.hotel_stars03{width:48px;}
.hotel_stars04{width:64px;}
.hotel_stars05{width:80px;}
/*金牌银牌*/
.hotel_goldmedal, .hotel_silvermedal{padding-left:22px;}
.hotel_goldmedal{background:url(../img/pic_goldmedal.gif) 0 3px no-repeat;_background-position:0 2px;}
.hotel_silvermedal{background:url(../img/pic_silvermedal.gif) 0 3px no-repeat;_background-position:0 2px;}
/*连住优惠*/
.hotel_special{float:right;padding-left:35px;height:24px;line-height:27px;color:#CC3300;background:url(../img/bg_32x32.gif) 0 -4px no-repeat;}
.hotel_special a:hover,  .hotel_special a{color:#CC3300;}
/*分页按钮*/
.hotel_page{text-align:right;padding-right:10px;margin:10px 0;}
.hotel_page a{background: #e3e3e4;padding: 3px 4px;text-decoration: none;margin: 0 2px;}
.hotel_page a:hover{background: #0055aa;color: #FFF;text-decoration: none;}
/*侧栏*/
.hotel_searchbox input{width:85px;}
.base_154_top .base_sider_tab{float:left; width:77px;margin:0px; text-align:center; height:26px;cursor:pointer;}
.base_sider_tab_current{background:url(../img/pic_siderbar_select.gif) no-repeat;}
.base_sider_tabcontent01 a{background:url(../img/bg_16x16.gif) no-repeat 2px -991px ;float:left;overflow:hidden;padding-left:18px;white-space:nowrap;width:50px;text-overflow:ellipsis;overflow:hidden;}
.base_sider_tabcontent02 a{background:url(../img/bg_16x16.gif) no-repeat 2px -991px ;display:block;overflow:hidden;padding-left:18px;white-space:nowrap;width:120px;}
.hotel_lowprice{display:block;width:154px;height:24px;line-height:24px;font-weight:bold;text-align:center;color:#FFF;margin-bottom:10px;overflow:hidden;background:url(../img/un_hotel090731.png) no-repeat -336px -144px;}
.hotel_lowprice:hover{text-decoration:none;}
.hotel_area {padding:10px 0 10px 0;}
.hotel_area a {display:block;width:50px;float:left;padding-left:18px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;background:url(../img/pic_left.gif) 10px -2048px no-repeat;}
.hotel_areamore{clear:both;padding:5px 10px 0 0;text-align:right;}
.hotel_areamore a{float:none;display:inline;background:none;}
/*两栏布局 lou*/
.hotel_grid01 .first{width:101px;float:left;padding-right:20px;}
.hotel_grid02 .first{width:270px;float:right;}
.hotel_unit:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
/*房型列表*/
.hotel_datelist01 th{background:#CBCDDA;}
.hotel_datelist02 th{background:#F9E4C6;}
.hotel_room_showall{float:right;margin-bottom:0;padding-right:10px;cursor:pointer;color:#0055AA;}
.hotel_room a{float:left;text-align:left;}
.hotel_room a, .hotel_room span{margin-right:2px;}
.hotel_gift, .hotel_sales, .hotel_roompic{background-image:url(../img/bg_16x16.gif);background-repeat:no-repeat;float:left;width:16px;height:16px;overflow:hidden;}
.hotel_roompic{background-position:0 -639px;}
.hotel_gift{background-position:0 -224px;cursor:pointer;}
.hotel_sales{background-position:0 -480px;}
.hotel_unit{zoom:1;padding:0 0px 0 0;}
/*搜索结果和详细页面的评分*/
.hotel_whitebg{width:92px;height:105px;overflow:hidden;padding:9px 4px 0 4px;margin-bottom:5px;color:#666;border-right:solid 1px #CCC;border-bottom:solid 1px #CCC;background:#FFF;}
.hotel_realpic{display:block;height:16px;line-height:16px;padding-left:26px;margin:5px 0 7px 0;background:url(../img/bg_16x16.gif) 4px -513px no-repeat;}
.hotel_judge p{margin-top:-9px;}
.hotel_value, .hotel_value:hover{font-size:22px;font-family:arial;margin-right:3px;color:#0055AA;text-decoration:none;}
.hotel_value span {font-size:12px;}
/*===========================================酒店搜索结果=====================================================*/
.base_t4 #base_main{float:right;margin-left:-283px; overflow:hidden;}
.base_t4 .base_b{float:left;width:278px;}
.base_t4 #base_main .base_b{margin-left:283px;}
/*----------搜索条件--------------*/
.searchresult_box .hotel_box_border02 { background:#305EB1; }
.searchresult_box .hotel_box_hd { padding-top:3px; padding-bottom:1px; background:#305EB1; line-height:20px;}
.searchresult_box .hotel_box_content { border:0; background:#EDF4FE; }
.searchresult_txtbox { width:87px; height:16px; border:1px solid #A5ACB2; line-height:16px; vertical-align:2px;}
.searchresult_btn { width:82px; height:22px; border:none; background:url(../img/un_hotel090731.png) -418px -784px; text-indent:-999em;  }
.searchresult_item { padding-left:65px; }
.searchresult_item a,.searchresult_item strong {float:left; color:#535353; outline:none;}
.searchresult_item a {width:110px; height:19px; margin:1px 5px 0; padding:0 10px; color:#305EB1; line-height:21px; text-overflow:ellipsis;moz-text-overflow: ellipsis;  overflow:hidden; }
.searchresult_item li { clear:both; line-height:19px; }
.searchresult_item li a.selected,.searchresult_item li a:hover,.searchresult_item li a.item_on { background-color:#305FB1; color:#fff; text-decoration:none; }
.searchresult_item li a.selected { background:#305FB1 url(../img/un_hotel090731.png) -282px -320px; }
.searchresult_item li strong { margin-left:-65px; }
/*---left--*/
.float_right { float:right;}
.result_box { margin-bottom:10px; padding:1px; border:1px solid #ccc; background:#fff;}
.result_box .result_hd { padding:2px; height:21px;background-color:#EAEBF0; line-height:21px;}
.result_box .result_bd { height:590px; overflow:scroll; overflow-x:hidden;}
.result_box .result_ft { padding:5px; text-align:right; }
.searchresult_rank li { height:60px; margin-top:4px; background:#EAEBF0;}
.searchresult_rank li.selected { background:#BFD3EE; }
.searchresult_rank .line { height:1px; margin:0; border-top:1px solid #EAEBF0;  background:#fff; overflow:hidden;}
.searchresult_rank li.selected .line {border-top:1px solid #BFD3EE; }
.searchresult_rank h5 { padding:5px 10px 0; font-size:14px;  }
.searchresult_rank h5 a { display:block; width:220px; white-space:nowrap; overflow:hidden;text-overflow:ellipsis; moz-text-overflow: ellipsis }
.searchresult_rank h5 .float_right { display:block; width:17px; height:17px; background:url(../img/un_hotel090731.png) -414px -320px; color:#fff; text-align:center; line-height:17px; font-size:12px; font-family:Arial; }
.searchresult_rank li dfn { color:#D35714; font-size:18px; font-family:Arial;}
.searchresult_rankbom { padding:0 10px; color:#0055AA; line-height:24px;}
.searchresult_rankbom .float_right { color:#000; }
.searchresult_rankbom img { vertical-align:middle; }
/*头部tab切换 lou*/
.searchresult_tab1,.searchresult_tab2 {height:25px;padding-left:36px;background:url(../img/bg_16x16.gif) no-repeat 15px -603px;overflow:hidden;position:relative;
z-index:10;}
.searchresult_tab1 li,.searchresult_tab2 li {float:left;line-height:26px;}
.searchresult_tab1 li{margin-right:10px}
.searchresult_tab1 .tagon,.searchresult_tab1 .tagon span{background:url(../img/un.gif) no-repeat;}
.searchresult_tab1 .tagon {height:25px;}
.searchresult_tab1 .tagon span{display:block;line-height:25px;margin-left:5px;padding:0 8px 0 3px;background-position:right -26px}
.searchresult_tab1 .tagoff,.searchresult_tab2 .tagoff {width:71px;height:25px;cursor:pointer;text-align:center;color:#0055AA;}
.searchresult_tab2 .tagoff {width:70px;}
.searchresult_tab2 .tagprice {background:url(../img/un_hotel090731.png) no-repeat -426px -75px;}
.searchresult_tab2 .tagstar {background:url(../img/un_hotel090731.png) no-repeat -414px -107px;}
.searchresult_tab1 .date {float:right;}
.searchresult_tab2 {height:30px;border-top:solid 1px #0066CC;background:#E9F1FE;position:relative;margin-top:-1px;z-index:1;}
.searchresult_tab2 li {line-height:31px;}
.searchresult_tab2 .amount {float:right;overflow:hidden;height:30px;white-space:nowrap;*line-height:normal;}
.searchresult_tab2 .amount input {*vertical-align:-3px;*margin:3px 0 0 0;}
.searchresult_tab2 .page {padding-left:20px;padding-right:5px;}
.searchresult_tab2 .pagenavi{line-height:30px;}
.searchresult_tab2 .tagon, .searchresult_tab2 .tagon_asc, .searchresult_tab2 .tagon_desc{text-align:center;margin-top:5px;line-height:22px;width:86px;height:20px;background-image:url(../img/un_hotel090731.png);background-repeat:no-repeat;cursor:pointer;}
.searchresult_tab2 .tagon {background-position:right -192px;cursor:default;}
.searchresult_tab2 .tagon_asc {background-position:right top;}
.searchresult_tab2 .tagon_desc {background-position:right -48px;}
/*/头部tab切换 lou*/
/*酒店列表框框*/
.searchresult_list{border-top:1px #CBD7E4 solid;position:relative;zoom:1; line-height:30px; height:30px; margin-top:10px}
.searchresult_list .base_btn06{position:absolute; top:2px;right:0}
.searchresult_list .hotel_grid01{background:#EAEBF0;border-top:1px #fff solid;padding:0 10px 0 24px;z-index:1; line-height:30px}
.searchresult_abbrpic{background-repeat:no-repeat;background-position:center center;border:solid 1px #D5D5D5;width:70px;height:70px;display:block;margin:0 auto;}
.searchresult_name{font-size:14px;margin-right:3px;color:#0055AA;}
.searchresult_numstars {margin-left:5px;vertical-align:-2px;*vertical-align:0px;}
.searchresult_desc{margin:6px 0 0 0;}
.searchresult_desc_text{height:38px;overflow:hidden;}
.searchresult_desc p{margin-bottom:4px;}
.searchresult_caption {padding:6px;background:#FFF;}
.searchresult_caption .link {width:95px;height:70px;float:left;background-repeat:no-repeat;background-position:center center;}
.searchresult_caplist {*float:left;padding-left:5px;}
* html .searchresult_caplist {width:485px;}
.searchresult_caplist li {float:left;width:220px;text-align:left;padding-left:20px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;display:inline;background:url(../img/un_hotel090731.png) no-repeat -477px -560px;}
.searchresult_caption .infos {width:96%;white-space:normal;background:url(../img/icon_black.gif) no-repeat 9px 6px;}
.searchresult_capbtn {height:17px;padding-left:18px;display:block;overflow:hidden;text-align:left;background:#E6F2FF url(../img/un_hotel090731.png) no-repeat -439px -527px;}
.searchresult_capbtn:hover {text-decoration:none;}
.searchresult_new {position:absolute;z-index:9999;margin:0;*margin-top:-5px;}
/*电子地图和行政区域小图标*/
.searchresult_emap, .searchresult_elocal{float:left;margin-right:10px;padding-left:18px;background-image:url(../img/bg_16x16.gif);background-repeat:no-repeat;}
.searchresult_emap{background-position:0 -255px;}
.searchresult_elocal{background-position:0 -287px;}
.hotel_datelist01, .hotel_datelist02{clear:both;margin-top:2px;}
.hotel_datelist01 td, .hotel_datelist02 td{border-top:1px #B5B9CA dashed;height:30px;text-align:center;} 
.hotel_datelist01 th, .hotel_datelist02 th{height:21px;line-height:21px;}
.searchresult_switchoff .searchresult_num{visibility:hidden;}
.searchresult_switchon .searchresult_num{position: absolute;width:17px;height:17px;overflow:hidden;text-align:center;line-height:17px;color:#fff;
font-family:"arial black";background:#E53D00;border-top:solid 1px #FFF;z-index:10;cursor:pointer; top:6px; left:4px}
/*电子地图浮出样式*/
.searchresult_popmap {width:590px;height:440px;background:#FFF;border:solid 5px #999;display:none;}
.searchresult_popname {font:13px;font-weight:bold;color:#000;position: absolute;left: 200px;top: 133px;z-index: -127616000;border:solid 1px #C60;background:#FF9;padding:3px;}
.searchresult_popclose {width:43px;height:19px;display:block;overflow:hidden;background:url(../img/un_hotel090731.png) no-repeat 0 -336px;}
.searchresult_popclose:hover {background:url(../img/un_hotel090731.png) no-repeat 0 -288px;}
/*田国法需要的样式*/
#jmpArea {list-style:none;border:1px solid #7F9DB9;background:#FFF;width:512px;padding-left:8px;text-align:left;position:absolute;z-index:100;background-color:#ffffff;display:none;font-size: 12px;}
#jmpArea li {overflow:hidden;zoom:1;}
#jmpArea .hotel_jmpinfo_type {font-size:12px;height:20px;line-height:20px;border-bottom:1px dashed #AAA;margin-right:8px;text-align:center;}
#jmpArea a {width:120px;padding-right:8px;height:22px;line-height:22px;text-decoration:none;float:left;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
#jmpArea a:hover {background-color:#E7F1FD;}
/*===========================================酒店详细页===========================================*/
.detail_title{background:#E1EFFD;padding:10px;font-size:18px;margin:4px 0px;}
.detail_title strong{font-size:18px;font-weight:bold;float:left;}
.detail_title img{margin:5px 0 0 5px;}
.detail_enname{font-size:14px;font-weight:bold;clear:both;font-family:"Times New Roman",serif;}
.detail_collection{background:url(../img/bg_16x16.gif) 0px -354px no-repeat;font-size:12px;font-weight:normal;padding-left:20px;float:right;line-height:20px;margin-top:5px;margin-right: 10px;}
.detail_print{background:url(../img/bg_16x16.gif) 0px -768px no-repeat;font-size:12px;font-weight:normal;padding-left:20px;float:right;line-height:20px;margin-top:5px;}
.detail_realpic{background:url(../img/bg_16x16.gif) 0px -513px no-repeat;font-size:12px;font-weight:normal;padding-left:20px;}
.detail_content{background:#FFF;padding:5px;margin-bottom:20px;}
.detail_comment{padding:5px;padding-bottom:0px;width:120px;color:#666;float:left;margin-left:5px;margin-right:10px;_margin:0 10px 0 5px;background:#e3e3e3;}
.detail_comment dt{background:#fff;padding:5px 8px 0px;height:12px;}
.detail_comment dd {background:#fff;border-bottom:1px solid #a3a3a3;margin-bottom:5px;padding:2px 8px;color:#0055aa;}
.detail_comment strong {font-size:20px;color:#0055aa;font-family:arial;font-weight:100;}
.detail_comment_pic {background:url(../img/pic_comment_color.gif) no-repeat;margin-left:5px;vertical-align:3px;}
.detail_list{list-style:none;padding: 0px 10px;line-height:24px;border-left:1px dashed #CCC;}
.detail_list li{border-bottom:1px dashed #CCC;}
.detail_listmore {background:url(../img/un_hotel090731.png) -430px -592px no-repeat;padding-right:15px;cursor:pointer;}
.detail_info{margin-bottom:10px}
.detail_link{font-size:12px;font-weight:normal;background:url(../img/bg_16x16.gif) 105px -320px no-repeat;}
.detail_dashed td{border-bottom:1px dashed #E4E4E4;padding:2px 0px;}
.detail_extralist th{width:160px;font-weight:normal;}
.detail_extralist th,.detail_extralist td{border-bottom:1px dashed #E4E4E4;text-align:left;padding-top:4px;padding-bottom:4px;}
.detail_extralist dfn{background:#FFF url(../img/bg_16x16.gif) 0px -66px no-repeat;padding-left:16px;}
.detail_extracontent li{list-style:none;float:left;padding-right:25px;white-space:nowrap;}
.detail_cardname {float:left;margin-right:20px;white-space:nowrap;}
.detail_talk,.detail_num{width:100%;overflow:hidden;}
.detail_talk a,.detail_num a {float:left;}
.detail_talk span,.detail_num span {float:left;background:#FFF url(../img/bg_16x16.gif) 0px -447px no-repeat;display:inline;width:16px;height:16px;margin-right:3px;}
.detail_num span{background-position:0px -2012px;}
.detail_map{width:236px;height:208px;border:1px solid #000;}

#tab_m_2 .hotel_grid02 li{width:400px;float:left}
#tab_m_2 .hotel_grid02 #hotelpicwrap{width:220px}
#tab_m_2 .hotel_grid02 .detail_smallpic li{width:35px;margin-top:8px}
#tab_m_2 .hotel_grid02 .detail_smallpic li img{width:35px;height:35px;vertical-align:top;border:0}
.detail_pic{float:right;padding-left:10px;}
.hotel_grid02{position:relative;padding-bottom:15px;zoom:1}
.detail_pic_border {border:1px solid #ccc;padding:4px;width:200px;}
.detail_smallpic img{display:block;}
.detail_smallpic li{border:1px solid #FFF;float:left;padding:1px;margin-right:1px;width:45px;overflow:hidden;height:35px;display:inline;cursor:pointer}
.detail_smallpic .on{border:1px solid #FF6600;}

.jsInfo .jsTab,.jsInfo .jsTab li.cur{background-image:url(../img/bg_01.png);background-repeat:no-repeat}
.jsInfo{margin-bottom:20px}
    .jsInfo .jsTab{height:28px;background-position:0 -32px;background-repeat:repeat-x;line-height:30px;padding-left:15px;overflow:hidden;}
    .jsInfo .jsTab{overflow:hidden;zoom:1}
	.jsInfo .jsTab li{float:left;width:88px;text-align:center;color:#000}
	.jsInfo .jsTab li a{text-decoration:none;font-size:13px;color:#000}
	.jsInfo .jsTab li.cur{background-position:0 0}
	.jsInfo .jsTab li.cur a{text-decoration:none;}
	.jsInfo .jsBd{ padding:10px 10px 0; font-size:14px; color:#000;}
	.jsInfo .jsBd p{ padding-bottom:12px;}
/*==for doctorShow==*/
.Doctorjl{ margin-bottom:10px}
.Doctorjl li{position:relative;zoom:1;height:22px;line-height:22px;overflow:hidden}
.Doctorjl span{position:absolute;top:0;right:0}
#relatedDoctor li{text-align:center;vertical-align:top;}
#relatedDoctor li span{display:block;height:18px;line-height:18px;overflow:hidden;margin-bottom:4px}
#relatedDoctor li img{width:147px;height:128px;vertical-align:top}
