/* CSS Document */

*{ font-size:13px;font-family:"Î¢ÈíÑÅºÚ",Tahoma, "ºÚÌå"}
a{color:#000196;}
body {margin:0px auto;}
.h1 {
	font-size: 16px;
	font-weight: bold;
}
ul
{
list-style-image:none;
list-style-position:outside;
list-style-type:none;
}
li{padding:5px 0;}
